@import '~styles/variables';

.toolbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 15px 0 20px;
  min-height: 65px;

  .hs {
    height: 24px;
    width: 1px;
    margin-right: 20px;
    background-color: $color-border;
  }

  .approve-button {
    margin-right: 10px;
  }

  .unselect-bottom {
    height: 24px;
    background-color: #00B7F8;
    border-radius: 24px;
    color: #FFF;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 0 5px;
    cursor: pointer;
    svg {
      margin-right: 4px;
      height: 13px;
      width: 13px;
    }
    margin-right: 20px;
  }
  .line {
    width: 1px;
    height: 20px;
    display: inline-block;
    border: 1px solid #C4C4C4;
    margin-right: 10px;
  }

  .check-button {
    svg {
      g {
        fill: green;
      }
    }
  }

  .reject-button{

  }

  .delete-button {
    cursor: pointer;
    margin: 0 10px;

    > span > button {
      height: 20px;
      width: 20px;
      svg {
        height: 20px;
        width: 20px;
      }
    }
  }
  .icon {
    margin: 0 10px;
    cursor: pointer;
    svg {
      margin: 0 8px;
    }
  }

  .primary-button {
    margin-left: 12px;
  }

  .icon-button {
    padding: 0 10px;
    border: 0;
  }

  .separator {
    width: 1px;
    height: 15px;
    margin-left: 20px;
    background-color: $tc-gray-50;
  }
}

.copilot-icon {
  width: 20px;
}

.view-mode {
  &.active {
    svg path {
      fill: $tc-green-110;
    }
  }
}

.table-container {
  padding-left: 5px;
  padding-right: 10px;
  background-color: $tc-white;
  border-radius: 3 * $corner-radius;
}

.milestones-table {
  width: 100%;

  th,
  td {
    text-align: left;
    vertical-align: middle;

    // expand arrow
    &:nth-child(1) {}
    // checkbox
    &:nth-child(2) {}
    // milestone
    &:nth-child(3) { padding-left: 5px; }
    // description
    &:nth-child(4) { padding-left: 15px; }
    // start date
    &:nth-child(5) { padding-left: 25px; }
    // end date
    &:nth-child(6) { padding-left: 15px; }
    // status
    &:nth-child(7) { padding-left: 20px; }
    // copilot
    &:nth-child(8) { padding-left: 25px; }
  }

  :global(.edit-milestone-row) {
    th,
    td {
      // description
      &:nth-child(4) { padding-left: 10px; }
      // end date
      &:nth-child(6) {  padding-left: 10px; }
    }
  }

  @media screen and (max-width: 1024px - 1px) {
    th,
    td {
      // description
      &:nth-child(4) { padding-left: 5px; }
      // start date
      &:nth-child(5) { padding-left: 10px; }
      // end date
      &:nth-child(6) { padding-left: 5px; }
      // status
      &:nth-child(7) { padding-left: 10px; }
      // copilot
      &:nth-child(8) { padding-left: 15px; }
    }

    :global(.edit-milestone-row) {
      th,
      td {
        // description
        &:nth-child(4) { padding-left: 5px; }
        // end date
        &:nth-child(6) {  padding-left: 5px; }
      }
    }
  }

  td {
    padding: 10px 0;
    border-top: 1px solid rgba($tc-gray-60, .64);
  }

  :global {
    .checkbox-group-item {
      margin: 0;
      transform: scale(60%);

      > .tc-checkbox {
        > label {
          border-radius: 3 * $corner-radius;
        }
      }

      > label {
        display: none;
      }
    }
  }
}
