@import '~tc-ui/src/styles/tc-includes';

.container {
  display: flex;
  flex-direction: row;
  min-height: 51px;
  width: 100%;
  position: relative;

  & + & {
    margin-top: 2 * $base-unit;
  }

  :global(.Tooltip) {
    margin-left: 5px;
    margin-top: 2px;

    &:global(.customer-data .tooltip-content-container){
      width: 440px;
    }
  }
}

.feed-back {
  position: absolute;
  font-size: 12px;
  right: 0px;
  top: 4px;
  display: flex;
  align-items: center;

  svg {
    width: 15px;
    margin-top: -2px;
  }
}

.member-detail {
  margin-left: 2 * $base-unit;
  overflow: hidden;
}

.member-name {
  @include roboto-bold;
  font-size: 16px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.wk-hour {
  margin-top: $base-unit;
  font-size: 10px;
  color: $tc-gray-50;
}

.local-time {
  align-items: center;
  display: flex;
  font-size: 10px;
  color: $tc-gray-50;
  line-height: 20px;

  svg {
    vertical-align: sub;
    margin-right: $base-unit;
  }
}

.time-info-tooltip {
  height: 20px;
  width: 100%;
  color: $tc-gray-50;
  display: flex;
  justify-content: space-between;

  span {
    font-size: 12px;
    color: $tc-gray-50;
    line-height: 20px;
    white-space: nowrap
  }
}
