@import "~tc-ui/src/styles/tc-includes";
// @import "../../styles/variables";
// TODO where do we add these

:global {
  $tc-heading-extra-small: 14px;
  $tc-body-small: 14px;
  $tc-body-extra-small: 12px;

  @mixin icon($url) {
    background: url("../../assets/images/#{$url}") no-repeat;
  }

  /* wrap to avoid conflicts */
  .team-management {
    border-radius: 0 0 4px 4px;

    @media screen and (max-width: $screen-md - 1px) {
      border-radius: 0;

      .panel .panel-title,
      .panel .btn-action {
        display: none;
      }
    }

    .panel {
      background: $tc-white;
      border-radius: 0 0 4px 4px;
      padding: $base-unit*2 0;
      box-shadow: none;

      @media screen and (max-width: $screen-md - 1px) {
        border-radius: 0;
      }

      .add-member-mobile {
        padding: $base-unit * 2 $base-unit * 5;

        @media screen and (min-width: $screen-md) {
          display: none;
        }

        > button.tc-btn {
          justify-content: center;
          width: 100%;
        }
      }

      .panel-title,
      .panel-body,
      .panel-row {
        padding: $base-unit*2 $base-unit*4;
      }

      .panel-title {
        @include roboto-medium;
        color: $tc-gray-50;
        text-transform: uppercase;
        font-size: $tc-label-sm;
        line-height: $base-unit*3;
      }

      .panel-body {
        &.join-project {
          justify-content: center;
          background-color: $tc-gray-neutral-light;
        }
      }

      .panel-row {
        @include roboto;
        font-size: $tc-label-lg;
        display: flex;
        min-height: 60px;

        .profile {
          flex-grow: 1;
          margin-left: $base-unit*2;

          .name {
            font-weight: bold;
          }

          .self {
            color: $tc-gray-30;
            font-weight: bold;
          }

          .handle {
            font-size: $tc-label-md;
            color: $tc-gray-50;
            display: block;
            margin-top: 6px;
          }
        }

        .title {
          margin-left: $base-unit*2;
          color: $tc-gray-50;
          font-size: $tc-label-sm;

          &.highlight {
            color: $tc-orange;
          }
        }

        .buttons {
          display: none;

          button,
          a {
            display: block;
            float: right;
            border: none;
            cursor: pointer;
            background: transparent;
            opacity: 0.4;
            height: auto;
            width: auto;
            background-size: 16px;
            display: inline-block;
            margin-right: -$base-unit;
            margin-top: 12px;
            transition: 250ms all ease-in-out;

            &:hover {
              opacity: 1.0;
            }
          }
        }

        &.add-team-member {
          cursor: pointer;
          display: flex;
          align-items: center;

          .add-icon {
            padding-top: 10px;
            padding-left: 10px;
            width: 40px;
            height: 40px;
            border: 2px solid $tc-gray-50;
            background-position: center;
            background-size: 16px;
            border-radius: 33px;
          }
        }

        &:hover,
        &.active {
          background-color: $tc-gray-neutral-light;

          .buttons {
            display: block;
          }
        }
      }

      .panel-row:hover {
        .title {
          display: none;
        }
      }
    }

    .panel.modal-active {
      position: relative;

      .modal-overlay {
        position: absolute;
        top: 0;
        left: 0;
        background: $tc-white;
        opacity: 0.8;
        width: 100%;
        height: 100%;
        border-radius: $corner-radius;
        z-index: 1;
      }

      .modal,
      .panel-title {
        position: relative;
        z-index: 2;
      }
    }

    .modal {
      background: $tc-gray-neutral-light;
      border-radius: $corner-radius;
      position: relative;
      padding: $base-unit*2 0;

      .btn-close {
        width: 14px;
        height: 14px;
        display: block;
        position: absolute;
        top: $base-unit*3;
        right: $base-unit*3;
        background-size: $tc-heading-extra-small;
        overflow: hidden;
      }

      .modal-title {
        @include roboto-bold;
        font-size: $tc-label-lg;
        padding: $base-unit*2 $base-unit*4 0 $base-unit*4;
        line-height: $base-unit*4;

        &.title-muted {
          @include roboto-medium;
          color: $tc-gray-50;
          font-size: $tc-label-sm;
          text-transform: uppercase;
          padding-top: $base-unit;
          padding-bottom: $base-unit;
        }

        &.danger {
          color: $tc-red;
        }
      }

      .modal-body {
        @include roboto;
        font-size: $tc-label-md;
        line-height: $base-unit * 4;
        margin: $base-unit*2 $base-unit*4;

        input {
          display: block;
          height: 38px;
          margin: 0 auto;
          color: $tc-black;
          background: $tc-gray-neutral-light;
          border-color: $tc-gray-20;
          @include tc-label-md;

          &[disabled] {
            color: $tc-gray-20;
            background: $tc-white;
          }

          &:hover {
            border-color: $tc-gray-40;
            background: $tc-gray-neutral-light;
          }

          &:focus {
            background: $tc-white !important;
            border-color: $tc-dark-blue !important;
          }

          &.error {
            border-left: 3px solid $tc-red-70 !important;
            background: $tc-gray-neutral-light !important;

            &:focus {
              background: $tc-white !important;
              border-color: $tc-dark-blue !important;
            }
          }
        }

        input::-ms-clear {
          display: none;
        }

        .modal-inline-form {
          display: flex;
          margin-bottom: $base-unit*2;

          button {
            padding: 0 $base-unit*4;
          }

          .input-icon-group {
            position: relative;
            flex-grow: 1;
            height: 40px;
            width: 233px;
            display: flex;
            background: $tc-white;
            border: 1px solid $tc-gray-20;
            box-shadow: inset 0px 0px 2px 0px rgba($tc-gray-30, 0.2);

            input {
              flex-grow: 1;
              display: inline-block;
              border: none;
              box-shadow: none;
              background: $tc-white;


              /* lowercase username placeholder */
              &::-webkit-input-placeholder {
                text-transform: none;
              }

              &::-moz-placeholder {
                text-transform: none;
              }
            }

            .input-icon {
              height: 30px;
              width: 30px;
              margin: 4px;

              &:empty {
                flex-shrink: 0;
                width: 30px;
                background-size: 30px 30px;
                background-color: $tc-gray-20;
                background-position: center;
                border-radius: 34px;
              }

              .Avatar {
                width: 30px;
                height: 30px;
              }
            }
          }
        }

        .message {
          margin-bottom: $base-unit*4;

          strong {
            @include roboto-bold;
          }
        }

        .error-message {
          display: block;
          margin: $base-unit*2 auto;
          @include roboto;
          color: $tc-gray-70;
          font-size: $tc-body-small;
          font-style: italic;
          border: 1px solid $tc-red-30;
          background: $tc-red-10;
          color: $tc-red-70;
          padding: $base-unit*2;
          border-radius: $corner-radius;
          box-sizing: border-box;
          height: 40px;

          strong {
            @include roboto-bold;
          }
        }
        /* Style for dropdown display */
        .dropdown-demo {
          position: absolute;
          top: 42px;
          left: 0px;
          width: 100%;
        }
      }

      &.add-team-member {
        margin-bottom: -$base-unit*2;
      }

      .tab-group {
        width: 160px;
        list-style-type: none;
        padding: 0;
        margin: 10px 0 10px 0;

        ul {
          display: flex;
          width: 200px;
        }

        li {
          flex: initial;
          height: 30px;
          width: 50%;
          padding: 5px 0;
          text-align: center;
          @include roboto-medium;
          font-size: $tc-body-extra-small;
          line-height: 18px;
          box-shadow: none;
          background-color: $tc-white;
          border: 1px solid $tc-gray-30;
          cursor: pointer;

          a {
            color: $tc-gray-80;
            font-weight: normal;
          }

          &:hover {
          }

          &.active {
            cursor: default;
            background: $tc-dark-blue;
            color: $tc-white;
            // box-shadow: inset 0px 1px 3px 0px rgba($tc-gray-80,0.38);
            a {
            }
          }

          &:first-child {
            border-radius: 2px 0 0 2px;
            border-right: none;
          }

          &:last-child {
            border-radius: 0 2px 2px 0;
            border-left: none;
          }
        }
      }
    }

    .member-dropdown {
      @include roboto;
      transform: translateY(-100%);
      position: absolute;
      top: -3px;
      left: 0px;
      width: 100%;
      margin: 0 auto;
      background: $tc-white;
      border: 1px solid $tc-gray-30;
      box-shadow: 0px 1px 2px 1px rgba($tc-gray-90, 0.09);
      border-radius: 2px;
      padding: 10px 0 10px 0;
      max-height: 210px;
      overflow: auto;

      .Avatar {
        height: 30px;
        width: 30px;
        margin: 5px 10px 5px 9px;
        flex-shrink: 0;
      }

      .dropdown-cell {
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover {
          background: $tc-dark-blue-10;
        }

        .handle {
          font-size: $tc-label-lg;
          color: $tc-gray-80;
        }
      }
    }
  }
}
