@import "~tc-ui/src/styles/tc-includes";

:global {
  @mixin icon($url) {
    background: url("../../assets/images/#{$url}") no-repeat;
  }

  .management-dialog-overlay {
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00000078;
    display: flex;
    justify-content: center;
    align-items: center;

    .management-dialog {
      padding: $base-unit*4;
      background: white;
      border-radius: $base-unit;
      margin: $base-unit*4;
      box-shadow: 1px 8px 18px 1px #77777757;

      @media screen and (max-width: $screen-md - 1px) {
        padding: $base-unit*4 $base-unit*2;
        margin: $base-unit;
      }

      .management-dialog-container {
        max-width: 500px;

        @media screen and (max-width: $screen-md - 1px) {
          flex-grow: 1;
        }

        .dialog-title {
          @include roboto;
          margin: $base-unit*4 0;
          font-size: 19px;
          font-weight: 400;
          color: $tc-gray-90;
          text-align: center;
        }

        .dialog-content {
          @include roboto;
          font-size: 13px;
          color: $tc-gray-70;
          line-height: 18px;
          padding: $base-unit*4 $base-unit*5;

          @media screen and (max-width: $screen-md - 1px) {
            padding: $base-unit;
          }
        }

        .dialog-actions {
          margin: $base-unit*5;
          height: 40px;
          display: flex;
          justify-content: center;

          button {
            @include roboto;
            height: 100%;
            margin: $base-unit*2;
          }

          .btn-red {
            background: red;
            border-color: red;
            color: $tc-gray-neutral-light;
          }
        }
      }
    }

    .project-dialog-conatiner {
      background: white;
      border-radius: $base-unit;
      margin: $base-unit*4;
      box-shadow: 1px 8px 18px 1px #77777757;
      display: flex;

      @media screen and (max-width: $screen-md - 1px) {
        margin: $base-unit;
        flex-grow: 1;
      }

      .Avatar {
        height: 40px;
        width: 40px;
      }

      .project-dialog {
        flex-grow: 1;
        width: 650px;

        .dialog-title {
          @include roboto;
          position: relative;
          margin: $base-unit*6 $base-unit*4;
          font-size: 19px;
          font-weight: 400;
          color: $tc-gray-90;
          text-align: center;

          span {
            position: absolute;
            right: 0;
            cursor: pointer;
            top: -$base-unit*2;

            svg {
              fill: $tc-gray-20;
            }
          }
        }

        .dialog-body {
          margin: 0 $base-unit*4;
          margin-top: $base-unit*4;
          border-top: 1px solid rgb(224, 224, 224);
          max-height: 300px;
          overflow-y: auto;

          @media screen and (max-width: 400px) {
            max-height: 200px;
          }
        }

        .dark {
          background: rgb(250, 250, 251);
        }

        @media screen and (max-width: $screen-md - 1px) {
          .project-member-layout > * {
            margin-top: $base-unit;
          }
        }

        .project-member-layout {
          min-height: 60px;
          padding: $base-unit*2 $base-unit*4;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          justify-content: center;

          @media screen and (max-width: $screen-md - 1px) {
            padding: $base-unit*2;
          }

          .memer-details {
            display: flex;
            align-items: center;
            flex-grow: 1;
          }

          .member-name {
            display: flex;
            flex-grow: 1;
            margin-left: $base-unit*4;
            @include roboto-bold;
            color: $tc-black;
            font-size: $tc-label-lg;

            .span-name {
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              max-width: 200px;
              display: inline-block;
              padding-bottom: 2px;
            }

            .member-handle {
              @include roboto;
              margin-left: $base-unit*2;
              color: $tc-gray-60;
            }

            @media screen and (max-width: $screen-md - 1px) {
              margin-left: $base-unit*2;

              .member-handle {
                margin-left: $base-unit;
              }
            }

            @media screen and (max-width: 400px) {
              .span-name {
                max-width: 100px;
              }

              .member-handle {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                max-width: 80px;
                padding-bottom: 2px;
              }
            }
          }

          .member-remove {
            @include roboto;
            color: $tc-dark-blue;
            font-size: $tc-label-sm;
            cursor: pointer;

            .email-date {
              cursor: default;
              color: $tc-gray-40;
              margin-left: $base-unit*3;

              @media screen and (max-width: $screen-md - 1px) {
                display: none;
              }
            }
          }

          .member-role-container {
            margin-left: $base-unit*3;
            display: flex;
            padding: 1px;
            border-radius: 5px;
            border: 1px solid $tc-gray-40;
            background: white;

            .member-role {
              padding: $base-unit $base-unit*2;
              @include roboto;
              color: $tc-gray-70;
              font-size: $tc-label-xs;
              cursor: pointer;
            }

            .member-role.active {
              border-radius: 5px;
              background: $tc-dark-blue;
              color: $tc-white;
            }
          }

          .member-type-wrapper {
            display: flex;
            justify-content: center;

            @media screen and (max-width: $screen-md - 1px) {
              width: 100%;
            }
          }

          .member-type {
            @include roboto;
            padding: $base-unit $base-unit*2;
            margin-left: $base-unit*3;
            color: $tc-white;
            background: $tc-gray-40;
            font-size: $tc-label-xs;
            border-radius: 3px;
          }

          .member-type-blue {
            margin-left: $base-unit*3;
            background: $tc-dark-blue;
          }

          .member-email {
            @include roboto;
            font-size: $tc-label-sm;
            color: $tc-dark-blue;
            display: block;

            > span {
              display: block;
            }

            .email-date {
              cursor: default;
              color: $tc-gray-40;
              margin-top: $base-unit;
              display: none;

              @media screen and (max-width: $screen-md - 1px) {
                display: block;
              }
            }
          }
        }

        .input-container {
          display: flex;
          border-radius: 0 0 $base-unit*2 $base-unit*2;
          flex-direction: column;
          align-items: center;
          margin-top: $base-unit*2;
          padding: $base-unit*2;
          background: #fafafb;
          border-top: 1px solid rgb(224, 224, 224);

          .hint {
            @include roboto-medium;
            margin-top: $base-unit*2;
            width: 100%;
            text-align: center;
            font-size: $tc-label-xs;
            color: $tc-gray-50;
            text-transform: uppercase;
          }

          input {
            width: -webkit-fill-available;
            margin: $base-unit*4 $base-unit*2;
          }

          input[type="text"][disabled] {
            border: 1px solid #aaaaab;
            border-radius: 4px;
            color: white;
            background: #eeeeee;
          }

          button {
            @include roboto-light;
            color: white;
            margin-bottom: $base-unit*6;
          }
        }
      }

      .dialog-placeholder {
        height: 200px;
      }

      .topcoder-dialog {
        width: 750px;
      }

      @media screen and (max-width: $screen-md - 1px) {
        .dialog-body {
          margin: 0 !important;
        }

        .topcoder-dialog {
          width: unset;
        }

        .project-dialog {
          width: unset;
        }
      }
    }
  }

  .team-management-container {
    background: $tc-white;
    padding: $base-unit $base-unit*4;
    box-shadow: none;

    .projects-team {
      margin: $base-unit*3 0;

      .title {
        @include roboto-bold;
        color: $tc-black;
        text-transform: uppercase;
        font-size: $tc-label-xs;
        line-height: $base-unit*4;
      }

      .title-action {
        @include roboto;
        float: right;
        color: $tc-dark-blue;
        cursor: pointer;
      }

      .members {
        margin: $base-unit 0;
        display: flex;
        flex-wrap: wrap;
      }

      .Tooltip {
        margin: $base-unit * 2 $base-unit * 2 $base-unit $base-unit;
      }
    }
  }

  .join-btn {
    @include roboto;
    cursor: pointer;
    padding: $base-unit*2 $base-unit*3;
    display: flex;
    align-items: center;
    height: 40px;
    border: 1px solid $tc-gray-10;
    border-radius: 20px;
    margin: $base-unit*2 0 $base-unit 0;
    color: $tc-gray-70;
    font-size: $tc-label-md;

    svg {
      margin-right: $base-unit * 0.5;
      transform: scale(.6);
      fill: $tc-gray-90;
    }
  }
}
