@import '../../../../../styles/includes';
@import '~tc-ui/src/styles/tc-includes';
// timeline-header specific css
.timeline-header {
  display: flex;
  position: relative;
  padding: 10px 0;
  background: #fff;

  @include roboto;
  a,
  a:visited,
  a:active {
    color: $tc-dark-blue-100;
  }
  .col-empty-left {
    background-color: $tc-gray-neutral-light;
    flex: 0 70px;
    padding: 10px 20px 10px 10px;
    margin: -10px 0;
  }
  .col-content-right {
    position: relative;
    padding-left: 36px;
    padding-right: 20px;
    flex: 1;
  }
  .post-title {
    color: $tc-black;
    font-size: 28px;
    font-weight: 300;
    line-height: 35px;
    text-align: left;
    margin: 10px 0;
  }
  .post-con {
    color: $tc-gray-60;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;

    strong {
      font-weight: bold;
    }
    i {
      font-style: italic;
    }
    a {
      &:hover{
        text-decoration: underline;
      }
    }
  }
}
