  // this is to include tc styles in the output library
@import '~tc-ui/src/styles/tc-includes';

:global {
  .notification-settings-form {
    > .table {
      margin-top: 22px;
      width: 100%;

      td {
        padding: 0;
        text-align: left;
        vertical-align: top;
      }

      tr > th,
      tr .th {
        @include roboto;
        color: $tc-gray-80;
        font-size: 15px;
        line-height: 25px;
        text-align: left;
        padding: 0;
        vertical-align: top;
      }

      tbody > tr {
        border-top: 1px dashed $tc-gray-30;

        > th {
          padding: 20px 0;
        }

        > td {
          padding: 22.5px 0;

          @media screen and (max-width: $screen-md - 1px) {
            text-align: center;

            & > .SwitchButton > label {
              margin: 0 auto;
            }
          }
        }
      }

      thead > tr {
        border-bottom: 1px solid $tc-gray-50;

        > th {
          padding-bottom: 11px;
        }

        > th:last-child {
          width: 170px;

          @media screen and (max-width: $screen-md - 1px) {
            text-align: center;
            width: auto;
          }
        }

        > th:nth-child(2) {
          width: 170px;

          @media screen and (max-width: $screen-md - 1px) {
            text-align: center;
            width: auto;
          }
        }

        > th:first-child {
          font-size: 20px;
        }
      }

      tbody > tr:last-child {
        border-bottom: 1px solid $tc-gray-50;
      }

      .fixed-value {
        @include roboto-medium;
        background-color: $tc-gray-40;
        border-radius: 10px;
        display: inline-block;
        color: $tc-white;
        font-size: 11px;
        height: 20px;
        line-height: 20px;
        padding: 0 10px;
      }

      .th-with-icon {
        display: inline-block;
        height: 0;

        > img,
        > span {
          display: inline-block;
          vertical-align: middle;
        }

        > span {
          margin-left: 10px;
          margin-bottom: 10px;
        }

        @media screen and (max-width: 430px - 1px) {
          > span {
            display: block;
            margin-left: $base-unit;
            margin-right: $base-unit;
          }
        }
      }

      .none {
        background-color: $tc-gray-40;
        display: inline-block;
        height: 2px;
        margin-top: 9px;
        width: 21px;
      }

      .bundle-emails {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: -3px 0;
      }

      .SwitchButton label {
        margin-top: 0;
      }

      .SwitchButton .label {
        display: none;
      }
    }

    > .controls {
      margin-bottom: 3 * $base-unit;
      margin-top: 6 * $base-unit;
      text-align: center;
    }
  }
}
