  // this is to include tc styles in the output library
@import '~tc-ui/src/styles/tc-includes';

:global {
  .notification-settings-form {
    > .table {
      border-collapse: collapse;
      border-radius: 2 * $corner-radius;
      overflow: hidden;
      width: 100%;

      .description_desktop, .description_mobile {
        @include roboto;
        text-align: left;
        color: $tc-gray-60;
        font-size: 12px;
        font-weight: normal;
        line-height: 14px;
      }

      .description_desktop {
        padding-top: 5px;
        @media screen and (max-width: $screen-md - 1px) {
          display: none;
        }
      }

      .description_mobile {
        @media screen and (min-width: $screen-md) {
          display: none;
        }
      }

      td, th {
        padding: 15px;
        text-align: left;
        vertical-align: top;
      }

      tr > th,
      tr .th {
        @include roboto;
        color: $tc-black;
        font-size: 13px;
        line-height: 25px;
        text-align: left;
      }

      tbody > tr {
        &:nth-child(2n) {
          border-bottom: 1px solid $tc-gray-05;
          > td {
            text-align: left;
            padding-top: 0;
          }
        }
        &:nth-child(2n + 1) {
          > td {
            vertical-align: middle;
          }
          @media screen and (min-width: $screen-md) {
            border-bottom: 1px solid $tc-gray-05;
          }
        }

        > th {
          font-size: 14px;
          font-weight: bold;
          vertical-align: middle;
        }

        > td {
          text-align: center;

          @media screen and (max-width: $screen-md - 1px) {
            text-align: center;
          }

          > * {
            margin: 0 auto;
          }
        }
      }

      thead > tr {
        background: $tc-gray-neutral-dark;

        > th {

          .title {
            @media screen and (max-width: $screen-md - 1px) {
              display: none;
            }
          }
        }

        > th:last-child {
          width: 200px;
          text-align: center;

          @media screen and (max-width: $screen-md - 1px) {
            text-align: center;
            width: 35%;
          }
        }

        > th:nth-child(2) {
          width: 170px;
          text-align: center;

          @media screen and (max-width: $screen-md - 1px) {
            min-width: 70px;
            width: 20%;
            text-align: center;
          }
        }

        > th:first-child {
          color: $tc-black;
          font-size: 16px;
          font-weight: bold;
          @media screen and (max-width: $screen-md - 1px) {
            font-size: 14px;
          }
        }
      }

      .fixed-value {
        @include roboto-medium;
        background-color: $tc-gray-40;
        border-radius: 10px;
        display: inline-block;
        color: $tc-white;
        font-size: 11px;
        height: 20px;
        line-height: 20px;
        padding: 0 10px;
      }

      .th-with-icon {
        display: inline-block;
        height: 0;

        > img,
        > span {
          display: inline-block;
          vertical-align: middle;
        }

        > span {
          margin-left: 10px;
          margin-bottom: 10px;
        }

        @media screen and (max-width: 430px - 1px) {
          > span {
            display: block;
            margin-left: $base-unit;
            margin-right: $base-unit;
          }
        }
      }

      .none {
        background-color: $tc-gray-40;
        display: inline-block;
        height: 2px;
        margin-top: 9px;
        width: 21px;
      }

      .bundle-emails {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: -3px 0;
      }

      .SwitchButton label {
        margin-top: 0;
      }

      .SwitchButton .label {
        display: none;
      }
    }

    > .controls {
      margin-bottom: 3 * $base-unit;
      margin-top: 6 * $base-unit;
      text-align: center;
    }

    .SelectDropdown {
      margin: 0;
      .tc-link {
        @include roboto;
        font-size: $tc-body-sm;
      }
    }
  }

  // checkbox-ctrl styles
  .checkbox-ctrl {
    width: 20px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;

    .checkbox-text {
      position: relative;
      padding-left: 20px;
      &:before {
        position: absolute;
        left: 0;
        top: 0;
        content: '';
        background-color: $tc-white;
        border: 1px solid $tc-gray-neutral-light;
        border-radius: 3px;
        width: 20px;
        height: 20px;
      }
    }
    .checkbox {
      display: none;
      &:checked + .checkbox-text {
        &:before {
          background: url('../../../../../assets/icons/check-blue.svg') 50% no-repeat;
          background-size: 11px;
          border-radius: 3px;
        }
      }
    }
  }
}
