@import '~tc-ui/src/styles/tc-includes';
@import '../../styles/includes';

:global {
  .rich-editor {
    padding: 2 * $base-unit 0 0;
    position: relative;

    .title-edit-actions {
      position: absolute;
      right: 24px;
      top: 50%;
      transform: translateY(-50%);
      background-color: $tc-gray-10;
      border-radius: 3px;

      & > span {
        padding: 8px;
        display: inline-block;
        cursor: pointer;
      }
    }

    &.expanded {
      .tc-textarea .textarea-footer .textarea-footer-inner {
        display: block;

        .textarea-footer-inner-top {
          display: flex;
          @media screen and (max-width: $screen-rg - 1px) {
            display: block;
          }
        }
      }

      &.is-private.modal {
        background-color: $tc-orange-10;
      }
    }

    .modal-row {
      display: flex;
      padding: 0 4 * $base-unit;

      .object {
        flex-grow: 1;
        margin-left: 0;
        /* this is necessary to prevent draft editor textarea to go beyond flex container
           when we put very long line without spaces,
           see issue https://github.com/appirio-tech/connect-app/issues/2661 */
        overflow: hidden;
      }

      .portrait + .object {
        margin-left: 2 * $base-unit;
      }

      .portrait {
        .Avatar {
          width: 40px;
          height: 40px;
        }
      }
    }

    /* additionally rewrite style with heavier selector */
    &.modal .modal-row {
      padding: 0 2 * $base-unit;
    }

    .new-post-title {
      margin: 0;
    }

    .addLinkButton {
      position: relative;
    }

    .addLinkModal {
      top: 30px;
      left: 50%;
      transform: translate(-50%) scale(1);
      position: absolute;
      border: 1px solid $tc-gray-20;
      background: $tc-white;
      border-radius: 2px;
      box-shadow: 0 1px 18px 0 rgba($tc-black, 0.3);
      z-index: 2;
      box-sizing: border-box;

      .modalWrapper {
        white-space: nowrap;
        background: $tc-white;
        box-shadow: 0 1px 18px 0 rgba($tc-black, 0.3);
        position: relative;
        background-color: white;
        width: 360px;
      }

      .modalInput {
        display: inline-block;
        background-color: transparent;
        border: none;
        box-shadow: none;
        color: $tc-black !important;
        font-size: 15px;
        height: auto;
        line-height: 1.2;
        margin: 0;
        padding: 16px;
        width: 270px;
        @include placeholder {
          font-size: 15px;
        }
      }

      .modalInput:focus {
        outline: none;
        box-shadow: none !important;
        background: transparent !important;
      }

      .modalButton {
        padding: 0;
        cursor: pointer;
        border: 0;
        height: 26px;
        width: 26px;
        margin-right: 5px !important;
        background: transparent;
        padding-right: 16px;
        color: $tc-gray-30;
      }

      .modalButton:hover {
        color: $tc-red;
      }

      .modalButtonWrapper {
        display: inline-block;
        vertical-align: middle;
      }

      .modalError {
        transition: height 0.2s ease-in-out;
        color: $tc-white;
        font-size: 12px;
        margin: -8px 2rem 0 2rem;
      }
    }

    .tc-textarea {
      max-width: 100%;

      .public-DraftEditor-content,
      textarea {
        @include roboto;
        min-height: 2px + 40px + 25px; /* border + height of one line field + one more line */
        color: $tc-gray-80;
        line-height: $base-unit*5;
        font-size: $tc-label-md;
        border-color: $tc-gray-30; /* to match input border colors */
        padding-top: (40px - 25px) / 2;    /* one line input height minus line-height */
        padding-bottom: (40px - 25px) / 2; /* one line input height minus line-height */

        &:hover {
          border-color: $tc-gray-50;
          box-shadow: none;
        }

        &:focus,
        &:focus:hover {
          border-color: $tc-dark-blue-70;
          box-shadow: 0 0 2px 1px $tc-dark-blue-30;
        }
      }

      &.has-footer {
        textarea {
          margin-bottom: 0;
          border-bottom: none;
        }
      }

      .textarea-footer {
        padding: $base-unit 0;

        .textarea-footer-inner {
          display: none;
        }

        .textarea-buttons {
          display: flex;
          align-items: center;

          button,
          .separator {
            margin-right: 1px;
            display: inline-block;
            border: none;
            background-color: transparent;
            padding: 0px;
          }

          .button {
            cursor: pointer;
          }

          .separator {
            width: 1px;
            height: 20px;
            background-color: $tc-gray-30;
            margin-left: 8px;
            margin-right: 8px;
          }

          button {
            &:hover,
            &:disabled {
              opacity: 0.5;
            }

            &.active {
              opacity: 1;
            }
          }
        }

        .tc-btn {
          margin-left: auto;
        }

        .tc-attachment {
          &-button {
            a{
              cursor: pointer;
              color: $tc-dark-blue;
              &:hover {
                text-decoration: underline;
              }
            }
            margin-right: 20px;
          }
        }

        .tc-btns {
          display: flex;
          align-items: center;
          margin-left: auto;

          .SwitchButton label {
            margin: 0 10px 0 0;

            .label {
              padding: 0 0 0 10px;
              order: 1;
            }
          }

          @media screen and (max-width: $screen-rg - 1px) {
            padding-top: $base-unit;
          }

          .tc-btn {
            margin-left: 10px;

            @media screen and (max-width: $screen-rg - 1px) {
              margin-left: 0;
              margin-right: 2 * $base-unit;
            }
          }
        }
      }
    }
  }

  .public-DraftEditorPlaceholder-root {
    @include roboto;

    position: absolute;
    padding-left: 10px;
    padding-top: 5px;
    line-height: 30px;
    color: $tc-gray-40;
    pointer-events: none;
  }

  .public-DraftEditorPlaceholder-hasFocus {
    display: none !important;
  }

  .action-card .comment .tc-textarea .public-DraftEditor-content {
    min-height: 40px;
  }

  .action-card .comment .textarea-footer {
    display: none !important;
  }

  .action-card .expanded .comment .textarea-footer {
    display: flex !important;
  }

  .hide-title {
    display: none !important;
  }

  span.bbcode-u {
    text-decoration: underline;
  }

  .editor-tool {
    border-radius: 3px;
    display: flex;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
  }

  .tool-active {
    background-color: $tc-gray-90;
  }

  .tool-inactive {
    background-color: transparent;
  }

  .attachment-files {
    margin-top: 10px;
    width: 50%;
    li{
      @include roboto;
      font-size: $tc-label-md;
      color: $tc-dark-blue-110;
      line-height: 1;
      padding: $base-unit 0 $base-unit 0;
      display: flex;

      &.clickable {
        cursor: pointer;
      }

      &.is-active {
        background-color: $tc-gray-neutral-dark;

        &:not(.delete-confirmation-modal):hover {
          background-color: $tc-gray-neutral-dark;
        }
      }

      .button-group {
        margin-left: auto;
        padding-left:20px;
        width: 110px;
      }

      .buttons{
        visibility: hidden;
        margin-right: 5px;
        margin-left: auto;
        button {
          padding: 0;
          background: transparent;
          border: none;
          cursor: pointer;
          opacity: 0.4;
          height: 16px;
          width: 16px;
          background-size: 16px;
          display: inline-block;
          margin-left: 15px;
        }
      }
      a {
        color: $tc-dark-blue-110;
        line-height: $base-unit*4;
        max-width: 220px;
        text-overflow: ellipsis;
        overflow-x: hidden;

        &:visited {
          color: $tc-dark-blue-110;
        }
      }
    }
    @media screen and (min-width: $screen-md) {
      li:hover{
        background: $tc-gray-neutral-light;
        color: $tc-dark-blue;

        .buttons{
          display: block;
        }
        .link-buttons{
          visibility: visible;
        }
      }
    }

    li:before {
      content: '\b7\a0';
      font-size: 200%;
      color: $tc-dark-blue-110;
      line-height: $base-unit*3;
    }
  }
}