@import '~tc-ui/src/styles/tc-includes';

:global {
  .panel {
    background: $tc-white;
    border-radius: $corner-radius;
    padding: $base-unit*2 0;
    position: relative;
    // box-shadow: 0 1px 2px 0 rgba(0,0,0,0.20);

    .panel-title,
    .panel-body {
      padding: $base-unit*2 $base-unit*4;
    }

    .panel-title {
      @include roboto-bold;
      color: $tc-gray-80;
      text-transform: uppercase;
      font-size: $tc-label-xs;
      line-height: $base-unit*4;
    }

    .panel-body {
      &.join-project {
        background-color: $tc-gray-neutral-light;
      }
    }

    .btn-action {
      position: absolute;
      top: $base-unit*4;
      right: $base-unit*4;
      border-radius: 21px;
      height: 4 * $base-unit;
      width: 4 * $base-unit;

      &:hover {
        opacity: 0.7;
      }

      .plus {
        background-color: $tc-gray-40;
        border-radius: 10px;
        width: 4 * $base-unit;
        height: 4 * $base-unit;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          fill: $tc-white;
          width: 8px;
          height: 8px;
        }
      }

      .remove svg {
        background-color: $tc-white;
        fill: $tc-gray-40;
      }

      .close {
      }
    }
  }

  .panel.modal-active {
    position: relative;

    .modal-overlay {
      position: absolute;
      top: 0;
      left: 0;
      background: $tc-white;
      opacity: 0.8;
      width: 100%;
      height: 100%;
      border-radius: $corner-radius;
      z-index: 1;
    }

    .modal,
    .panel-title {
      position: relative;
      z-index: 2;
    }
  }

  .panel {
    &.panel-gray {
      background: $tc-gray-neutral-light;
      margin-bottom: -10px;
    }

    &.panel-orange {
      background-color: $tc-orange-10;
    }

    .panel-body {
      &.active {
        position: relative;

        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 10;
          left: 0;
          width: 2px;
          height: 90%;
          background: $tc-dark-blue-70;
        }
      }
    }
  }
}
