@import '~tc-ui/src/styles/tc-includes';

.measurer {
  height: 0;
  position: relative;
  overflow: hidden;

  .list {
    position: absolute;
    flex-wrap: nowrap;
  }
}

.filters {
  display: flex;

  :global(.UserDropdownMenu) {
    padding: 0;

    :global(.Dropdown) {
      left: auto;
      right: 0;
      width: auto;
    }
  }
}

.list {
  display: flex;
  height: 30px;
  flex-wrap: wrap;
  overflow: hidden;
}

.item {
  cursor: pointer;
  padding: 0 15px;
  margin-right: 5px;
  font-size: 13px;
  line-height: 30px;
  @include roboto-medium;
  color: $tc-gray-50;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &.active,
  &:hover {
    color: $tc-black;
    @include roboto-medium;
    font-size: 13px;
    background-color: $tc-white;
    border-radius: 6px;
    box-shadow: 0px 1px 3px 0px $tc-gray-30;
  }
}
