@import 'tc-includes';

.content.content-error {
  .container {
    width: 100%;
    background: $tc-gray-neutral-dark;
  }
}

.page-error {
  border-radius:4px;
  position: relative;
  padding-top: 55px;
  text-align: center;
  min-height: 606px;
  min-width: 768px;
  width: 970px;
  margin: 20px auto 0;
  background: #ffffff;
  .icon-coder-broken {
    margin: 6% 20%;
    float: left;
  }
  background-size: 307px 300px;
  a{
    color: $tc-dark-blue;
    &:hover {
      text-decoration: underline;
    }
  }
  h3{
    color: $tc-gray-70;
    @include roboto-medium;
    font-size: 48px;
    letter-spacing: 0px;
    padding: 0 168px 25px 168px;
    line-height: inherit;
  }
  p{
    text-align: left;
    padding: 0 168px;
    @include roboto;
    font-size: $tc-label-lg;
    color: $tc-gray-70;
    letter-spacing: 0px;
    line-height: 23px;
  }
  span{
    position: absolute;
    left: 49%;
    top: 45%;
    @include roboto-medium;
    font-size: 190px;
    color: $tc-orange-30;
    letter-spacing: 0px;
  }
}
