@import '~styles/variables';

.challenge-table-row-wrap {
    font-weight: 400;
    font-size: 13px;
    color: #6b6b6b;
}

.challenge-empty-row {
  text-align: center;
}

.challenge-table-row {
  display: flex;
  align-items: center;
  .title {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 30px;
    margin-right: 10px;
    color: #0A81FF
  }
  .status {
    width: 100px;
    margin-right: 10px;
    div {
      border-radius: 20px;
      padding: 4px 0;
      text-align: center;
      color: #fff;
      &.New { background-color: $tc-yellow-100; }
      &.Active { background-color: $tc-green-100; }
      &.Draft { background-color: $tc-gray-20; }
      &.Completed { background-color: $tc-dark-blue-100; }
      &.Cancelled { background-color: $tc-gray-100; }
    }

  }
  .type {
    width: 100px;
    margin-right: 10px;
    div {
      border-radius: 20px;
      padding: 4px 0;
      text-align: center;
      color: #fff;
      &.Design { background-color: #0076A5; }
      &.Development { background-color: #328732; }
      &.DataScience { background-color: #BA4C00; }
      &.QualityAssurance { background-color: #8231A9 }
    }
  }

  .start-date {
    width: 90px;
    margin-right: 10px;
  }

  .end-date {
    width: 90px;
  }

}
