@import '~tc-ui/src/styles/tc-includes';

.feed {
  background-color: #fff;
  padding: 3 * $base-unit 4 * $base-unit 1 * $base-unit;

  :global(.comment-count) {
    display: none;
  }

  :global(.comment-collapse) {
    overflow: hidden;
    position: relative;
    height: 24px;
    margin: 3 * $base-unit 0;

    &::before {
      border-top: 1px solid $tc-gray-10;
      content: '';
      display: block;
      margin-top: 12px;
    }

    > a {
      @include roboto;
      background-color: $tc-gray-10;
      border-radius: 12px;
      color: $tc-gray-50;
      display: block;
      font-size: 13px;
      left: 50%;
      line-height: 24px;
      position: absolute;
      padding: 0 3 * $base-unit;
      transform: translateX(-50%);
      top: 0;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

.date {
  @include roboto;
  color: $tc-gray-50;
  font-size: 13px;
  line-height: 40px;
}

.title {
  @include roboto-medium;
  color: $tc-black;
  font-size: 15px;
  line-height: 25px;
  margin-top: 3 * $base-unit;
}

.text {
  @include roboto;
  color: $tc-gray-70;
  font-size: 15px;
  line-height: 25px;
  margin-top: 3 * $base-unit;
}

.feed-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1 * $base-unit;
}

.feed-actions :global(.tc-btn.tc-btn-md) {
  font-weight: normal;
  padding-left: 0;
  padding-right: 0;

  &:first-child {
    color: $tc-gray-40;
  }
}

.no-comments {
  @include roboto;
  color: $tc-gray-40;
  font-size: 15px;
  line-height: 40px;
}
