@import '~tc-ui/src/styles/tc-includes';

.feed {
  background-color: #fff;
  padding: 3 * $base-unit 4 * $base-unit 1 * $base-unit;

  & + & {
    margin-top: 2 * $base-unit;
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

.date {
  @include roboto;
  color: $tc-gray-50;
  font-size: 13px;
  line-height: 40px;
}

.title {
  @include roboto-medium;
  color: $tc-black;
  font-size: 15px;
  line-height: 25px;
  margin-top: 3 * $base-unit;
}

.text {
  @include roboto;
  color: $tc-gray-70;
  font-size: 15px;
  line-height: 25px;
  margin-top: 3 * $base-unit;
}

.feed-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1 * $base-unit;
}

.feed-actions :global(.tc-btn.tc-btn-md) {
  font-weight: normal;
  padding-left: 0;
  padding-right: 0;

  &:first-child {
    color: $tc-gray-40;
  }
}

.no-comments {
  @include roboto;
  color: $tc-gray-40;
  font-size: 15px;
  line-height: 40px;
}
