@import '~tc-ui/src/styles/tc-includes';
@import '../../styles/includes';

.container {
  background-color: $tc-white;
  border-radius: 0 0 $card-border-radius $card-border-radius;
  margin-top: -1px;

  :global {
    .rich-editor .tc-textarea .public-DraftEditor-content {
      padding-bottom: (40px - 25px) / 2; /* input height minus line-height */
      padding-top: (40px - 25px) / 2;    /* input height minus line-height */
      min-height: 0;
    }

    .rich-editor .tc-textarea .public-DraftEditorPlaceholder-root {
      padding-top: (40px - 25px) / 2; /* input height minus line-height */
      line-height: 25px;
    }
  }

  &.is-fullscreen {
    border-radius: 0;
    padding-bottom: 62px;
  }
}

.comments {
  padding-bottom: 2 * $base-unit;
}

.load-more {
  background-color: $tc-white;
  padding: 2 * $base-unit 0 $base-unit;
  text-align: center;

  @media screen and (max-width: $screen-md - 1px) {
    background-color: transparent;
    padding-bottom: 0;
    position: relative;

    &::before {
      border-top: 1px solid $tc-gray-10;
      content: '';
      display: block;
      left: 0;
      top: 12px + 2 * $base-unit; // padding-top + half of .load-btn
      position: absolute;
      width: 100%;
    }
  }

  .load-btn {
    @include roboto;

    background-color: $tc-white;
    border: 1px solid $tc-gray-neutral-dark;
    border-radius: 40px;
    color: $tc-dark-blue-110;
    display: inline-block;
    height: 20px;
    font-size: 11px;
    line-height: 20px;
    padding: 0 2 * $base-unit;
    position: relative;

    &:hover {
      color: $tc-dark-blue-110;
    }

    @media screen and (max-width: $screen-md - 1px) {
      background-color: $tc-gray-10;
      border-radius: 12px;
      color: $tc-gray-50;
      font-size: 13px;
      height: 24px;
      line-height: 24px;
      padding: 0 3 * $base-unit;

      &:hover {
        color: $tc-gray-50;
      }
    }
  }
}

.date-splitter,
.unread-splitter {
  height: 20px;
  margin: 0 4 * $base-unit;
  position: relative;
  text-align: center;

  &::before {
    content: '';
    border-top: 1px solid $tc-gray-10;
    display: block;
    left: 0;
    position: absolute;
    top: 10px;
    width: 100%;
  }

  &:first-child {
    margin: 0 0 -10px 0;
    top: -10px;
    position: relative;

    .date,
    .unread {
      background-color: $tc-gray-neutral-light;
      box-shadow: 0 1px 2px 0 $tc-gray-20, 0 1px 0 0 $tc-gray-20;
    }

    .unread {
      padding-right: 3 * $base-unit;
      right: $base-unit;
    }
  }

  .date,
  .unread {
    @include roboto-bold;
    background-color: $tc-white;
    border-radius: 23px;
    color: $tc-black;
    display: inline-block;
    font-size: 11px;
    line-height: 20px;
    height: 20px;
    padding: 0 3 * $base-unit;
    position: relative;
    z-index: 3;
  }

  .unread {
    @include roboto;

    color: $tc-red-70;
    display: none;
    right: 0;
    top: 0;
    padding-right: 0;
    position: absolute;
  }
}

.unread-splitter {
  &::before {
    border-top-color: $tc-red-30;
  }

  .unread {
    display: block;
  }
}

.add-comment {
  background-color: $tc-gray-neutral-light;
  border-radius: 0 0 $card-border-radius $card-border-radius;

  .is-fullscreen & {
    border-top: 1px solid $tc-gray-10;
    bottom: 0;
    position: fixed;
    right: 0;
    /* minus sidebar width and minus sidebar border width */
    width: calc(100% - 360px - 1px);
    z-index: 5;

    /* if there is not enough space for sidebar to be 360
       than it becomes 1/3 of the width */
    @media screen and (min-width: $screen-md) and (max-width: 360px * 3) {
      /* two third of the width minus 1px of the width of the sidebar */
      width: calc(100% / 3 * 2 - 1px);
    }

    @media screen and (max-width: $screen-md - 1px) {
      width: 100%;
    }
  }
}

.no-comments {
  @include roboto;
  color: $tc-gray-40;
  font-size: 15px;
  line-height: 40px;
}

.mobile-actions {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2 * $base-unit;

  .is-fullscreen & {
    align-items: center;
    background-color: $tc-gray-neutral-light;
    border-top: 1px solid $tc-gray-10;
    bottom: 0;
    left: 0;
    padding-bottom: 0;
    position: fixed;
    height: 62px;
    width: 100%;
    z-index: 5;
  }
}

.sticky-container {
  display: none;

  .is-fullscreen & {
    display: block;
    position: fixed;
    right: 0;
    /* primary toolbar height - 1px for header border */
    margin-top: 60px - 1px;
    /* minus sidebar width and minus sidebar border width */
    width: calc(100% - 360px - 1px);
    z-index: 6;

    /* if there is not enough space for sidebar to be 360
       than it becomes 1/3 of the width */
    @media screen and (min-width: $screen-md) and (max-width: 360px * 3) {
      /* two third of the width minus 1px of the width of the sidebar */
      width: calc(100% / 3 * 2 - 1px);
    }

    @media screen and (max-width: $screen-md - 1px) {
      /* -1px for header border */
      margin-top: -1px;
      width: 100%;
    }
  }
}
