@import '~tc-ui/src/styles/tc-includes';
@import './draftjs.scss';

.header {
  align-items: center;
  background-color: $tc-black;
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 0 $base-unit * 3;

  :global {

    .SwitchButton label {
      margin: 0;

      .label {
        padding: 0 0 0 10px;
        order: 1;
      }
    }
  }
}

.title {
  @include roboto;
  color: $tc-gray-10;
  font-size: 15px;
  text-transform: uppercase;
}

.close-wrapper {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-left: 59px;
  > svg {
      fill: $tc-gray-neutral-light;
  }
}

.plug {
  width: 83px; /* same width as close button to align center title */
}

.body {
  display: flex;
  flex-direction: column;
  background-color: $tc-gray-neutral-dark;
  height: calc(100vh - 50px); /* window height - header height */
  position: relative;
}

.submit-wrapper {
  > button:global(.tc-btn.tc-btn-md) {
    border-radius: 0;
    height: 47px;
    line-height: 47px;
    justify-content: center;
    width: 100%;
  }
}

.textarea,
.textarea[disabled] {
  @include roboto;
  border-radius: 0;
  display: block;
  font-size: 15px;
  line-height: 25px;
  flex: 1;
  margin: 0;
  padding: 4 * $base-unit;
  resize: none;

  &::placeholder {
    color: $tc-gray-40;
  }
}

.textarea[disabled] {
  /* keep border for disabled textarea to avoid text jumping */
  border: 1px solid $tc-gray-40;
}

/* rewrite styles for RichTextEditor */
:global(.dashboard-container) :global(.right-area) .body {
  :global {
    .new-post-composer {
      background-color: transparent;
      border-radius: 0;
      margin-bottom: 0;

      .draftjs-editor {
        display: block;
      }
    }

    .action-card {
      box-shadow: none;
      padding: 0;
    }

    .modal-row {
      padding: 0;
    }

    .modal .object {
      margin-left: 0;
    }

    .btn-close,
    .new-post-title,
    .portrait,
    .tc-btns,
    .textarea-footer {
      display: none;
    }

    .action-card .tc-textarea .public-DraftEditor-content, .action-card .tc-textarea textarea {
      @include roboto;
      font-size: 15px;
      line-height: 25px;
      /* window height - top bar height - submit button height - padding bottom */
      height: calc(100vh - 50px - 47px - 20px);
      padding: 4 * $base-unit;
    }

    .public-DraftEditorPlaceholder-root {
      @include roboto;
      font-size: 15px;
      line-height: 25px;
      padding: 4 * $base-unit;
    }
  }
}

.attachment-files-mobile {
  width: 50%;
  li{
    @include roboto;
    font-size: $tc-label-md;
    color: $tc-dark-blue-110;
    line-height: 1;
    padding: $base-unit 0 $base-unit 0;
    display: flex;

    &.clickable {
      cursor: pointer;
    }

    &.is-active {
      background-color: $tc-gray-neutral-dark;
    }

    .button-group {
      margin-left: auto;
      padding-left:20px;
      width: 110px;
    }

    .buttons{
      margin-right: 5px;
      margin-left: auto;
      button {
        padding: 0;
        background: transparent;
        border: none;
        cursor: pointer;
        opacity: 0.4;
        height: 16px;
        width: 16px;
        background-size: 16px;
        display: inline-block;
        margin-left: 15px;
      }
    }
    a {
      color: $tc-dark-blue-110;
      line-height: $base-unit*4;
      max-width: 220px;
      text-overflow: ellipsis;
      overflow-x: hidden;

      &:visited {
        color: $tc-dark-blue-110;
      }
    }
  }

  li:before {
    content: '\b7\a0';
    font-size: 200%;
    color: $tc-dark-blue-110;
    line-height: $base-unit*3;
  }
}

.tc-attachment-button {
  width: 50%;
  a{
    float: right;
    cursor: pointer;
    color: $tc-dark-blue;
    &:hover {
      text-decoration: underline;
    }
  }
  margin-right: 20px;
}

.attachment-wrapper {
  padding: 10px;
  display: flex;
}
