@import '~tc-ui/src/styles/tc-includes';

:global {
  .new-post-composer {
    margin-bottom: 10px;
    background-color: $tc-white;

    .btn-close {
      display: none;
    }

    .modal-row {
      padding-bottom: 0px;

      &:hover {
        background-color: inherit;
      }

      .new-post-title {
        font-size: 20px;
      }
    }

    input {
      margin-bottom: 0px;
    }

    .draftjs-editor {
      display: none;
    }

    &.expanded {
      .btn-close {
        display: block;
      }

      input {
        margin-bottom: 2 * $base-unit;
      }

      .draftjs-editor {
        display: block;
      }
    }

    &.expanded.modal {
      background-color: $tc-gray-neutral-light;
    }
  }
}
