@import '~tc-ui/src/styles/tc-includes';
:global {
  $status-height: 30px;
  .gridview-content .EditableProjectStatus {
    margin-top: 10px;
  }

  .ProjectStatus {
    position: relative;
    height: $status-height;
  
    .status-icon {
      position: relative;
      display: inline-block;
      min-width: 4 * $base-unit;
      width: 4 * $base-unit;
      height: 4 * $base-unit;
      // top: 3px;
  
      i {
        display: block;
        width: 4 * $base-unit;
        height: 4 * $base-unit;
      }
    }
  
    .status-label {
      position: relative;
      @include tc-label-xs;
      line-height: $base-unit*4;
      height: $base-unit*4;
      padding-right: $base-unit;
      margin-left: 10px;
    }
  }
  
  .EditableProjectStatus {
    &.modal-active {
      .modal-overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }

    .status-label {
      vertical-align: top;
    }
  
    .status-header {
      display: flex;
      // position: absolute;
      height: $status-height;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border-radius: $base-unit*4;
      cursor: default;
  
      .caret {
        display: none;
      }
  
      &.editable {
        cursor: pointer;
  
        &:hover {
          &::after {
          }
        }
  
        .caret {
          // content: '';
          // z-index: 3;
          display: inline-block;
          width: 9px;
          height: 20px;
          position: relative;
          margin-left: 5px;
          // right: 5px;
          // top: 8px;
          // background-size: 9px 4px;
          path {
            stroke: $tc-gray-70;
          }
  
          .Icon {
            width: 100%;
            height: 100%;
            display: block;
          }
        }
      }
  
  
      &.unified-header {
        background-color: $tc-gray-40;
  
        .status-label {
          color: $tc-white;
        }
      }
    }
  
    .status-label {
      position: relative;
      @include tc-label-xs;
      height: $base-unit*4;
      padding-right: $base-unit;
      margin-left: 10px;
    }
  
    // Stylize the dropdown elements
    .status-dropdown {
      min-width: 150px;
      position: absolute;
      border-radius: $base-unit;
      box-shadow: 0 0 15px rgba($tc-black, .25);
      padding: 10px 0;
      position: absolute;
      background: $tc-white;
      top: -2 * $base_unit;
      left: auto;
      right: -10px;
      z-index: 20;
      transition: 250ms all;
  
      &.dropdown-up {
        top: auto;
        bottom: 0;
      }
  
      .status-header {
        @include roboto-medium;
        font-size: $tc-label-md;
        text-align: left;
        color: $tc-black;
        line-height: 30px;
        padding-left: 20px;
        margin-bottom: 2px;
        white-space: nowrap;
      }
  
      .status-option {
        display: flex;
        @include roboto-medium;
        font-size: $tc-label-md;
        text-align: left;
        line-height: 30px;
        padding: 0 20px;
        white-space: nowrap;
  
        &:hover {
          background: $tc-dark-blue-10;
        }
  
        &.active {
          background: $tc-gray-10;
        }
  
        svg {
          margin-top: 7px;
        }
  
        .status-label {
          color: $tc-gray-80;
          line-height: 30px;
          font-size: 13px;
        }
      }
    }
  }
}
  
