@import 'tc-includes';
$status-height: 20px;
// TODO: unsed css
.ProjectStatus {
  position: relative;
  height: $status-height;

  .status-icon {
    position: relative;
    display: inline-block;
    min-width: 4 * $base-unit;
    width: 4 * $base-unit;
    height: 4 * $base-unit;
    // top: 3px;

    i {
      display: block;
      width: 4 * $base-unit;
      height: 4 * $base-unit;
    }
  }
  /*
  &.ps-draft {
    .status-icon {
      i {
        background: url('../../assets/images/ps-draft.svg') no-repeat -7px -4px;
        // background-size: cover;
      }
    }
  }

  &.ps-in_review {
    .status-icon {
      i {
        background: url('../../assets/images/ps-in_review.svg') no-repeat -7px -4px;
        // background-size: cover;
      }
    }
  }

  &.ps-reviewed {
    .status-icon {
      i {
        background: url('../../assets/images/ps-reviewed.svg') no-repeat -7px -4px;
        // background-size: cover;
      }
    }
  }

  &.ps-active {
    .status-icon {
      i {
        background: url('../../assets/images/ps-active.svg') no-repeat;
        // background-size: cover;
      }
    }
  }

  &.ps-cancelled {
    .status-icon {
      i {
        background: url('../../assets/images/ps-cancelled.svg') no-repeat -7px -4px;
        // background-size: cover;
      }
    }
  }

  &.ps-completed {
    .status-icon {
      i {
        background: url('../../assets/images/ps-completed.svg') no-repeat -7px -4px;
        // background-size: cover;
      }
    }
  }

  &.ps-paused {
    .status-icon {
      i {
        background: url('../../assets/images/ps-paused.svg') no-repeat -7px -4px;
        // background-size: cover;
      }
    }
  }
  */

  .status-label {
    position: relative;
    @include tc-label-xs;
    line-height: $base-unit*4;
    height: $base-unit*4;
    padding-right: $base-unit;
    margin-left: 10px;
  }
}

.EditableProjectStatus {
  .status-label {
    vertical-align: top;
  }

  .status-header {
    display: flex;
    // position: absolute;
    height: $status-height;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: $base-unit*4;
    cursor: default;

    .caret {
      display: none;
    }

    &.editable {
      cursor: pointer;

      &:hover {
        &::after {
        }
      }

      .caret {
        // content: '';
        // z-index: 3;
        display: inline-block;
        width: 9px;
        height: 20px;
        position: relative;
        margin-left: 5px;
        // right: 5px;
        // top: 8px;
        background-size: 9px 4px;

        .Icon {
          width: 100%;
          height: 100%;
          display: block;
        }
      }
    }
    /* TODO: Unsolved 
    &.active {
      &::after {
        background: url('../../assets/images/arrows-9px-carret-down-expanded.svg') no-repeat 50% 50%;
      }
    }
    */

    &.unified-header {
      background-color: $tc-gray-40;

      .status-label {
        color: $tc-white;
      }
    }
  }

  .status-label {
    position: relative;
    @include tc-label-xs;
    height: $base-unit*4;
    padding-right: $base-unit;
    margin-left: 10px;
  }

  .status-dropdown {
    min-width: 150px;
    position: absolute;
    border-radius: $base-unit;
    box-shadow: 0 0 15px rgba($tc-black, .25);
    padding: 10px 0;
    position: absolute;
    background: $tc-white;
    top: -2 * $base_unit;
    left: auto;
    right: -10px;
    z-index: 2;
    transition: 250ms all;

    &.dropdown-up {
      top: auto;
      bottom: 0;
    }

    .status-header {
      @include roboto-medium;
      font-size: $tc-label-md;
      text-align: left;
      color: $tc-black;
      line-height: 30px;
      padding-left: 20px;
      margin-bottom: 20px;
      white-space: nowrap;
    }

    a.status-option {
      display: flex;
      @include roboto-medium;
      font-size: $tc-label-md;
      text-align: left;
      line-height: 30px;
      padding: 5px 16px 5px 2px;
      white-space: nowrap;

      &:hover {
        background: $tc-dark-blue-10;
      }

      &.active {
        background: $tc-dark-blue-10;
      }

      .status-label {
        color: $tc-gray-80;
        padding-right: 0px;
        font-size: 13px;
      }
    }
  }
}