@import 'tc-includes';
$status-height :  20px;

.ProjectStatus {
  position: relative;
  height: $status-height;
  .status-icon {
    position: relative;
    display: inline-block;
    min-width: 4 * $base-unit;
    width: 4 * $base-unit;
    height: 4 * $base-unit;
    // top: 3px;

    i {
      display: block;
      width: 4 * $base-unit;
      height: 4 * $base-unit;
    }
  }

  .ps-draft {
    .status-icon {
      i {
        background: url('../../assets/images/ps-draft.svg') no-repeat -7px -4px;
        // background-size: cover;
      }
    }
  }

  .ps-in_review {
    .status-icon {
      i {
        background: url('../../assets/images/ps-in_review.svg') no-repeat -7px -4px;
        // background-size: cover;
      }
    }
  }

  .ps-reviewed {
    .status-icon {
      i {
        background: url('../../assets/images/ps-reviewed.svg') no-repeat -7px -4px;
        // background-size: cover;
      }
    }
  }

  .ps-active {
    .status-icon {
      i {
        background: url('../../assets/images/ps-active.svg') no-repeat;
        // background-size: cover;
      }
    }
  }

  .ps-cancelled {
    .status-icon {
      i {
        background: url('../../assets/images/ps-cancelled.svg') no-repeat -7px -4px;
        // background-size: cover;
      }
    }
  }

  .ps-completed {
    .status-icon {
      i {
        background: url('../../assets/images/ps-completed.svg') no-repeat -7px -4px;
        // background-size: cover;
      }
    }
  }

  .ps-paused {
    .status-icon {
      i {
        background: url('../../assets/images/ps-paused.svg') no-repeat -7px -4px;
        // background-size: cover;
      }
    }
  }

  .status-header {
    display: flex;
    // position: absolute;
    height: $status-height;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    border-radius: $base-unit*4;
    cursor: default;

    &.editable {
      cursor: pointer;
      &:hover {
        &::after {

        }
      }
      .caret {
        // content: '';
        z-index: 3;
        display: inline-block;
        width: 9px;
        height: 5px;
        position: absolute;
        right: 5px;
        top: 8px;
        background-size: 9px 4px;
        background: url('../../assets/images/arrow-9px-carret-down-normal.svg') no-repeat 50% 50%;
      }
    }

    &.active {
      &::after {
        background: url('../../assets/images/arrows-9px-carret-down-expanded.svg') no-repeat 50% 50%;
      }
    }

    &.unified-header {
      background-color: $tc-gray-40;

      .status-label {
        color: $tc-white;
      }
    }
  }

  .status-label {
    position: relative;
    @include tc-label-xs;
    line-height: $base-unit*4;
    height: $base-unit*4;
    padding-right: 4 * $base-unit;
    margin-left: 10px;
  }

  .status-dropdown {
    min-width: 110%;
    position: absolute;
    border-radius: $base-unit;
    box-shadow: 0 0 15px rgba(0, 0, 0, .25);
    padding: 10px 0;
    position: absolute;
    background: $tc-white;
    top: -2*$base_unit;
    left: 0px;
    right: auto;
    z-index: 2;
    .status-header {
      @include roboto-medium;
      font-size: $tc-label-md;
      text-align: left;
      color: $tc-black;
      line-height: 30px;
      padding-left: 20px;
      margin-bottom: 20px;
      white-space: nowrap;
    }

    a.status-option {
      display: flex;
      @include roboto-medium;
      font-size: $tc-label-md;
      text-align: left;
      line-height: 30px;
      padding: 5px 16px 5px 10px;
      white-space: nowrap;
      &:hover {
        background: $tc-dark-blue-10;
      }
      &.active {
        background: $tc-dark-blue-10;
      }

      .status-label {
        color: #394146;
        padding-right: 0px;
        font-size: 13px;
      }
    }
  }
}