@import "tc-includes";

.project-status {
  display: flex;
  border-top: 1px solid $tc-gray-10;
  align-items: baseline;
  margin: 15px 0;
  padding-top: 10px;
  position: relative;
  .status-dropdown {
    border-radius: $base-unit;
    box-shadow: 0 0 15px rgba(0, 0, 0, .25);
    padding: 10px 0;
    position: absolute;
    background: $tc-white;
    top: 27px;
    right: -28px;
    z-index: 2;
    a {
      display: block;
      @include roboto-medium;
      font-size: $tc-label-md;
      color: #394146;
      text-align: left;
      line-height: 30px;
      padding: 0 16px 0 10px;
      &:hover {
        background: $tc-dark-blue-10;
      }
      &.active {
        background: $tc-dark-blue-10;
      }
      span {
        display: inline-block;
        position: relative;
        top: 5px;
        margin-right: 10px;
        border-radius: 100%;
        width: 20px;
        height: 20px;
        &.draft {
          background: url('../../assets/images/dot.png') no-repeat 6px 50%;
          background-size: 8px;
          background-color: $tc-gray-40;
        }
        &.working {
          background: url('../../assets/images/dot.png') no-repeat 6px 50%;
          background-size: 8px;
          background-color: $tc-green;
        }
        &.error {
          background-color: $tc-red;
          .status-icon {
            position: absolute;
            left: 4px;
            top: 4px;
            display: block;
            height: 12px;
            width: 12px;
            mask: url('../../assets/images/ui-16px-e_round-e-alert.svg') no-repeat 50% 50%;
            -webkit-mask: url('../../assets/images/ui-16px-e_round-e-alert.svg') no-repeat 50% 50%;
            background-color: $tc-white;
            mask-size: 12px;
            -webkit-mask-size: 12px;
          }
        }
        &.completed {
          background-color: $tc-gray-70;
          .status-icon {
            position: absolute;
            left: 4px;
            top: 4px;
            display: block;
            height: 12px;
            width: 12px;
            mask: url('../../assets/images/ui-16px-1_check-simple.svg') no-repeat 50% 50%;
            -webkit-mask: url('../../assets/images/ui-16px-1_check-simple.svg') no-repeat 50% 50%;
            background-color: $tc-white;
            mask-size: 12px;
            -webkit-mask-size: 12px;
          }
        }
      }
    }
  }
  .status-label {
    cursor: default;
    position: relative;
    margin-left: auto;
    border-radius: $base-unit*4;
    @include roboto-medium;
    font-size: $tc-label-sm;
    color: $tc-white;
    line-height: $base-unit*4;
    height: $base-unit*4;
    padding: 0 $base-unit*5 0 $base-unit*5;
    &.draft {
      background: url('../../assets/images/dot.png') no-repeat 6px 50%;
      background-size: 8px;
      background-color: $tc-gray-40;
    }
    &.working {
      background: url('../../assets/images/dot.png') no-repeat 6px 50%;
      background-size: 8px;
      background-color: $tc-green;
    }
    &.error {
      background-color: $tc-red;
      .status-icon {
        position: absolute;
        left: 5px;
        top: 4px;
        display: block;
        height: 12px;
        width: 12px;
        mask: url('../../assets/images/ui-16px-e_round-e-alert.svg') no-repeat 50% 50%;
        -webkit-mask: url('../../assets/images/ui-16px-e_round-e-alert.svg') no-repeat 50% 50%;
        background-color: $tc-white;
        mask-size: 12px;
        -webkit-mask-size: 12px;
      }
    }
    &.completed {
      background-color: $tc-gray-70;
      .status-icon {
        position: absolute;
        left: 5px;
        top: 4px;
        display: block;
        height: 12px;
        width: 12px;
        mask: url('../../assets/images/ui-16px-1_check-simple.svg') no-repeat 50% 50%;
        -webkit-mask: url('../../assets/images/ui-16px-1_check-simple.svg') no-repeat 50% 50%;
        background-color: $tc-white;
        mask-size: 12px;
        -webkit-mask-size: 12px;
      }
    }
    &::after {
      content: '';
      display: inline-block;
      width: 9px;
      height: 5px;
      position: absolute;
      right: 10px;
      top: 8px;
      background-size: 9px 4px;
      background: url('../../assets/images/arrow-9px-carret-down-normal.svg') no-repeat 50% 50%;
    }
    &.editable {
      cursor: pointer;
      &:hover {
        &::after {
          background: url('../../assets/images/arrows-9px-carret-down-expanded.svg') no-repeat 50% 50%;
        }
      }
    }
    &.active {
      &::after {
        background: url('../../assets/images/arrows-9px-carret-down-expanded.svg') no-repeat 50% 50%;
      }
    }

  }
}
