@import 'tc-includes';
$status-height :  20px;

.ProjectStatus {
  position: relative;
  height: $status-height;

  .status-icon {
    position: relative;
    display: inline-block;
    min-width: 4 * $base-unit;
    width: 4 * $base-unit;
    height: 4 * $base-unit;
    // top: 3px;
  }

  .ps-draft, .ps-in_review, .ps-reviewed {
    display: inline-block;
    .status-icon {
      background-color: $tc-gray-40;
      border-radius: 100%;
      i {
        position: absolute;
        left: 4px;
        top: 4px;
        display: block;
        background: url('../../assets/images/dot.png') no-repeat 50% 50%;
        background-size: 8px;
        height: 12px;
        width: 12px;
      }
    }
  }

  .ps-active {
    display: inline-block;
    .status-icon {
      background-color: $tc-green;
      border-radius: 100%;
      i {
        position: absolute;
        left: 4px;
        top: 4px;
        display: block;
        background: url('../../assets/images/dot.png') no-repeat 50% 50%;
        background-size: 8px;
        height: 12px;
        width: 12px;
      }
    }
  }

  .ps-paused {
    display: inline-block;
    .status-icon {
      background-color: $tc-red;
      border-radius: 100%;
      i {
        position: absolute;
        left: 4px;
        top: 4px;
        display: block;
        height: 12px;
        width: 12px;
        background: url('../../assets/images/ui-16px-e_round-e-alert.svg') no-repeat 50% 50%;
        background-size: 12px 12px;
      }
    }
  }

  .ps-cancelled, .ps-completed {
    display: inline-block;
    .status-icon {
      background-color: $tc-gray-70;
      border-radius: 100%;
      i {
        position: absolute;
        left: 4px;
        top: 4px;
        display: block;
        height: 12px;
        width: 12px;
        background: url('../../assets/images/ui-16px-1_check-simple.svg') no-repeat 50% 50%;
        background-size: 12px 12px;
      }
    }
  }

  .status-header {
    display: flex;
    // position: absolute;
    height: $status-height;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    border-radius: $base-unit*4;
    cursor: default;

    &.editable {
      cursor: pointer;
      &:hover {
        &::after {

        }
      }
      .caret {
        // content: '';
        display: inline-block;
        width: 9px;
        height: 5px;
        position: absolute;
        right: 5px;
        top: 8px;
        background-size: 9px 4px;
        background: url('../../assets/images/arrow-9px-carret-down-normal.svg') no-repeat 50% 50%;
      }
    }

    &.active {
      &::after {
        background: url('../../assets/images/arrows-9px-carret-down-expanded.svg') no-repeat 50% 50%;
      }
    }

    &.unified-header {
      background-color: $tc-gray-40;

      .status-label {
        color: $tc-white;
      }
    }
  }

  .status-label {
    position: relative;
    @include roboto-medium;
    font-size: $tc-label-sm;
    line-height: $base-unit*4;
    height: $base-unit*4;
    padding-right: 4 * $base-unit;
    margin-left: 10px;
  }

  ul.status-dropdown {
    position: absolute;
    border-radius: $base-unit;
    box-shadow: 0 0 15px rgba(0, 0, 0, .25);
    padding: 10px 0;
    position: absolute;
    background: $tc-white;
    top: $status-height;
    left: 0px;
    right: auto;
    z-index: 2;
    a.status-option {
      display: flex;
      @include roboto-medium;
      font-size: $tc-label-md;
      text-align: left;
      line-height: 30px;
      padding: 5px 16px 5px 10px;
      white-space: nowrap;
      &:hover {
        background: $tc-dark-blue-10;
      }
      &.active {
        background: $tc-dark-blue-10;
      }

      .status-label {
        color: #394146;
        padding-right: 0px;
      }
    }
  }
}