@import '~tc-ui/src/styles/tc-includes';
@import '../styles/includes';

/* demo page specific styles */
.v3-component-demolist{
  .viewport {
    margin: 0 auto;
    padding: 20px 30px;
    max-width: 820px;

    @include viewSm {
      padding: 15px 0;
    }
  }

  @include viewSm{
    padding: 15px 0;
  }
}
.group-title {
  color: #753488;
  font-weight: 300;
  padding-top: $base-unit*2;
  padding-bottom: $base-unit;
}
h3 {
  color: #404041;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  padding-bottom: $base-unit*2;
  padding-top: $base-unit*2;
}
