@import '~tc-ui/src/styles/tc-includes';
@import '~appirio-tech-react-components/components/Wizard/screen-size.scss';

:global {
  .WizardCreateProject {
    margin-top: -60px; // Counteract the push from the main wrapper, top of vewport
    align-content: flex-start;

    @include mobile-tablet {
      margin-top: 0;
    }
  }
  .WizardMiddle {
    display: flex;
    justify-content: center;
    padding: 0;
  }
}

.create-container {
  height: 100%;
  width: 100%;
}