node_modules
bower_components
.DS_Store
.tmp
build
dist
npm-debug.log
.history
.build-info
.idea

# e2e test case
connect-automation/temp
connect-automation/test-results
# avoid accidental pushing of the production config to the repository
connect-automation/config/connect-automation-config-prod.json