language: node_js
node_js:
- 5.5.0
install:
- npm install
script:
- npm run lint && npm test && npm run build
sudo: false
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
deploy:
- provider: s3
  cache_control: private, no-store, no-cache, must-revalidate, max-age=0
  detect_encoding: true
  access_key_id: $AWS_KEY
  secret_access_key: $AWS_SECRET
  bucket: connectv2.topcoder-dev.com
  skip_cleanup: true
  local_dir: dist
  on:
    branch: dev
- provider: s3
  cache_control: private, no-store, no-cache, must-revalidate, max-age=0
  detect_encoding: true
  access_key_id: $QA_AWS_KEY
  secret_access_key: $QA_AWS_SECRET
  bucket: connectv2.topcoder-qa.com
  skip_cleanup: true
  local_dir: dist
  on:
    branch: qa
env:
  matrix:
  - CXX=g++-4.8
  global:
  - secure: VZGhD2GYgEq18ECi87iPdp/PjRpYsGtvoXNn5qs2xSdmVUI7HbClGFQXftiwUWOlTJ+4TwiEsbykVB6VK2ePfM2rRr222tPKaJ6q7az8wkdJPaNo87/PTYZbnV1nOvs11GlLRJC/kYGpdDgShLhdO77lv5lLpL9fvengu7UVPjNTmHVwIiwYVOzASrNTNRd6gB/3Yf9QhnIQPPjIB6MApVqIwhUamyFEZnJV7sJa7z7hwCXujBkqsLoPDuJqWZYJjrWUz2g2DD1OzGqae9xO05RG5RwgC6ABGPMSt6+V/Q4xzRIDV+ogQXGg0aMWv4eNacdjG8GSHzBKVr0u5zUYiNmXIvrGf5tEo+3GdCx/RcWrJmB+bvJSY7H5bsr4auEKMv4u1u3vXyBtr86klUmqZvNZNZJpNt3cLUsrDsRgrtSEoYJ01bSLdYxuuWe++/ssDyYq0tkl+cf1/rk5NlmQOJPa9Vu1V5sMqgx3NKwhkL650HTwUOJhgvfmh5K0quwnQrc0idh4yMCyR4UX4yPGrzplYfarvce8yvOTjRmmgF4QWeAZl3a9myAI+Rp5I3ZV2dgjfVCaRbQKLdYW0eEnkGGhhap3yHYsdrudLtpRd+u/rJB6k8cJHHQvL3OkdSkbahQ4j0XvxRElJ7ucRJsP8SN9T1FmkvKb8fn8zHaex3s=
  - secure: PG2eUElqRRmuskRQAsFxHggyj7Ci2KQh82x/ke/QKPcL6VyCQRYCVuMmfFnmmqzdIzCXPGA7QN+g2p1TPufBunLjoszsaq4nSJs0OZyH6viUqQHGjnnzr2+hORuqPS0nKiKTYEjrB+iiVV//E4axtJD0DuqUJODPS8C5MqdLpClSn2TWySiINa5pGTlVn1QqbnxmabltVIgiZhiOtU2hqIRsSQD21GljM7lj9y3ZsXIYHhEgaEUY6s7nWVkTy0nsVByZshzf6mtoGh9eZLzxILQ50GsKAVJLUzanzBQO55u916nmIHmcMxPXNPkUpMwlG0AWSxzTHMMLOQbnVTcD0MWSyEtsYR/vpWu5kxN7RDVBDtFtyO1hYHP8ggW+mIFEaPgpHFTIb8tMZWQ0jGAM2AoMP3aN4XoL9IGYKNw9/LkV+7lLWEZtgcehIxg7Lwdp4hINoNQ4cfY937+2ThxiaiwAyB2Xvoi7ER4zXUZyiXdHqPFP4EV368QeQXjzGyHoDhXNNO9AzgQTWfk7iq3B7RPSP5uQLv7Z61AkyAK78F0f3jo529gp0fB7J84NCMkZtvJnN40u4DXfQP/zJVJHfaJ1nRiim5egNtdzoHHnTL1kQrJpp/+yaf7ZghCJpIYymEoy5Es6H8UCQJoDKHiXlWqZBxPsrJkFAvMxe3qmXTE=
  - secure: Q+cczazPHfMFPTh3EUYElozt+UkOMKC3tHlRbiBKVHkJpgxxH03Bqs+vgWc2XDo/6Ge9xFGOCT28CJf1Q4Gs7Dm0N0TlME5RlVrZjS78h+85K/ZwTSo4Bu70Wk1hm2wZ9EJtumrzoKEXy+L/8XSTzMIjkhkDqbjp9GZuYxrbQrJSPvYntWMNBP6hht1H/MtLlZVGtcRTFkOy/2u+hy1ELgvHSRAqWqLJfP+CdjtkryllGKWrZ1JXtiCuSEkp1jB9QVDLV1cNGVFqfWwPPU+DbhZNEN/H3jdztWmBVdXuIl9SZUBsq2//CEAUf4wX4mzzuGjl/Y8sXni39yTCpFdjWwywxWPFHbg+qog9gOOayaQ7vSeCuARn+mJqoVtGiLAQJWHiIa+QeXo6lABlXBBI3KohnFd7qi4v89P/fJrzRXd5wAnsstkSNJoVdC2+E8XPl95QHDOaVoDubxZMaexmUleXO68sczEZcs1zutkFEMudt0iS1HuTpTislY8bWQwyU9rW0VsWc0PrlDgQZBZuZUCAH8fx3QlIghGN9wUqM3x1JMW9fH389B6i8FmZrkxSwhGlg/zpAFEr6xg3mnuZvV/SDIy6URUwjWY/DKca0Gk2P8+KQEXR7627pFc4Os86LQhoO1oNFPVHDHvvn5MWdNcXqkMf9isTb24JzAzuFUs=
  - secure: FQN6bnwY2uIhV7IxF/JrvFXErefhox+yhKZ/97q2yB+l+k4032RSOsJl0MdX4Khi0DR8Dqex8nR0emMX245Yj+zcjkfn3MLuTR454xERQiYqZ4ULJqQAbkdHQ4XHHU2JQeD2gLbXHSsbu6EXXWPEsTpoW4xAwcI3O9S14kmbN172CCIi54Ac8RQ6Z3oJ3LKGnToyXov/cMXstV3PCXBMrZVLMDQP5UEvbP+Ze+HrAIx4OnF9CMlWfa0SRFltjmNA5Lkg9iL+LRcjZMa+2F1U/uuMLXO4KLkUK1YgVf5pY8LKDZUVajdlyoTsLVdffrAutKiEvwsBMq4FXgJzr5aFs+xdA4dcRYM8WzwzMo8Wk8sMtLoW8An0fzDDBYD+gP+k+iL+XdriGtPOi0u/wIDguglLehMtsKwnnawS8eQ6cwgSa4jW3NPcvJuTmVgQWUvAez71ZZ0KC/WQVBsUUerMDnpmSsnPpnekJDNFBJmzS7hLF/ERuDG2yZsu1/yXPC0bVHz09WDVR7GA5ajQpSXBREXmf080fdDE20zA6gFKHYPnQvP4J6aJwDJ/VX63B0idI1DXXMMTitjuebDff9tP7AWwv+M1gkCTof6x+eJ84Zd80B9TO7nFcYCXQQHVXt9BMpOoov2iPv5lEFykh4qAwy0Mqv5IYwuvSAq6A6oh1as=
# enable once travis supports branch specific builds
# notifications:
#   slack:
#     secure: iVeMQ0kU5ydDtuVZkJtiO4ofjqiLNZBko5cbscqKbCO8hlsyozO6g9Pg90PqILEMcoPbiLDDNtBpLfL4GSdE0PfIiwMnbCDBnBaZ+dc/BqLMbJpAMxn7fnmK322b+/JCRGFDe+3xOEHnhgFgRubx0UFGb/6LVni0lN++k0rwV5gfzVw3G+rUT5ozSDoDMci+A8moMPKOKLswOGbOv/PF5OzV2rA8IQ5LTqLHXI19IpDZ0rZJZpOM3nmbbbF5/pLBgvseqKD/Fy/lOX0Cj6Z7oqOqZxXC2YI1cPkCCdam80FlH0tn2RqPyn6lJxQkF5DQNAtSut6NvhlS1vUNGF5EQ3RdtAQ3Zf5MbLKjmBcLWizy8mJtlV9HhrO2gHGyS4oCfIVqJWmRECPZKOVk4Bid9A2BAnJnzu49JUL+FRMW66P+pdwkPF4GK1yEl+GzR3QGiX1b+xHR1aNgD+xmmnKSNGx6nWNJIEYLY6QtNSiLIKndheRbyNnY7YoseORNyrPANTLPlgxgS5yY5B9G2Bi5rYbDmqI/bSD3pY2Bg+a4KLpq0/SR5wAN6sn8b6WpKBKv/O/3auat0GckeouK+Arvl4ow+k92DzOBpKkwj286Z5tNd/hHQY67QRf1YJn+laKf7kK1uVRzIKTZbHRBdDwS5UcaQHYImTqoLtpzR0HtvUo=
#   on_failure: change
