@import '~tc-ui/src/styles/tc-includes';
@import '../../../../styles/includes';

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 400px;

  :global(.tc-btn-lg) {
    height: 70px;
    line-height: 68px;
    font-size: 30px;
  }
}
