@import "tc-includes";
// FIXME
@mixin flexBox {
  display: box;
  display: flex;
  flex-direction: row;
}
// FIXME
@mixin flexWidth($number) {
  -webkit-box-flex: $number;
  -moz-box-flex: $number;
  -webkit-flex: $number;
  -ms-flex: $number;
  flex: $number;
}

// FIXME
.dashboard-container {
  @include flexBox;
  display: flex;
  max-width: 1110px;
  margin: 50px auto;
  .left-area {
    @include flexWidth(1);
    max-width: 360px;

    .dashboard-left-panel {
      padding-bottom: 10 * $base-unit;
    }
  }
  .right-area {
    @include flexWidth(2);
    margin-left: 4 * $base-unit;

    .feed-action-card {
      margin-top: 4 * $base-unit;
    }
  }
}
