@import "tc-includes";
// FIXME
@mixin flexBox {
  display: flex;
  flex-direction: row;
}
// FIXME
@mixin flexWidth($number) {
  -webkit-box-flex: $number;
  -moz-box-flex: $number;
  -webkit-flex: $number;
  -ms-flex: $number;
  flex: $number;
}

// FIXME
.dashboard-container {
  @include flexBox;
  max-width: 1110px;
  margin: 20px auto;
  
  .left-area {
    @include flexWidth(1);
    max-width: 360px;

    .dashboard-left-panel {
      padding-bottom: 10 * $base-unit;
      .form-group {
        .tc-label {
          font-size: 12px;
          color: $tc-gray-50;
          text-transform: capitalize;
        }
        input {
          background-color: $tc-white;
          border-color: $tc-gray-20;
        }
      }
    }
  }
  .right-area {
    @include flexWidth(2);
    margin-left: 4 * $base-unit;

    .new-post-composer {
      margin-bottom: 4 * $base-unit;
      background-color: $tc-white;

      .btn-close {
        display: none;
      }
      
      .modal-row {
        padding-bottom: 0px;

        &:hover {
          background-color: inherit;
        }

        .new-post-title {
          font-size: 20px;
        }
      }

      input {
        margin-bottom: 0px;
      }

      .draftjs-editor {
        display: none;
      }

      &.expanded {

        .btn-close {
          display: block;
        }

        input {
          margin-bottom: 2 * $base-unit;
        }

        .draftjs-editor {
          display: block;
        }
      }

      &.expanded.modal {
        background-color: $tc-gray-neutral-light;
      }
    }

    .feed-action-card + .feed-action-card {
      margin-top: 4 * $base-unit;
    }
  }
}
