@import '~tc-ui/src/styles/tc-includes';

:global {
  // FIXME
  @mixin flexBox {
    display: flex;
    flex-direction: row;
  }
  // FIXME
  @mixin flexWidth($number) {
    -webkit-box-flex: $number;
    -moz-box-flex: $number;
    -webkit-flex: $number;
    -ms-flex: $number;
    flex: $number;
  }

  .sideAreaWrapper {
    border: 1px solid $tc-gray-20;
    border-radius: 4px;

    @media screen and (max-width: $screen-md - 1px) {
      border: 0;
      border-radius: 0;
    }
  }

  .dashboard-container {
    @include flexBox;
    max-width: 1110px;
    margin: 20px auto;
    padding: 0 20px;

    @media screen and (max-width: $screen-md - 1px) {
      flex-direction: column;
      margin-bottom: 0;
      padding: 0;
    }

    .left-area {
      @include flexWidth(1);
      max-width: 360px;

      @media screen and (max-width: $screen-md - 1px) {
        max-width: 100%;

        .footer-v2 {
          display: none;
        }
      }

      .dashboard-left-panel {
        padding-bottom: 2 * $base-unit;

        @media screen and (max-width: $screen-md - 1px) {
          padding-bottom: 4 * $base-unit;
        }

        .form-group {
          .tc-label {
            font-size: 12px;
            color: $tc-gray-50;
            text-transform: capitalize;
          }

          input {
            background-color: $tc-white;
            border-color: $tc-gray-20;
          }
        }

        .panel + .panel {
          border-radius: 0;
        }
      }
    }

    .right-area {
      @include flexWidth(2);
      margin-left: 4 * $base-unit;
      max-width: 730px;//1110px - 360px - 20px(margin-left);

      @media screen and (max-width: $screen-md - 1px) {
        max-width: 100%;
        margin-left: 0;
      }

      .new-post-composer {
        margin-bottom: 10px;
        background-color: $tc-white;

        .btn-close {
          display: none;
        }

        .modal-row {
          padding-bottom: 0px;

          &:hover {
            background-color: inherit;
          }

          .new-post-title {
            font-size: 20px;
          }
        }

        input {
          margin-bottom: 0px;
        }

        .draftjs-editor {
          display: none;
        }

        &.expanded {
          .btn-close {
            display: block;
          }

          input {
            margin-bottom: 2 * $base-unit;
          }

          .draftjs-editor {
            display: block;
          }
        }

        &.expanded.modal {
          background-color: $tc-gray-neutral-light;
        }
      }

      .feed-action-card + .feed-action-card {
        margin-top: 10px;

        @media screen and (max-width: $screen-md - 1px) {
          background-color: #fff;
          margin-top: 0;
          padding-top: 4 * $base-unit;
        }
      }

      .system-feed {
        position: relative;
        margin-bottom: 10px;

        @media screen and (max-width: $screen-md - 1px) {
          margin-bottom: 4 * $base-unit;
        }

        .project-notification {
          position: absolute;
          visibility: hidden;
          &:first-of-type {
            position: relative;
            visibility: visible;
          }
        }
        .action-card {
          background: $tc-dark-blue-10;

          @media screen and (max-width: $screen-md - 1px) {
            border-radius: 0;
          }

          .card-profile {
            padding-top: 0;
            margin-bottom: 0;
          }

          .card-body {
            padding: 0;
            margin-top: -5px;

            @media screen and (max-width: $screen-md - 1px) {
              margin-top: 0;
              line-height: normal;
              overflow: hidden;
            }

            strong {
              color: #000;
              font-weight: bold;
            }
          }

          .card-time {
            margin-left: 12px;
            position: relative;

            &::before {
              content: " \B7 ";
              color: #000;
              font-size: 20px;
              position: absolute;
              left: -9px;
              top: -2px;
            }
          }
        }
      }
    }
  }
}
