@import 'tc-includes';

.terms-page-wrapper {
  background-color: $tc-gray-neutral-light;
  text-align: center;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 40px;

  @include roboto-light;

  .terms-page {
    display: block;
    max-width: 960px;
    padding: 70px 100px;
    margin: 20px auto;
    text-align: left;
    background: $tc-white;
    box-shadow: 0 1px 3px 0px $tc-gray-30;

    strong {
      @include roboto-bold;
    }

    & h1,
    h2,
    h3 {
      text-transform: uppercase;
      color: $tc-gray-80;
    }

    & h1 {
      font-size: 28px;
      line-height: 35px;
      font-weight: 300;
      padding-bottom: 15px;
    }

    & h2 {
      font-size: 20px;
      line-height: 30px;
      padding-bottom: 15px;
      padding-top: 10px;
      font-weight: 500;
    }

    & h3 {
      font-size: 16px;
      line-height: 25px;
      padding-bottom: 0;
      padding-top: 10px;
      font-weight: bold;
    }

    & p {
      @include roboto;
      font-size: 16px;
      line-height: 25px;
      color: $tc-gray-80;
      font-weight: 300;
      padding-bottom: 1em;
    }

    & a {
      color: $tc-dark-blue;

      &:hover {
        text-decoration: underline;
      }
    }

    & ol,
    & ul {
      list-style: outside;
      padding-left: 1em;
      padding-bottom: 1em;
      padding-top: 1em;
      font-weight: bold;

      li {
        @include roboto-light;
        font-size: 16px;
        line-height: 25px;
        color: $tc-gray-80;
        padding-bottom: 1em;
        padding-left: 1em;
        font-weight: 300;
      }
    }

    & ol {
      list-style-type: decimal;
    }

    & ul {
      list-style-type: disc;
    }
  }
}