@import 'tc-includes';

.hide {
  display: none;
}

.content {
  display: block;
  margin-top:30px;
  overflow:hidden;
  .container {
    display:block;
    position:relative;
    margin:0px auto 20px auto;
    width: 920px;
    padding: 20px;
    border-radius: 4px;
    background: $tc-white;
    .btn-close {
      display: block;
      position:absolute;
      right: 20px;
      top: 20px;
      background: url('../../images/x-mark-big.svg') no-repeat 0 0;
      width: 14px;
      height: 14px;
      background-size: 14px 14px;
    }
    h2 {
      @include roboto-light;
      color: $tc-gray-60;
      font-size: $tc-heading-lg;
      display:block;
      width:100%;
      text-align: center;
      margin:  0 0 20px 0;
    }
    .what-you-like-to-do {
      width:100%;
      overflow:hidden;
      .info-selector {
        display: -webkit-flex;
        display: flex;
        clear:both;
        overflow:hidden;
        width:100%;
        margin: 0 auto 30px auto;
        span{
          -webkit-flex: initial;
          flex: initial;
          width: 33%;
          cursor: pointer;
          @include roboto-light;
          font-size: 12px;
          line-height: 20px;
          color: $tc-gray-50;
          text-align: center;
          &.active{
              color: $tc-black;
          }
        }
      }
      .type-selector {
        display: flex;
        .selector {
          -webkit-flex: initial;
          flex: initial;
          width: 33%;
          cursor: pointer;
          &.active{
            h3{
              color: $tc-black;
            }
            p{
              color: $tc-black;
            }
            span{
              color: $tc-black;
            }
          }
          h3 {
            @include roboto-light;
            color: $tc-gray-50;
            font-size: 20px;
            line-height: 25px;
            text-align: center;
          }
          p {
            @include roboto-light;
            font-size: 15px;
            color: $tc-gray-50;
            line-height: 25px;
            text-align: center;
            strong{
              @include roboto-bold;
              font-weight:normal;
            }
          }
        }
      }
    }
    .pick-target-devices {
      width: 100%;
      padding: 0px 50px;

      .target-selectors {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        .divider {
          @include roboto-light;
          font-style:italic;
          color: $tc-gray-40;
          font-size:12px;
          line-height: 155px;
          background: url('../../images/divider.png') no-repeat 50% 0;
        }
        .target-selector {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          overflow:hidden;
          margin-bottom: 20px;

          a {
            -webkit-flex: initial;
            flex: initial;
            height:155px;
            width:135px;
            border: 1px solid $tc-gray-20;
            border-radius: 4px;
            cursor: pointer;
            &.active{
              background: $tc-dark-blue-10;
              border: 1px solid $tc-dark-blue-30;
            }
            &:hover{
              border: 1px solid $tc-dark-blue-70;
            }
            span.icon{
              display:block;
              height: 50px;
              margin:30px auto 20px auto;
            }
            span.title{
              display:block;
              margin-top: 20px;
              @include roboto-bold;
              color: $tc-gray-90;
              font-size: 13px;
              text-align:center;
            }
            small{
              display:block;
              font-size: 11px;
              text-align:center;
              color: $tc-gray-50;
              @include roboto;
              margin-top:10px;
            }
            &.phone {
              span.icon{
                background: url('../../images/phone.svg') no-repeat 0 0;
                width: 33px;
                background-size: 33px 50px;
              }
            }
            &.tablet {
              span.icon{
                background: url('../../images/tablet.svg') no-repeat 0 0;
                width: 43px;
                background-size: 43px 50px;
              }
            }
            &.desktop {
              span.icon{
                background: url('../../images/desktop.svg') no-repeat 0 0;
                width: 55px;
                background-size: 55px 50px;
              }
            }
            &.apple-watch {
              span.icon{
                background: url('../../images/watch-apple.svg') no-repeat 0 0;
                width: 38px;
                background-size: 38px 50px;
              }
            }
            &.android-watch {
              span.icon{
                background: url('../../images/watch-android.svg') no-repeat 0 0;
                width: 38px;
                background-size: 38px 50px;
              }
            }
          }
        }

        .non-wearable-devices {
          flex-basis: 55%;
        }

        .wearable-devices {
          flex-basis: 38%;
        }
      }
    }
    .section-divider {
      background-color: $tc-gray-20;
      width: 100%;
      max-width: 600px;
      height: 1px;
      margin: 50px auto;
    }
    .project-info {
      width: 100%;
      max-width: 600px;
      margin: 50px auto 0px auto;
      .row {
        margin-bottom: 20px;
        label {
          @include tc-label-md;
        }
        textarea {
          height: 80px;
          resize: none;
        }
        &.center {
          display: flex;
          justify-content: center;
          align-items: center;
          label {
            width: 170px;
          }
          input {
            width: 100px;
            margin: 0px;
          }
        }
      }
    }
    .button-area {
      display: flex;
      justify-content: center;
      a {
        height: 40px;
        width: 137px;
        display:block;
        margin:30px auto;
        text-align:center;
        text-transform: none;
        font-family: 'Roboto Bold';
        font-size: 15px;
        padding:0!important;
        border: none;
        &.disabled{
          color: $tc-white;
          background: $tc-gray-10;
        }
      }
    }

    .generic-project-form {
      width: 100%;
      max-width: 600px;
      margin: 50px auto 0px auto;
      .row {
        margin-bottom: 20px;
        label {
          @include tc-label-md;
        }
        textarea {
          height: 80px;
          resize: none;
        }
        &.center {
          display: flex;
          justify-content: center;
          align-items: center;
          label {
            width: 170px;
          }
          input {
            width: 100px;
            margin: 0px;
          }
        }
      }
    }
  }
}

.range-slider {
  width: 600px;
  display:block;
  margin: 20px auto;
  clear:both;
  overflow:hidden;
  height: 40px;
  cursor: pointer;
  input[type=range] {
    -webkit-appearance: none;
    cursor: pointer;
    border: none!important;
    box-shadow: none!important;
    width: 600px;
    display:block;
    margin: 0 auto;
    padding:0!important;
    &:focus {
      outline: none;
      border: none!important;
      box-shadow: none!important;
    }
    &::-webkit-slider-runnable-track {
      width: 580px;
      height: 16px;
      border: none!important;
      box-shadow: none!important;
      background: url('../../images/slider-bg.png') no-repeat 0 0;
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      border: none;
      height: 23px;
      width: 23px;
      border-radius: 50%;
      background: $tc-dark-blue-90;
      margin-top: -5px;
      border: 3px solid $tc-white;
    }
    &::-webkit-slider-runnable-track {
      height: 16px;
    }
    &::-moz-range-track {
      width: 600px;
      height: 16px;
      background: url('../../images/slider-bg.png') no-repeat 0 0;
      border: none;

    }
    &::-moz-range-thumb {
      border: none;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background: $tc-dark-blue-90;
      cursor: pointer;
      border: 3px solid $tc-white;
    }
    &::-moz-focusring{
      outline: none;
      outline-offset: -1px;
    }
    &::-ms-track {
      width: 580px;
      height: 5px;
      background: none;
      border-color: none;
      border-width: 6px 0;
      color: transparent;
    }
    &::-ms-thumb {
      border: none;
      height: 16px;
      width: 16px;
      border-radius: 50%;
    }
    &:focus::-ms-fill-lower {
      background: transparent;
    }
    &:focus::-ms-fill-upper {
      background: transparent;
    }
    &::-moz-range-track {
      border: 0;
    }
  }
}
