@import 'tc-includes';

.ProductCard {
  width: 185px;
  height: 185px;
  margin: 10px 8px;
  background: #fff;
  border-radius: 4px;
  padding: 30px 15px 20px;
  text-align: center;
  box-shadow: 0 0 0 1px #DCDCE0;
  transition: 150ms ease-in-out all;

  .Icon {
    display: block;
    margin: 0 auto 20px;
  }

  h3 {
    font-size: 15px;
    line-height: 20px;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #47474F;
    margin-bottom: 5px;
    margin-top: 0px;
    transition: 150ms ease-in-out all;
  }

  .details {
    margin: 0;
    color: #888894;
    line-height: 20px;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: -0.4px;
    transition: 150ms ease-in-out all;
  }

  .list-cards {
    user-select: none;
  }

  &:not(.active):hover {
    box-shadow: 0 0 0 1px #59A7FF;
    background-color: #F4F9FF;
    cursor: pointer;
  }
  &:not(.active):hover h3 {
    color: #262628;
  }
  &:not(.active):hover p {
    color: #47474F;
  }
  &.active {
    background: #DCDCE0;
  }
}
