@import 'tc-includes';

.ProductCard {
  /*border: 1px solid $tc-gray-20;*/
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 260px;
  margin: 10px 10px 0;
  position: relative;
  vertical-align: top;
  width: 230px;
  .sub-type-details {
    padding: 0 20px;
    font-size: 13px;
    color: $tc-gray-50;
    line-height: 20px;
    width: 100%;
  }
  .header {
    @include tc-body;
    @include roboto-bold;
    color: $tc-gray-80;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 0px;
  }
  .icon-wrapper {
    svg {
      fill: $tc-gray-70;
    }

    &:hover {
      svg {
        fill: $tc-dark-blue-90;
      }
    }
  }
  .Icon {
    margin: 4*$base_unit 0 2*$base_unit;
  }
  &.disabled {
    opacity: 0.3
  }
  &.enabled:hover {
    border-color: $tc-dark-blue-70;
    cursor: pointer;
    .button {
      background: $tc-dark-blue;
      border-color: transparent;
      color: $tc-white;
    }
  }
  &.selected {
    background: $tc-gray-10;
    border-color: transparent;
    &:hover {
      border-color: transparent;
    }
  }
  .tc-btn {
    margin-top: 2 * $base_unit;
  }
}
