@import 'tc-includes';

.ProjectSubTypeCard {
  border: 1px solid $tc-gray-20;
  border-radius: 4px;
  display: inline-block;
  height: 205px;
  margin: 10px 10px 0;
  position: relative;
  vertical-align: top;
  width: 180px;
  .check-mark {
    background: $tc-dark-blue-90;
    border-radius: 2px;
    display: none;
    height: 15px;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 15px;
    svg {
      fill: $tc-white;
    }
    .Icon {
      position: relative;
      margin: 0;
      top: -5px;
    }
  }
  .sub-type-details {
    margin: 0 20px;
  }
  .header {
    @include tc-body;
    @include roboto-bold;
    color: $tc-gray-70;
    margin-bottom: 0;
    margin-top: 0px;
  }
  .Icon {
    margin: 30px 0 10px;
  }
  &.disabled {
    opacity: 0.3
  }
  &.enabled:hover {
    border-color: $tc-dark-blue-70;
    cursor: pointer;
    .button {
      background: $tc-dark-blue;
      border-color: transparent;
      color: $tc-white;
    }
  }
  &.selected {
    background: $tc-gray-10;
    border-color: transparent;
    &:hover {
      border-color: transparent;
    }
    .check-mark {
      display: block;
    }
  }
}
