@import '~tc-ui/src/styles/tc-includes';

.ProjectWizard {
  .content {
    background: transparent;
    box-shadow: none;
    width: 100%;
    display: block;
    margin: 0px;
    padding-top: 0px;//to align the wizard header to the bottom of logo

    .ProductCard {
      background: $tc-white;

      &.selected {
        background: $tc-gray-10;
      }
    }
  }
}
