@import '~tc-ui/src/styles/tc-includes';

:global {
  .ProjectWizard {
    @media screen and (max-width: $screen-md - 1px) {
      display: flex;

      &.ProjectWizard-step-5 {
        align-items: flex-start;
      }

      &.ProjectWizard-step-1 {
        align-items: flex-start;
      }

      &.ProjectWizard-step-0 {
        align-items: flex-start;
        padding-top: 30px;
      }
    }

    .content {
      background: transparent;
      box-shadow: none;
      width: 100%;
      display: block;
      margin: 0px;
      padding-top: 0px;//to align the wizard header to the bottom of logo

      @media screen and (max-width: $screen-md - 1px) {
        padding-top: 0;
      }

      .ProductCard {
        background: $tc-white;

        &.selected {
          background: $tc-gray-10;
        }
      }
    }
  }
}
