@import 'tc-includes';

.ProjectTypeCard {
  /*border: 1px solid $tc-gray-20;*/
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 260px;
  width: 230px;
  margin: 10px 10px 0;
  position: relative;
  vertical-align: top;
  transition: 300ms all ease;
  -moz-transition: 300ms all ease;
  -webkit-transition: 300ms all ease;

  .sub-type-details {
    padding: 0 20px;
    font-size: 13px;
    color: $tc-gray-50;
    line-height: 20px;
    width: 100%;
  }

  .header {
    @include tc-body;
    @include roboto-bold;
    color: $tc-gray-80;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 0px;
  }

  .icon-wrapper {
    height: 32px;
    display: flex;
    margin: 6 * $base_unit 0 4 * $base_unit;

    .Icon {
      /* TODO .Icon is svg, so style to svg is never applied, probably we should remove it */
      svg {
        fill: $tc-gray-70;
      }
    }
  }

  &.disabled {
    opacity: 0.3;
  }

  &.enabled:hover {
    border-color: $tc-dark-blue-70;
    cursor: pointer;

    .button {
      background: $tc-dark-blue;
      border-color: transparent;
      color: $tc-white;
    }

    svg {
      fill: $tc-dark-blue-90;
    }
  }

  &.selected {
    background: $tc-gray-10;
    border-color: transparent;

    &:hover {
      border-color: transparent;
    }
  }

  .tc-btn {
    margin-top: 2 * $base_unit;
  }

  .tc-btn {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
  }

  &:hover {
    transition: 300ms all ease;
    -moz-transition: 300ms all ease;
    -webkit-transition: 300ms all ease;
    position: relative;
    background: $tc-white;
    box-shadow: 0 2px 9px 0 rgba(38, 38, 38, 0.1);

    h1 {
      color: $tc-dark-blue;
    }

    .tc-btn {
      opacity: 1;
    }
  }

  &:active {
    background: $tc-dark-blue-10;
  }
}