@import 'tc-includes';

.SelectProduct {
  @include tc-body;
  color: $tc-gray-50;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  a, a:hover {
    color: $tc-dark-blue;
    cursor: pointer;
  }
  a:hover {
    text-decoration: underline;
  }
  h1 {
    @include tc-heading;
    @include roboto-light;
    color: $tc-black;
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 40px;

  }
  .footer {
    margin-bottom: 15px;
    margin-top: 100px;
  }

  .ProductCard {
    transition: 300ms all ease;
    -moz-transition: 300ms all ease;
    -webkit-transition: 300ms all ease;
    .tc-btn {
      display: none;
    }
    &:hover {
      transition: 300ms all ease;
      -moz-transition: 300ms all ease;
      -webkit-transition: 300ms all ease;
      position: relative;
      background: $tc-white;
      box-shadow: 0 2px 9px 0 rgba(38, 38, 38, 0.1);
      h1 {
        color: $tc-dark-blue;
      }
      .tc-btn {
        display: block;
        position: absolute;
        bottom: 30px;
        &:hover {
          background-image: linear-gradient(0deg, #3996FF 0%, #127BF3 100%);
          box-shadow: inset 0 1px 3px 0 rgba(71,71,79,0.38);
        }
      }
    }
    &:active {
      background: $tc-dark-blue-10;
    }
  }

  

  .cards {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }
}
@media screen and (max-width: 1100px) {
  .SelectProduct {
    max-width: 750px;
  }
}
@media screen and (max-width: 850px) {
  .SelectProduct {
    max-width: 500px;
  }
}
@media screen and (max-width: 500px) {
  .SelectProduct {
    max-width: 250px;
  }
}
