@import 'tc-includes';

.SelectProjectSubType {
  @include tc-body;
  color: $tc-gray-50;
  text-align: center;
  width: 960px;
  a, a:hover {
    color: $tc-dark-blue;
    cursor: pointer;
  }
  a:hover {
    text-decoration: underline;
  }
  h1 {
    @include tc-heading;
    color: $tc-gray-50;
    margin-bottom: 20px;
  }
  .button {
    background: $tc-dark-blue-90;
    border: 1px solid $tc-dark-blue;
    border-radius: 2px;
    color: $tc-white;
    cursor: pointer;
    display: inline-block;
    margin-top: 50px;
    padding: 6px 20px;
    &.disabled {
      border-color: $tc-gray-40;
      background: $tc-gray-30;
      cursor: default;
    }
  }
  .details {
    margin: 20px auto 0;
    width: 720px;
  }
  .footer {
    margin-bottom: 15px;
    margin-top: 100px;
  }
  .WizardHeader {
    margin: 20px 0;
  }
}
