// Product category page

@import 'layout';
@import '~tc-ui/src/styles/tc-includes';

.headerSelectProduct {
  @extend .wizardHeader;
}

.SelectProduct {
  @extend .wizardCardContainer;

  h1 {
    @extend .wizardHeadline;

    + h2 {
      font-size: 15px;
      line-height: 20px;
      @include tc-heading;
      @include roboto-bold;
      color: $tc-gray-80;
      margin-bottom: 13px;
      margin-top: 0px;
    }
  }

  .header {
    display: block;
  }
}

@media screen and (max-width: 1100px) {
  .SelectProduct {
    max-width: 750px;
  }
}

@media screen and (max-width: 850px) {
  .SelectProduct {
    max-width: 500px;
  }
}

@media screen and (max-width: 500px) {
  .SelectProduct {
    max-width: 250px;
  }
}
