@import '~tc-ui/src/styles/tc-includes';

.SelectProjectTemplateCard {
  background: $tc-white;
  border-radius: 10px;
  margin: 0 0 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: $tc-gray-90;
  overflow: hidden;

  &:last-child {
    margin-bottom: 0;
  }
}

.one-deliverable {
  .right-card {
    flex: 1;

    @media screen and (max-width: $screen-md - 1px) {
      display: none;
    }
  }

  .bottom-card {
    display: none;

    @media screen and (max-width: $screen-md - 1px) {
      display: flex;

      .bottom-column {
        background: transparent;
        padding: 0;

        @media screen and (max-width: $screen-sm - 1px) {
          margin-bottom: 0;
        }

        h3 {
          color: $tc-gray-70;
          text-transform: none;
          display: flex;
          justify-content: flex-start;
        }
        button {
          display: flex;
        }
      }
    }
  }
}

.more-deliverable,
.no-deliverable {
  .right-card {
    @media screen and (max-width: $screen-sm - 1px) {
      margin-top: 21px;
    }
  }
}

.no-deliverable {
  .bottom-card {
    display: none;
  }
}

.more-deliverable {
  .right-card {
    background: transparent;

    .vertical-curve,
    .info-html {
      display: none;
    }
  }
}

.header {
  @include roboto-bold;

  font-size: 16px;
  line-height: 19px;
  text-align: left;
}

.details {
  color: $tc-gray-70;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  text-align: left;
  margin-top: 10px;
}

.icon-wrapper {
  margin-right: 26px;
}

.left-card {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 35px 30px 36px 45px;

  @media screen and (max-width: $screen-md - 1px) {
    flex-direction: column;
    text-align: center;
    height: 100%;
    padding-bottom: 10px;
    flex-basis: 100%;

    .left-card-content {
      align-items: center;
      width: 100%;
    }

    .icon-wrapper {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}

.right-card {
  position: relative;
  display: flex;
  background: #f4f4f4;
  align-items: center;
  padding: 35px 50px 30px 50px;

  .info-html {
    margin-right: 22px;
    margin-bottom: auto;
  }

  button {
    flex-shrink: 0;
  }

  @media screen and (max-width: $screen-md - 1px) {
    background: transparent;

    .vertical-curve,
    .info-html {
      display: none;
    }
  }

  @media screen and (max-width: $screen-sm - 1px) {
    padding: 20px;
  }
}

.top-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (max-width: $screen-sm - 1px) {
    flex-direction: column;

    .right-card {
      justify-content: center;
      padding-top: 0;
    }
  }
}

.left-card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100%;
  flex-shrink: 0;

  .vertical-space {
    height: 21px;
  }
}

.bottom-card {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #f4f4f4;
}

.vertical-curve {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
}

.horizontal-curve {
  width: 100%;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
}

.learn-more-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 17px;
  flex-wrap: wrap;
  align-items: center;
  margin-top: auto;

  .starting-at {
    margin-right: 10px;
  }
}

.starting-at {
  font-size: 14px;
  color: $tc-gray-90;

  strong {
    @include roboto-bold;

    margin-left: 4px;
  }
}

.learn-more {
  @include roboto-medium;

  font-size: 15px;
  letter-spacing: 1px;
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  svg {
    margin-left: 7px;

    path {
      fill: $tc-dark-blue-100;
    }
  }
}

.info-html {
  text-align: left;

  h3 {
    @include roboto-bold;

    min-height: 30px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }

  * {
    color: $tc-gray-70;
    font-size: 14px;
    line-height: 17px;
  }

  li {
    position: relative;
    padding-left: 15px;
    margin-bottom: 5px;

    &::before {
      content: "";
      display: flex;
      position: absolute;
      width: 5px;
      height: 5px;
      background: $tc-dark-blue-100;
      border-radius: 100%;
      top: 7px;
      left: 0;
    }
  }
}

.bottom-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  margin: 14px;
  background: $tc-white;
  border-radius: 10px;
  max-width: 305px;
  justify-content: space-between;
  padding: 25px 30px 26px;

  @media screen and (max-width: $screen-sm - 1px) {
    margin-left: 0;
    margin-right: 0;
  }

  .starting-at {
    margin-top: 16px;
  }

  .info-html {
    h3 {
      color: $tc-gray-90;
      display: flex;
      justify-content: center;
      text-transform: uppercase;
    }
  }

  button {
    display: none;
    align-self: center;
    margin-top: 30px;
  }
}

.bottom-card-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 16px 25px 27px 26px;
  margin-top: 30px;
}
