@import '../../../styles/includes';
@import '~tc-ui/src/styles/tc-includes';

// project-progress style
.project-progress {
  position: relative;
  background-color: rgba(#0681FF, 0.3);
  border-radius: 6px;
  color: #fff;
  height: $base-unit*8;
  line-height: $base-unit*8;
  @include roboto-bold;
  font-size: 15px;
  .hide-sm {
    display: inline-block;
  }
  @include viewSm {
    height: $base-unit*8;
    line-height: $base-unit*8;
    border-radius: 0;
    .hide-sm {
      display: none;
    }
  }
  .filled {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    background-color: #0681FF;
    border-radius: 6px 0 0 6px;
    @include viewSm {
      border-radius: 0;
    }
  }
  .label-layer {
    display: flex;
    justify-content: space-between;
    height: inherit;
    position: relative;
    line-height: inherit;
    padding-left: $base-unit*3;
    padding-right: $base-unit*3;
    z-index: 10;
    overflow: hidden;
    @include viewSm {
      padding-right: $base-unit*7;
    }
    .group-right {
      min-width: 240px;
      display: flex;
      justify-content: space-between;
      @include viewSm {
        min-width: 100px;
      }
    }
    .spent {
      @include viewSm {
        margin-left: auto;
      }
    }
  }

  .dot {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border: 2px solid #aaaaab;
    border-radius: 100%;
    width: 8px;
    height: 8px;
    left: -22px;
    z-index: 11;
    top: calc(50% - 4px);
  }

  /* in-progress state */

  &.in-progress {
    .dot {
      display: block;
      background-color: #ffffff;
      border: 2px solid #0681ff;
    }
  }

  /* completed state */

  &.completed {
    .dot {
      display: block;
      background-color: #0681ff;
      border: 2px solid #0681ff;
    }
  }
  
  &.default-theme {
    overflow: hidden;
  }

  /* light theme */

  &.light {
    .fill {
      background-color: #CEE6FF;
    }
  }
}

.light {
  background-color: rgba(#CEE6FF, 0.3);
  color: #151516;
  .filled {
    background-color: #CEE6FF;
  }
}