@import '~tc-ui/src/styles/tc-includes';

.container {
  background-color: #fff;
  width: 100%;

  /* use global style here as this style was extracted from the old component */
  :global {
    /* text-box End */
    .btn-boxs {
      margin-top: 20px;
      text-align: center;

      @media screen and (max-width: $screen-md - 1px) {
        background-color: $tc-white;
        margin-top: 0;
        padding: 3 * $base-unit 4 * $base-unit;
      }
    }

    /* styles related to animations when .btn-boxs sticks using Sticky module */
    @media screen and (max-width: $screen-md - 1px) {
      /* restyle estimations component */
      .btn-boxs {
        .list-group {
          display: block;
        }

        .visual-design-project-estimate-section {
          flex-direction: column-reverse;
          left: 4 * $base-unit;
          margin: 0;
          opacity: 0;
          position: absolute;
          transition: opacity 0.5s ease;
          width: auto;

          h4,
          .label {
            display: none;
          }

          .estimate {
            margin-top: 0;
            text-align: left;

            &:not(:last-child) {
              color: $tc-gray-50;
              font-size: 13px;
              margin-top: 2px;
            }
          }
        }
      }

      .btn-boxs button {
        display: block;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
        transition: all 0.5s ease;
      }

      .sticky-outer-wrapper.active {
        .sticky-inner-wrapper {
          z-index: 10;
        }

        .btn-boxs {
          box-shadow: 0px 1px 3px 0px rgba($tc-black, 0.2);
        }

        .btn-boxs.has-estimation button {
          left: 100%;
          transform: translateX(-100%);
        }

        .visual-design-project-estimate-section {
          opacity: 1;
        }
      }
    }
  }
}