@import '~tc-ui/src/styles/tc-includes';

.container {
  display: flex;
  flex-direction: column;
  color: $tc-gray-90;
  align-items: center;
}

.title {
  @include roboto-bold;

  font-size: 16px;
  line-height: 30px;
  width: 100%;
  margin-bottom: 10px;
}

.icon-add {
  margin-top: 18px;

  svg {
    margin-right: 10px;
  }

  path {
    fill: $tc-white;
    opacity: 0.8;
  }

  span {
    margin-left: 5px;
  }

  &:hover {

    path {
      opacity: 1;
    }
  }
}
