@import 'tc-includes';

.feature-preview {
  text-align: center;
  padding: (8 * $base-unit) (12 * $base-unit) ;
  background: url('./images/Device-iPhone.svg') no-repeat;
  background-color: #FBFDFF;
  background-position: 50% 22px;
  padding-top: 88px;
  border-left: 1px solid $tc-dark-blue-30;

  img {
    max-height: 500px;
  }
}