@import 'tc-includes';

.feature-form {
  padding: 8 * $base-unit;
  
  .feature-title-row {
    .title {
      @include tc-heading;
      @include roboto-medium;
    }
  }

  .feature-form-content {
    .feature-description {
      @include tc-label-lg;
      color: $tc-gray-50;
      margin: 4 * $base-unit 0px;
    }
    .predefined-feature-form {
      .feature-notes {
        label {
          @include tc-label-md;
          color: $tc-gray-70;
        }

        textarea {
          height: 100px;
          @include tc-label-lg;
          color: $tc-black;
        }
      }
    }
  }
  
  .description {
    textarea {
      margin-top: 64px;
      height: 150px;
    }
  }
}