@import 'tc-includes';

$card-max-width: 180px;

button {
  &.clean {
    background-color: transparent;
    border-radius   : 0;
    border          : none;
    padding         : 0;
    margin          : 0;
    font-size       : inherit;
    font            : inherit;
    line-height     : inherit;
    font-weight     : inherit;
    text-transform  : inherit;
  }
  &:active,
  &:focus {
    outline: none;
  }
}

.define-features {
  $header-height: 65px;
  $footer-height: 66px;
  background-color: white;
  text-align: left;
  height: 100%;

  .close {
    background-color: initial;
  }

  > h2 {
    color: $tc-black;
    padding: 3 * $base_unit;

    .selected-feature-count {
      color: $tc-gray-30;
    }
  }

  h5 {
    color: $tc-black;
  }

  > main {
    width: 100%;
    border-top: 1px solid $tc-gray-20;
    height: 100%;

    div.features {
      min-width       : 300px;
      background-color: $tc-gray-10;
      border-right    : 1px solid $tc-gray-neutral-light;
      position: relative;

      ul.feature-categories-list {
        overflow-y: scroll;
        max-height: calc(100% - #{$header-height});
        width: 300px;

        > li {
          &:last-child {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .custom-feature-btn-desc {
              @include roboto;
              @include tc-label-md;
              color: $tc-gray-50;
            }

            button {
              margin-top: 4 * $base-unit;
            }
          }
        }
      }
    }    

    .feature-form-instructions {
      padding: 8 * $base-unit;

      h3 {
        @include tc-heading;
      }

      p {
        @include tc-label-md;
        color: $tc-gray-50;
      }
    }
  }
}