@import 'tc-includes';

$card-max-width: 180px;

button {
  &.clean {
    background-color: transparent;
    border-radius   : 0;
    border          : none;
    padding         : 0;
    margin          : 0;
    font-size       : inherit;
    font            : inherit;
    line-height     : inherit;
    font-weight     : inherit;
    text-transform  : inherit;
  }
  &:active,
  &:focus {
    outline: none;
  }
}

.define-features {
  $footer-height: 66px;
  background-color: white;
  text-align: left;
  height: 100%;

  .close {
    background-color: initial;
  }

  > h2 {
    color: $tc-black;
    padding: 3 * $base_unit;

    .selected-feature-count {
      color: $tc-gray-30;
    }
  }

  h5 {
    color: $tc-black;
  }

  > main {
    width: 100%;
    border-top: 1px solid $tc-gray-20;
    height: 100%;

    div.features {
      min-width       : 300px;
      background-color: $tc-gray-10;
      border-right    : 1px solid $tc-gray-neutral-light;
      position: relative;

      ul.feature-categories-list {
        overflow-y: scroll;
        max-height: 100%;
        width: 300px;
      }

      &:last-child {
        min-height: $footer-height;
        margin-bottom: 0px;
        overflow: hidden;

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          height          : $footer-height;
          text-transform  : uppercase;
          width           : 100%;

          .icon {
            color           : $tc-dark-blue;
            background-color: white;
            border-radius   : 50%;
            text-align      : center;
            font-size       : 20px;
            margin-left     : 10px;
            margin-right    : 0;
            font-family     : arial;
            width           : 30px;
            line-height     : 30px;
          }
        }
      }
    }    

    .feature-form-instructions {
      padding: 8 * $base-unit;

      h3 {
        @include tc-heading;
      }

      p {
        @include tc-label-md;
        color: $tc-gray-50;
      }
    }
  }
}