@import 'tc-includes';

.feature-form {
  .default, .description, .new-feature {
    width  : 400px;
    padding: 30px;
    display: none;

    &.active {
      display: block;
    }

    p, h6 {
      margin-top: 10px;
    }


    input {
      display: block;
    }

    label {
      display: block;
      margin-top: 30px;
      margin-bottom: 15px;
    }

    button {
      margin-top: 30px;

      &.cancel {
        margin-left: 15px;
      }
    }

    textarea {
      height: 150px;
    }
  }
  
  .description {
    textarea {
      margin-top: 64px;
      height: 150px;
    }
  }
}