@import '../../../../../styles/includes';
@import '~tc-ui/src/styles/tc-includes';

$link-color: $tc-dark-blue-110;

.container {
  display: flex;
  flex-direction: column;
  background: $tc-white;
  width: 100%;
  color: $tc-gray-90;

  a {
    color: $link-color !important;
  }
}

.new-milestone {
  .icon-close {
    margin-left: 0;
  }
}

.is-updating {
  opacity: 0;
  pointer-events: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.left-control {
  display: flex;
  align-items: center;
  cursor: pointer;
  min-width: 24px;
}

.back-icon-text {
  @include roboto-condensed-light;

  color: $tc-gray-90;
  font-size: 20px;
  line-height: 30px;
  margin-left: 10px;
}

.title {
  @include roboto-condensed-bold;

  color: $tc-gray-90;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
}

.right-control {
  display: flex;
  align-items: center;
}

.icon-close {
  margin-left: 41px;
  cursor: pointer;
}

.icon {
  cursor: pointer;
}

.help-link {
  font-size: 12px;
  height: 20px;
  display: flex;
  align-items: center;
  margin: 20px 0 14px auto;
}

.section-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.section-title {
  @include roboto-bold;

  font-size: 16px;
  margin-bottom: 3px;
  min-height: 20px;
}

.section-sub-title {
  margin-bottom: 9px;
  color: $tc-gray-30;
  font-size: 13px;
  min-height: 20px;
}

.work-list {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  width: 100%;
}

.complete-milestone {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $tc-gray-05;
  padding-bottom: 25px;
  margin-bottom: 20px;
}
