@import 'tc-includes';

.project-icons {
  @include roboto;

  font-size: $tc-label-md;
  color: $tc-gray-50;
  line-height: $base-unit*4;
  text-align: center;

  .icon-set {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    margin: 30px auto;
  }

  .icon {
    display: inline-block;
    text-align: center;
    height: 60px;
    padding-top: 40px;
    margin: 0 10px;
    width: 40px;
    background-size: 32px;
  }

  .icon-work-project {
    background: url('../../assets/images/tech-32px-outline-work-project.svg') no-repeat center top;
    width: 120px;
  }

  .icon-iphone {
    background: url('../../assets/images/tech-32-outline_mobile.svg') no-repeat center top;
  }

  .icon-ipad {
    background: url('../../assets/images/tech-32-outline_tablet-button.svg') no-repeat center top;
  }

  .icon-web {
    background: url('../../assets/images/tech-32-outline_desktop.svg') no-repeat center top;
  }

  .icon-apple-watch {
    background: url('../../assets/images/tech-32-outline_watch-time.svg') no-repeat center top;
  }

  .icon-android-wear {
    background: url('../../assets/images/tech-32-outline_watch-circle.svg') no-repeat center top;
  }
}