@import '~tc-ui/src/styles/tc-includes';

.container {
  position: relative;
}

.line {
  background-color: $tc-white;
  bottom: 0;
  left: -19px;
  position: absolute;
  top: 50%;
  width: 2px;

  .hidden & {
    display: none;
  }
}
