@import "~tc-ui/src/styles/tc-includes";
@import "../../styles/includes";

.circle {
  height: 40px;
  width: 40px;
  display: inline-block;
  border-radius: 50%;
  background-color: $tc-gray-neutral-light;
  position: relative;
}

.icon {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
