@import '../../../../../styles/includes';
@import '~tc-ui/src/styles/tc-includes';
// project-progress specific styles
.milestone-post {
  @include roboto;

  display: table-row;
  font-size: 15px;

  .col-left {
    display: table-cell;
    text-align: right;
  }

  .col-right {
    display: table-cell;
    width: 100%;
  }

  .label-layer {
    position: relative;
  }

  .label-counter {
    @include roboto-medium;
    color: $tc-dark-blue-100;
    font-size: 11px;
    line-height: 20px;
    text-align: right;
  }

  .label-title {
    color: $tc-gray-80;
    font-size: 15px;
    line-height: 30px;
    text-align: right;
    white-space: nowrap;
    padding-right: 2 * $base-unit;
    width: 100%;
  }

  /* use this selector to overwrite the global style for sure */
  input:not([type="checkbox"]) {
    text-transform: initial;

    &::placeholder {
      color: $tc-gray-30;
      font-size: 15px;
      text-transform: initial;
    }
  }
}
