@import 'tc-includes';

.Tooltip {
  &.customer-data {
    .tooltip-container {
      border: 1px solid rgba(10, 10, 10, 0.2);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(10, 10, 10, 0.2);
    }

    .tooltip-content-container {
      background-color: $tc-white;
      width: 400px;
      min-height: 180px;
      padding-top: 20px;
      padding-left: 20px;

      .tooltip-pointer {
        background-color: $tc-white;

        &.downward-pointer {
          border-right: 1px solid rgba(10, 10, 10, 0.2);
          border-bottom: 1px solid rgba(10, 10, 10, 0.2);
          bottom: -11px !important;
        }

        &.upward-pointer {
          border-left: 1px solid rgba(10, 10, 10, 0.2);
          border-top: 1px solid rgba(10, 10, 10, 0.2);
          top: -11px !important;
        }
      }

      .tooltip-body {
        color: $tc-black;
        overflow: hidden;
        white-space: normal;

        .top-container {
          display: flex;
          position: relative;
          flex-direction: row;

          .tt-col-avatar {
            flex: none;
            width: 40px;
            height: 40px;
            margin-right: 10px;
            margin-bottom: 10px;
          }

          .tt-col-user-data {
            flex: 1;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
          }

          .user-name-container {
            flex: 1 0 90%;

            span {
              font-size: 15px;
              font-weight: 600;
              color: $tc-black;
              line-height: 20px;
            }
          }

          .user-handle-container {
            flex: 0 1 80px;
            padding-right: 10px;
            border-right: 1px solid $tc-gray-50;
            height: 20px;

            span {
              font-size: 12px;
              color: $tc-gray-50;
              line-height: 20px;
            }
          }

          .user-email-container {
            flex: 1 1 40%;
            padding-left: 10px;

            a {
              font-size: 12px;
              color: $tc-gray-50;
              line-height: 20px;
              text-decoration: none;

              &:hover {
                text-decoration: none;
              }
            }
          }
        }

        .sf-data-bottom-container {
          display: flex;
          flex-direction: column;

          .segment-data {
            flex: 1;
            font-size: 13px;
            color: $tc-black;
            line-height: 25px;

            &:first-of-type {
              border-top: 1px solid $tc-gray-50;
              padding-top: 11px;
            }

            .ext-link {
              position: relative;
              font-size: 11px;
              color: #0681ff;
              padding-right: 20px;

              &:after {
                content: "";
                background: url('./images/external-link.svg') no-repeat 0 0;
                width: 13px;
                height: 13px;
                position: absolute;
                top: 2px;
                right: 0px;
              }
            }
          }
        }

        .user-avatar {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}