// this is to include tc styles in the output library
@import '~tc-ui/src/styles/tc-includes';


:global {
  .new-project-link {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;

    @media screen and (max-width: $screen-md - 1px) {
      display: none;
    }

    .new-project-icon {
      width: 20px;
      height: 20px;
      background-color: $tc-gray-50;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        fill: $tc-black;
        width: 10px;
        height: 10px;
      }

      &:hover {
        background-color: $tc-orange-30;
      }
    }
  }
}
