// this is to include tc styles in the output library
@import '~tc-ui/src/styles/tc-includes';

:global {
  .ProjectToolBar {
    padding: 0;
    min-height: 60px;
    width: 100%;
    height: auto;

    @media screen and (max-width: $screen-md - 1px) {
      min-height: 50px;
    }

    .tool-bar {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 60px;
      background-color: $tc-black;

      @media screen and (max-width: $screen-md - 1px) {
        height: 50px;
      }

      .bar-column:first-child {
        display: flex;
        // width: calc(100% - 560px);
      }

      .bar-column:last-child {
        // width: 560px;
        display: flex;
      }

      .logo-wrapper {
        width: 60px;
        margin: 0 20px;

        @media screen and (max-width: $screen-md - 1px) {
          display: none;
        }
      }

      .breadcrumb {
        @include tc-label-xs;
        line-height: 6 * $base-unit;
        color: $tc-gray-10;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;

        a {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          color: $tc-gray-50;
          text-transform: uppercase;

          @media screen and (max-width: $screen-md - 1px) {
            span {
              display: none;
            }
          }

          .icon-tail-left {// Back arrow
            fill: $tc-gray-50;
            height: 13px;
            margin-right: 5px;

            @media screen and (max-width: $screen-md - 1px) {
              fill: $tc-white;
              height: auto;
              margin-left: 3 * $base-unit;
              margin-right: 40px; /* take same space to align title at the center */
              width: 22px;
            }
          }

          &:hover,
          &.hover {
            text-decoration: none;
            color: $tc-orange-30;

            .icon-tail-left {// Back arrow
              fill: $tc-orange-30;

              @media screen and (max-width: $screen-md - 1px) {
                fill: $tc-white;
              }
            }
          }
        }
      }

      .bar-column.project-name {
        display: flex;
        align-items: center;

        span {
          @include tc-heading;
          color: $tc-gray-10;
          display: block;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          max-width: 500px;
        }

        @media screen and (max-width: $screen-md - 1px) {
          display: none;
        }
      }

      .bar-column.project-name.mobile {
        display: flex;
        align-items: center;

        span {
          font-size: 15px;
        }

        @media screen and (min-width: $screen-md) {
          display: none;
        }
      }

      .bar-column .welcome-info {
        width: 70px;
        display: flex;
        align-items: center;
        margin-right: 4 * $base-unit;

        @media screen and (max-width: $screen-md - 1px) {
          display: none;
        }

        .avatar-info {
          position: relative;

          .username {
            display: none;
          }

          .avatar {
            width: 30px;
            height: 30px;
            background-color: $tc-dark-blue-70;
            border-radius: 15px;
            overflow: hidden;
            text-align: center;
            line-height: 28px;
            color: $tc-white;
            @include roboto-medium;
            font-size: 15px;
            position: absolute;
            left: 0;
            top: 0;

            img {
              width: 30px;
              height: 30px;
              border-radius: 15px;
            }
          }

          .avatar-link-arrow {
            display: block;
            width: 10px;
            height: 30px;
            //background: url("../../styles/i/arrow-down-black.png") right center no-repeat;
            background-size: 10px 7.5px;
          }
        }
      }
    }

    .nav {
      padding-right: 5px;
      height: 20px;
      margin-top: 20px;
      border-right: 1px solid $tc-gray-80;

      @media screen and (max-width: $screen-md - 1px) {
        display: none;
      }

      ul {
        /*width: 484px;*/
        width: auto;
        height: 20px;
        display: flex;
        justify-content: flex-end;
        margin: 0;
        padding: 0;
      }

      li#active a i svg g {
        fill: #fee3d0 !important;
      }

      li#active a i svg path {
        fill: #fee3d0 !important;
      }

      ul li {
        padding: 0 15px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        vertical-align: middle;

        &:first-child {
          padding-left: 0;
        }

        a {
          display: inline-block;
          @include roboto-medium;
          font-size: $tc-label-md;
          color: $tc-gray-50;
          line-height: 20px;
          position: relative;
          padding-left: 26px;
          /* menu icons */
          > svg {
            display: block;
            width: 16px;
            height: 16px;
            position: absolute;
            left: 0;
            top: 2px;
          }
        }

        .icon-dashboard {
          width: 16px;
          height: 16px;
        }

        #active svg.icon-dashboard g {
          color: #fee3d0 !important;
        }

        #active svg.icon-dashboard-active g {
          color: #fee3d0 !important;
        }

        .icon-dashboard-hover {
          color: $tc-orange-30;
        }

        .icon-dashboard-active {
          color: $tc-orange-70;
        }

        .icon-specification {
          width: 16px;
          height: 16px;
        }

        #active svg.icon-specification g {
          color: #fee3d0 !important;
        }

        #active svg.icon-specification-active g {
          color: #fee3d0 !important;
        }

        li#active a i svg g {
          fill: #fee3d0 !important;
        }

        .icon-specification-hover {
          color: $tc-orange-30;
        }

        .icon-specification-active {
          color: $tc-orange-70;
        }

        .icon-messages {
          width: 16px;
          height: 16px;
        }

        #active a i svg g {
          color: #fee3d0 !important;
        }

        .icon-messages-hover {
          color: $tc-orange-30;
        }

        .icon-messages-active {
          color: $tc-orange-70;
        }

        .icon-challenges {
          width: 16px;
          height: 16px;
        }

        #active a i svg g {
          color: #fee3d0 !important;
        }

        .icon-challenges-hover {
          color: $tc-orange-30;
        }

        .icon-challenges-active {
          color: $tc-orange-70;
        }

        &:hover,
        &.hover {
          a,
          a:hover {
            color: $tc-orange-30;
          }
        }

        a.active,
        a.active:hover {
          color: $tc-orange-70;
        }
      }
    }

    .breadcrumb-tooltip {
      @include roboto();
      word-break: break-word;
      position: absolute;
      left: calc(50% - 280px);
      top: 56px;
      width: 480px;
      padding: 15px;
      font-size: 13px;
      line-height: 20px;
      font-weight: 500;
      color: $tc-white;
      background-color: $tc-gray-80;
      border-radius: 4px;
      z-index: 10;

      &:before {
        display: block;
        content: '';
        position: absolute;
        left: 50%;
        top: -7px;
        margin-left: -7px;
        width: 0;
        height: 0;
        border: 7px solid $tc-gray-80;
        border-top: 0;
        border-left-color: transparent;
        border-right-color: transparent;
      }
    }
  }

  @media all and (max-width: 1023px) {
    .ProjectToolBar {
      .top-bar {
        &:after {
          display: block;
          content: '';
          width: 0;
          height: 0;
          clear: both;
          overflow: hidden;
        }

        .bar-column:first-child {
          width: calc(100% - 215px);
        }

        .bar-column:last-child {
          width: 215px;
        }

        .logo-wrapper {
          width: 90px;
        }

        .breadcrumb .breadcrumb-tooltip {
          left: 28px;
        }
      }

      .nav {
        padding-right: 10px;

        ul {
          width: auto;
        }

        ul li {
          padding: 0 10px;

          &:first-child {
            padding-left: 0;
          }

          a {
            padding-left: 16px;

            span {
              display: none;
            }

            svg {
              position: relative;
            }
          }
        }
      }
    }
  }

  @media all and (max-width: 1300px) {
    .ProjectToolBar {
      .nav.long-menu {
        padding-right: 10px;

        ul {
          width: auto;
        }

        ul li {
          padding: 0 10px;

          &:first-child {
            padding-left: 0;
          }

          a {
            padding-left: 16px;
            text-indent: -9999px;
          }
        }
      }
    }
  }
}
