// this is to include tc styles in the output library
@import '~tc-ui/src/styles/tc-includes';

:global {
  .tc-header.tc-header__connect .top-bar{
    height: 60px;
    background-color: #262628;
    position: relative;
    display: flex;

    @media screen and (max-width: $screen-md - 1px) {
      height: auto;
    }
  }

  .section-tool-bar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;

    @media screen and (max-width: $screen-md - 1px) {
      padding: 0;
    }

    > .section {
      align-items: center;
      display: flex;
    }

    .title {
      @include roboto;
      font-size: 20px;
      color: #EDEDF2;
      text-align: center;
    }

    > .section > .title {
      margin-left: 24px;

      @media screen and (max-width: $screen-md - 1px) {
        margin-left: 0;
      }
    }

    .close {
      align-items: center;
      background-color: $tc-gray-50;
      border-radius: 29px;
      display: flex;
      height: 30px;
      justify-content: center;
      width: 30px;

      @media screen and (max-width: $screen-md - 1px) {
        background-color: transparent;
        margin-right: 7px;
        height: 32px;
        width: 32px;
      }

      &:hover {
        background-color: $tc-dark-blue-70;
      }

      .icon-x-mark {
        fill: #262628;
        margin: -6px;

        @media screen and (max-width: $screen-md - 1px) {
          fill: #262628;
        }
      }
    }

    > .section > .menu {
      margin-right: 30px;

      > a {
        @include roboto-medium;
        color: $tc-gray-50;
        font-size: 13px;
        line-height: 20px;
        margin-left: 40px;

        &.active,
        &:hover {
          color: $tc-white;
        }
      }
    }

    .logo {
      align-items: center;
      display: flex;

      @media screen and (max-width: $screen-md - 1px) {
        padding-left: 15px;
      }

      .icon-connect-logo-mono {
        height: auto;
        width: 53px;
        margin-top: 13px;

        path {
          fill: $tc-gray-10;
        }
      }
    }

    > .section .logo .icon-connect-logo-mono {
      margin-top: 0;
    }
  }
}
