// this is to include tc styles in the output library
@import 'tc-includes';

// TODO: move to includes
$tc-rgba-10: rgba(71,71,79,0.38);
$tc-rgba-20: rgba(0,0,0,0.17);
$tc-body-large     		: 20px;

// .sticky-inner-wrapper {
//   z-index: 15;
// }

// .container .sticky-inner-wrapper,
// .dashboard-container .sticky-inner-wrapper {
//   z-index: 14;
// }


