// this is to include tc styles in the output library
@import 'tc-includes';

// TODO: move to includes
$tc-rgba-10: rgba(71,71,79,0.38);
$tc-rgba-20: rgba(0,0,0,0.17);
$tc-body-large     		: 20px;

.sticky {
  z-index: 15;
}

.container .sticky,
.dashboard-container .sticky {
  z-index: 14;
}

.tc-header{
  height: 60px;
  background: $tc-gray-neutral-light;
  line-height: 60px;
  z-index: 100;
  padding: 0 20px;
  .logo-wrapper{
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    .logo{
      display: inline-block;
      position: relative;
      margin-top: 12px;
      width: 60px;
      height: 36px;
    }
  }
  .UserDropdownMenu {
    padding: 0;
    display: flex;
    align-content: center;
    text-align: left;
  }

  .sb-avatar {
    display: block !important;
  }

  &.tc-header__connect{
    padding: 0;
    min-height: 60px;
    height: auto;
    .top-bar{
      height: 60px;
      background-color: $tc-black;
      padding: 0 20px;
      position: relative;
      text-align: center;
      .logo-wrapper {
        position: absolute;
        left: 20px;
        top: 0;
        z-index:2;
      }
      .search-bar{
        margin: 0 auto;
        width: 585px;
        padding-top: 15px;
        display: flex;
        justify-content:space-between;
        &.search-bar-single{
          width: 498px;
        }
        .search-widget{
          width: 498px;
          height: 30px;
        }
        .search-filter{
          width: 77px;
          .tc-btn{
            display: block;
            padding: 5px 0 5px 34px;
            text-align: left;
            color: $tc-gray-40;
            background-color: transparent;
            border-radius: 2px;
            font-size: 12px;
            position: relative;
            &:before{
              display: block;
              content: '';
              width: 14px;
              height: 16px;
              position: absolute;
              top: 7px;
              left: 10px;
              background: url("../../styles/i/icon-filter.png") left top no-repeat;
              background-size: 14px 32px;
            }
            &.active{
              background: $tc-gray-80;
              box-shadow: inset 0px 1px 3px 0px $tc-rgba-10;
              &:before{
                background: url("../../styles/i/icon-filter.png") left -16px no-repeat;
                background-size: 14px 32px;
              }
            }
          }
        }
      }
      .welcome-info{
        position: absolute;
        right: 20px;
        top: 0;
        z-index:2;
        height: 60px;
        font-size: 13px;
        color: $tc-gray-50;
        display: flex;
        justify-content: space-between;
        @include roboto-medium;
        >.tc-btn{
          margin-top: 15px;
          background-color: $tc-gray-50;
          border: 0;
          width: 116px;
          text-align: center;
        }
        .avatar-info{
          position: relative;
          margin-left: 20px;
          display: flex;
          align-items: center;
          .avatar{
            width: 30px;
            height: 30px;
            background-color: $tc-dark-blue-70 ;
            border-radius: 15px;
            overflow: hidden;
            text-align: center;
            line-height: 30px;
            color: $tc-white;
            @include roboto-medium;
            font-size: 15px;
            position: absolute;
            left: 0;
            top: 15px;
            img{
              width: 30px;
              height: 30px;
              border-radius: 15px;
            }
          }
          .avatar-link{
            display: inline-block;
            padding-right: 16px;
            position: relative;
            &:after{
              display: block;
              content: '';
              width: 10px;
              position: absolute;
              right: 0;
              top: 50%;
              margin-top: -4px;
              height: 7.5px;
              //background: url("../../styles/i/arrow-down-black.png") right center no-repeat;
              background-size: 10px 7.5px;
            }
          }
        }
        .tc-btn-primary{
          margin-left: 7px;
        }
      }
    }
  }

  &.tc-header__connect-project{
    padding: 0;
    min-height: 60px;
    height: auto;
    .top-bar{
      display: flex;
      height: 60px;
      background-color: $tc-black;
      padding: 0 20px;
      .bar-column:first-child{
        display: flex;
        width: calc(100% - 560px);
      }
      .bar-column:last-child{
        width: 560px;
        display: flex;
      }
      .logo-wrapper{
        width: 110px;
      }
      .breadcrumb{
        @include roboto-light;
        font-size: 20px;
        color: $tc-gray-10;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
        span {
          display:block;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          padding-right: $base-unit * 12;
        }
        a {
          display:block;
          flex-shrink: 0;
          color: $tc-gray-50;
          &:hover, &.hover{
            text-decoration: none;
            color: $tc-orange-30;
          }
        }
      }
      .bar-column .welcome-info{
        width: 70px;
        padding-left: 20px;
        margin-left: auto;
        display: flex;
        align-items: center;
      }
      .avatar-info{
        position: relative;
        .Dropdown {
          min-width: 100px;
          right: 0;
          left: auto;
        }
        .username {
          display: none;
        }
        .avatar{
          width: 30px;
          height: 30px;
          background-color: $tc-dark-blue-70 ;
          border-radius: 15px;
          overflow: hidden;
          text-align: center;
          line-height: 28px;
          color: $tc-white;
          @include roboto-medium;
          font-size: 15px;
          position: absolute;
          left: 0;
          top: 0;
          img{
            width: 30px;
            height: 30px;
            border-radius: 15px;
          }
        }
        .avatar-link-arrow{
          display: block;
          width: 10px;
          height: 30px;
          //background: url("../../styles/i/arrow-down-black.png") right center no-repeat;
          background-size: 10px 7.5px;
        }
      }
    }
  }
  .nav{
    padding-right: 5px;
    height: 20px;
    margin-top: 20px;
    border-right: 1px solid $tc-gray-80;
    flex: 1;
    ul{
      width: 484px;
      height: 20px;
      display: flex;
      justify-content: flex-end;
      margin: 0;
      padding: 0;
    }
    ul li{
      padding: 0 15px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      vertical-align: middle;
      &:first-child{
        padding-left: 0;
      }
      a{
        display: inline-block;
        @include roboto-medium;
        font-size: $tc-label-md;
        color: $tc-gray-50;
        line-height: 20px;
        position: relative;
        padding-left: 26px;
        /* menu icons */
        >i{
          display: block;
          width: 16px;
          height: 16px;
          position: absolute;
          left: 0;
          top: 2px;
          &.icon-dashboard{
            background: url("../../styles/i/icon-dashboard.svg") left top no-repeat;
          }
          &.icon-specification{
            background: url("../../styles/i/icon-ruler-pencil.svg") left top no-repeat;
          }
          &.icon-challenges{
            background: url("../../styles/i/icon-hammer.svg") left top no-repeat;
          }
          &.icon-messages{
            background: url("../../styles/i/icon-chat.svg") left top no-repeat;
          }
        }
      }
      &:hover, &.hover{
        a, a:hover{
          color: $tc-orange-30;
          >i{
            &.icon-dashboard{
              background: url("../../styles/i/icon-dashboard-hover.svg") left top no-repeat;
            }
            &.icon-specification{
              background: url("../../styles/i/icon-ruler-pencil-hover.svg") left top no-repeat;
            }
            &.icon-challenges{
              background: url("../../styles/i/icon-hammer-hover.svg") left top no-repeat;
            }
            &.icon-messages{
              background: url("../../styles/i/icon-chat-hover.svg") left top no-repeat;
            }
          }
        }
      }
      a.active, a.active:hover{
        color: $tc-orange-70;
        >i{
          &.icon-dashboard{
            background: url("../../styles/i/icon-dashboard-active.svg") left top no-repeat;
          }
          &.icon-specification{
            background: url("../../styles/i/icon-ruler-pencil-active.svg") left top no-repeat;
          }
          &.icon-challenges{
            background: url("../../styles/i/icon-hammer-active.svg") left top no-repeat;
          }
          &.icon-messages{
            background: url("../../styles/i/icon-chat-active.svg") left top no-repeat;
          }
        }
      }
    }
  }

  .breadcrumb-tooltip{
    @include roboto();
    word-break: break-word;
    position: absolute;
    left: calc(50% - 240px - 230px);
    top: 56px;
    width: 480px;
    padding: 15px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 500;
    color: $tc-white;
    background-color: $tc-gray-80;
    border-radius: 4px;
    z-index: 10;
    &:before{
      display: block;
      content: '';
      position: absolute;
      left: 50%;
      top: -7px;
      margin-left: -7px;
      width: 0;
      height: 0;
      border: 7px solid $tc-gray-80;
      border-top: 0;
      border-left-color: transparent;
      border-right-color: transparent;
    }
  }
}


/* .bar__search */
.bar__search{
  position: relative;
  min-height: 60px;
  padding: 0 20px;
  background-color: $tc-gray-neutral-light;
  display: flex;
  width: 100%;
  h2{
    font-size: $tc-body-large;
    line-height: 60px;
    color: $tc-black;
    width: 120px;
    white-space: nowrap;
  }
  .bar-control{
    width: 120px;
    text-align: right;
    min-height: 30px;
    padding-top: 15px;
    .tc-btn{
      display: inline-block;
      height: 30px;
      white-space: nowrap;
    }
  }
  .search-panel{
    flex: 1;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    flex-wrap: wrap;
    label{
      @include roboto-medium;
      width: 83px;
      display: inline-block;
      line-height: 30px;
      height: 30px;
      font-size: 13px;
      color: $tc-gray-70;
      text-align: right;
    }
    .search-select-widget{
      width: 280px;
      margin-left: 10px;
      display: inline-block;
    }
  }
  .SwitchButton {
    .label {
      padding-right: 10px;
    }
  }
}



@media all and (max-width: 1240px) {
  .tc-header{
    &.tc-header__connect{
      .top-bar .search-bar{
        width: 383px;
        margin-left: 110px;
        .search-widget{
          width: 296px;
        }
        &.search-bar-single .search-widget{
          width: 383px;
        }
      }
      .top-bar .welcome-info .avatar-info .avatar-link{
        text-indent: -9999px;
        width: 10px;
        padding-right: 0;
      }
    }
    &.tc-header__connect-project{
      .top-bar{
        &:after{
          display: block;
          content: '';
          width: 0;
          height: 0;
          clear: both;
          overflow: hidden;
        }
        .bar-column:first-child{
          width: calc(100% - 215px);
        }
        .bar-column:last-child{
          width: 215px;
        }
        .logo-wrapper{
          width: 90px;
        }
        .breadcrumb .breadcrumb-tooltip{
          left: 28px;
        }
      }
    }
    .nav{
      padding-right: 10px;
      ul{
        width: 134px;
      }
      ul li{
        padding: 0 10px;
        &:first-child {
          padding-left: 0;
        }
        a{
          padding-left: 16px;
          text-indent: -9999px;
        }
      }
    }
  }
  .bar__search{
    h2{
      width: 110px;
    }
    .search-panel{
      flex: 1;
      margin: 0 auto;
      text-align: left;
      display: flex;
      justify-content: flex-start;
      label{
        width: auto;
        margin-left: 30px;
        &.first{
          margin-left: 0;
        }
      }
      .search-select-widget {
        width: 170px;
      }
    }
  }
}
