@import '../../../../../styles/includes';
@import '~tc-ui/src/styles/tc-includes';

.milestone-post {
  @include roboto;

  display: table-row;
  font-size: 15px;

  .col-left {
    display: table-cell;
    text-align: right;
    vertical-align: top;
  }

  .col-right {
    display: table-cell;
    text-align: left;
    width: 100%;
  }

  .label-layer {
    &::after {
      clear: both;
      content: '';
      display: block;
      height: 0;
      width: 100%;
    }
  }

  .label-title {
    color: $tc-gray-80;
    font-size: 15px;
    line-height: 30px;
    min-width: 40px;
    padding: $base-unit 2 * $base-unit $base-unit 0;
    text-align: right;
    white-space: nowrap;
    width: 100%;

    &:last-child {
      display: none;
      margin-top: 2 * $base-unit;
    }
  }

  .col-right .label-title {
    float: left;
    padding-left: 4 * $base-unit;
    width: auto;
  }

  /* use this selector to overwrite the global style for sure */
  input:not([type="checkbox"]) {
    float: left;
    text-transform: initial;
    width: 170px;

    &::placeholder {
      color: $tc-gray-30;
      font-size: 15px;
      text-transform: initial;
    }
  }

  /* when two inputs don't fit one line, make them two lines */
  @media screen and (max-width: 1090px) {
    .label-title:last-child {
      display: block;
    }

    .col-right .label-title {
      display: none;
    }

    input:not([type="checkbox"]) {
      clear: both;
    }
  }
}
