
.demo-team {
  width: 1220px;
  min-height: calc(100vh - 150px);
  background: #EBEBEB;
  margin: 0px auto 20px auto;
  padding: 20px;
  border-radius: 4px;
}
.demo-col {
  width: 360px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;
}
