@import "tc-includes";

.footer-v2 {
  display: flex;
  @include roboto;
  font-size: $tc-label-md;
  color: $tc-gray-50;
  line-height: $base-unit*6;
  padding: 10px 20px;
  ul.footer-links{
    flex-grow: 1
  }
  li {
    display: inline-block;
  }
  li:not(:first-child)::before{
    content: " · ";
  }
  a:hover{
    color: $tc-dark-blue;
  }
}