@import '~tc-ui/src/styles/tc-includes';

:global {
  .Wizard {
    text-align: center;
    .content {
      background: $tc-white;
      box-shadow: 0px 0px 14px 1px rgba($tc-gray-90, 0.15);
      display: inline-block;
      margin: 24px auto;
      min-width: 120px;
      /*position: relative;*/
      text-align: left;
      width: 100%;

      .header-controls {
        position: relative;

        .back-button {
          position: absolute;
          left: 12px;
          top: 12px;
          z-index: 1;
        }

        .escape-button {
          position: absolute;
          right: 12px;
          top: 12px;
          z-index: 1;
        }
      }
    }
  }
}
