@import '~tc-ui/src/styles/tc-includes';

:global {
  .Wizard {
    text-align: center;
    .content {
      background: $tc-white;
      box-shadow: 0px 0px 14px 1px rgba($tc-gray-90, 0.15);
      display: inline-block;
      margin: 24px auto;
      min-width: 120px;
      padding: 20px;
      /*position: relative;*/
      text-align: left;
      width: 100%;

      @media screen and (max-width: $screen-md - 1px) {
        padding: 10px;
      }
    }

    .back-button {
      position: absolute;
      left: 12px;
      top: 12px;
      z-index: 1;

      @media screen and (max-width: $screen-md - 1px) {
        left: 2px;
        top: 2px;
      }
    }

    .escape-button {
      position: absolute;
      right: 12px;
      top: 12px;
      z-index: 1;

      @media screen and (max-width: $screen-md - 1px) {
        right: 2px;
        top: 2px;
      }
    }
  }
}
