version: 2
jobs:
  test:
    docker:
      - image: circleci/node:8.9.4
    steps:
      - checkout
      - restore_cache:
          key: test-node-modules-{{ checksum "package-lock.json" }}
      - run: npm install
      - save_cache:
          key: test-node-modules-{{ checksum "package-lock.json" }}
          paths:
            - node_modules
      - run: npm run lint
      - run: npm run test
      - run: npm run build
      - persist_to_workspace:
          root: .
          paths:
            - dist

  # Just tests commited code.
  deployDev:
    docker:
      - image: cibuilds/aws
    steps:
      - checkout
      - attach_workspace:
          at: ./workspace
      - run: ./deploy.sh DEV no-cache

  deployProd:
    docker:
      - image: cibuilds/aws
    steps:
      - checkout
      - attach_workspace:
          at: ./workspace
      - run: ./deploy.sh PROD

workflows:
  version: 2
  build:
    jobs:
      - test
      - deployDev:
          requires:
            - test
          filters:
            branches:
              only: ciUpgrade
      - deployProd:
          requires:
            - test
          filters:
            branches:
              only: master
            