// this is to include tc styles in the output library
@import 'tc-includes';

.notification-item {
  display: flex;
  background-color: $tc-white;
  justify-content: space-between;

  & + & {
    border-top: 1px solid $tc-gray-10;
  }

  > .icon {
    align-items: center;
    border-left: 2px solid #55a5ff;
    display: flex;
    flex: 0 0 44px;
    justify-content: center;
  }

  > .body {
    flex: 1;
    padding: 15px 0;

    > .content {
      @include roboto;
      color: $tc-black;
      font-size: 13px;
      line-height: 20px;

      > strong {
        color: #000;
        font-weight: bold;
      }
    }

    > .date {
      @include roboto;
      color: $tc-gray-50;
      font-size: 11px;
      line-height: 20px;
    }
  }

  > .mark-read {
    align-items: center;
    display: flex;
    flex: 0 0 55px;
    justify-content: flex-end;

    > button {
      background: none;
      border: 0;
      display: block;
      height: 42px;
      margin: 0;
      padding: 0;
      width: 42px;

      > svg {
        fill: $tc-gray-20;
      }
    }
  }
}
