@import '../../styles/includes';
@import '~tc-ui/src/styles/tc-includes';

// generic-menu specific styles
.generic-menu {
  @include roboto-bold;
  display: flex;
  justify-content: center;
  height: 50px;
  background-color: $tc-gray-neutral-light;
  position: relative;
  .list {
    display: flex;
    justify-content: space-between;
    height: inherit;
    li {
      position: relative;
      line-height: 50px;
      margin: 0 20px;
      .dot {        
        opacity: 1;
        transition: opacity 1000ms ease-in-out; // duration should be same as Transition `timeout`
        position: absolute;
        right: -12px;
        top: 10px;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background-color: $tc-red-70;
      }

      .dot.exiting,
      .dot.exited {
        opacity: 0;
      }
    }
    a,
    span {
      color: $tc-gray-40;
      font-size: 13px;
      text-align: center;
      display: inline-block;
      min-height: 30px;
      line-height: 30px;
      position: relative;
      cursor: pointer;
      &:after {
        content: '';
        bottom: 0;
        position: absolute;
        width: 30px;
        height: 2px;
        left: calc(50% - 15px);
        background-color: transparent;
      }
      &:hover {
        color: $tc-black;
      }
      &.active {
        color: $tc-black;
        &:after {
          background-color: $tc-dark-blue-100;
        }
      }
    }
  }
}
