@import '~tc-ui/src/styles/tc-includes';

// standard card border radius
$card-border-radius     : 6px;

// TODO: Add breakpoint to global styles
$screen-rg: 992px;

$color-dark-green: #127d60;
$color-bg-green: #DFFFDB;

$color-border: #d0d0d0;

$color-check-mark: #0ab88a;
$color-x-mark: #fe5c52;
