@import '~tc-ui/src/styles/tc-styles';
@import '~tc-ui/src/styles/tc-includes';
// This is the partial where we load all the Roboto fonts for Webpack
@import 'fonts';

body {
  @include roboto;
  box-sizing: border-box;
  // Prevenet jumping of elements, force scrollbar always-on
  overflow-y: scroll;
  
  :global {
    .tc-btn-primary {
      &:hover {
        color: $tc-white;
      }

      &:hover,&:active,&:focus {
        @include background-gradient(#3996FF, #127BF3);
      }
    }
  }
}
