@import 'tc-styles';

// This is the partial where we load all the Roboto fonts for Webpack
@import 'fonts';

// Make the fonts render properly; under Chrome & Firefox Roboto render really
// bad, so we have to force geometricPrecision.
html, body {
	@include roboto;
	font-size: $tc-body-md;
	line-height: 5 * $base-unit;
	text-rendering: geometricPrecision;

	box-sizing: border-box;
}
