@import '~tc-ui/src/styles/tc-includes';

:global {
  .SelectDropdown {
    border: none;
    padding: 0px;
    min-width: 100px;
    margin-left: calc(2 * #{$base_unit});
    margin-bottom: 2 * $base_unit;

    .Dropdown {
      top: 20px;
    }
  }
}

// use long selector to override style
:global(.dropdown-wrap.default .Dropdown ul.dropdown-menu-list) li.disabled {
  &:hover {
    background-color: transparent;
  }

  > a {
    color: $tc-gray-30;
    cursor: default;
  }
}

.dropdown-disabled {
  margin-left: 0;
  width: 100%;

  :global(.tc-link) {
    &,
    &:hover,
    &:active,
    &:focus {
      cursor: default;
      color: $tc-gray-60;
    }
  }
}
