@import '~tc-ui/src/styles/tc-includes';

.container {
  width: 100%;
}

:global {
  .SelectDropdown {
    border: none;
    padding: 0px;
    min-width: 100px;
    margin-left: calc(2 * #{$base_unit});
    margin-bottom: 2 * $base_unit;

    .Dropdown {
      top: 20px;
      max-height: 300px;
      overflow: auto;
    }
  }
}

// use long selector to override style
:global(.dropdown-wrap.default .Dropdown ul.dropdown-menu-list) li.disabled {
  &:hover {
    background-color: transparent;
  }

  > a {
    color: $tc-gray-30;
    cursor: default;
  }
}

// for the "theme" contains "max-height" restrict the max-he
:global(.dropdown-wrap.max-height .Dropdown ul.dropdown-menu-list) {
  max-height: 200px;
  overflow: auto;
}

// make dropdown higher in the z-index to cover other elements when it's opened
:global(.dropdown-wrap.default .Dropdown) {
  z-index: 10;
}

.dropdown-disabled {
  margin-left: 0;
  width: 100%;

  :global(.tc-link) {
    &,
    &:hover,
    &:active,
    &:focus {
      cursor: default;
      color: $tc-gray-60;
    }
  }
}
