@import '~tc-ui/src/styles/tc-includes';

.edit-toggle-btn {
  border: 1px solid $tc-gray-neutral-dark;
  border-radius: 6px;
  display: flex;
  line-height: 9px;
  height: 12px;
  padding: 0 3px;

  > i {
    &::before {
      color: $tc-black;
      content: '\00B7';
      display: inline-block;
      font-size: 20px;
      vertical-align: middle;
    }
  }
}