// this is to include tc styles in the output library
@import 'tc-includes';

.side-filter {
  background: #FFFFFF;
  border-radius: 4px;
  padding: 10px;

  .additional-content {
    border-top: 1px solid $tc-gray-10;
    margin-top: 10px;
    text-align: center;
    padding: 20px 0 10px;
  }
}
