@import '~tc-ui/src/styles/tc-styles';

:global {
  body {
    @include roboto;
    min-width: 320px;
    background-color: $tc-gray-neutral-dark;
  
    iframe#tc-accounts-iframe {
      display: none;
    }
  }
  html body{
    @include roboto;
  }

  
  .ReactModal__Body--open {
    overflow: hidden;
  }
  
  .ReactModal__Content--after-open {
    outline: none;
  }
}
  