@import '~tc-ui/src/styles/tc-includes';

:global {
	.react-select__control {
  	  height: 40px;
  	  box-shadow: none !important;
	  & > div {
	  		height: 40px;
	  }
	  & > div:nth-child(2) {
		  display: none;
	  }
  	  & input:focus {
  		min-width: 500px;
  		box-shadow: none !important;
  		-webkit-box-shadow: none !important;
  		height: 20px;
  	  }
	}

	.react-select__option {
		font-family: 'Roboto', Arial, Helvetica, sans-serif;
	    font-size: 13px;
	}

	.react-select__multi-value {
		background-color: #cdcdce !important;
    	font-weight: bold;
	}

	.react-select__menu-notice--no-options {
		text-align : left !important;
	    font-size : 15px;
	    color: gray;
	}
}
