@import '~tc-ui/src/styles/tc-includes';

:global {
  .Select {
    line-height: normal;
    text-align: left;
  }
  
  /* to override input styles use same params like in tc-includes */
  .Select-input {
    height: 28px;
  }
  
  .Select-input > input:not([type="checkbox"]) {
    border: 0 none;
    height: 28px;
    line-height: 17px;
    padding: 0;
    transition: none;
  
    &:focus:not(.error),
    &:active {
      box-shadow: none;
    }
  }
  
  .Select-placeholder {
    @include roboto;
    color: $tc-gray-50;
    font-size: 13px;
    line-height: 28px;
  }
  
  .Select-control {
    height: 30px;
  }
  
  .Select-item {
    background-color: $tc-gray-10;
    border: 0;
    height: 20px;
    margin-left: 4px;
    margin-top: 4px;
    padding: 0 10px 0 4px;
  }
  
  .Select-item-label {
    @include roboto-medium;
    display: inline;
    color: $tc-black;
    font-size: 13px;
    line-height: 20px;
    padding: 0 0 0 4px;
  }
  
  .Select-item-icon {
    color:rgb(153, 153, 153);
    border-right-color: rgb(220, 220, 224);
    padding: 2px 5px 1px;
    
    &:active,
    &:focus,
    &:hover {
        background-color: transparent;
        color: rgb(208, 2, 27);
    }
  }
  
  .Select-option {
    @include roboto-medium;
    color: $tc-black;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 6px;
  
    &:hover,
    &.is-focused {
      background-color: $tc-gray-neutral-dark;
    }
  }
  
  .Select-noresults,
  .Select-search-prompt,
  .Select-searching {
    @include roboto-medium;
    color: $tc-gray-50;
    font-size: 13px;
  }
}
  