@import '~tc-ui/src/styles/tc-includes';

:global {
  .main-wrapper {
    min-height: calc(100vh - 40px); // header and footer width
    padding-top: 80px;
    transition: all 150ms ease-in-out;
    overflow: hidden;

    &.with-filters {
      padding-top: 120px;
    }

    &[data-route*='new-project'] {
      background-color: $tc-gray-neutral-light;
    }
  }

  .content-area {
  }
}
  