@import 'tc-includes';

.SearchSuggestions {
	margin-bottom: 30px;
	background-color: white;
	border: 1px solid $tc-gray-30;
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
	border-radius: 2px;
	// min-height: 303px;
	position: relative;

	.panel-header {
		background-color: $tc-gray-neutral-light;
		position: relative;
		height: 36px;
		padding-left: 14px;

		.label {
			font-size: 12px;
			line-height: 14px;
			color: $tc-gray-30;
			position: relative;
		}

		.recent-search-panel-actions {
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			width: 51px;
			text-align: center;
			cursor: pointer;

			.recent-search-panel-action {
				height: 100%;

				a, a:visited {
					font-size: 12px;
					line-height: 14px;
					color: $tc-gray-30;
					background-color: transparent;
					border: 0px;
					outline: 0px;
					display: block;
					width: 100%;
					height: 100%;
					padding-top: 10px;
				}
			}

		}

		.recent-search-panel-actions:hover {
			background-color: rgba(159, 33, 237, 0.1);

			.recent-search-panel-action {
				a, a:hover, a:active {
					color: $tc-dark-blue;
					border: 0px;
					outline: 0px;
				}
			}
		}
	}

	.panel-body {
		border: none;
		padding: 0;
		// padding-bottom: 5px;

		li.selected {
			background-color: $tc-gray-neutral-dark;
		}

		.StandardListItem {
			align-items: initial;
			text-align: left;
			padding: 3px 14px;
			cursor: pointer;
			max-height: 36px;

			.label {
				color: $tc-gray-90;
				font-size: 16px;
				line-height: 30px;
				white-space: nowrap;
				text-overflow: ellipsis;
				width: 95%;
				overflow-x: hidden;
				overflow-y: hidden;
			}
		}

		.StandardListItem:hover {
			background-color: $tc-gray-neutral-dark;

		}

		.footer-link {
			width: 100%;
			display:block;
			height: 40px;
			padding: 14px 15px;
			background-color: $tc-dark-blue-10;
			color: $tc-gray-90;
			font-size: 12px;
			line-height: 14px;
			position: absolute;
			bottom: 0;
			border: 0px none;
			outline: 0px none;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}

		.footer-link:hover, .footer-link:active {
			background-color: $tc-dark-blue-30;
			color: $tc-black;
			border: 0px none;
			outline: 0px none;
		}
	}
}

.SearchSuggestions.empty-state {
	.panel-body {
		padding-bottom: 45px;
	}
}
