// this is to include tc styles in the output library
@import '~tc-ui/src/styles/tc-includes';

:global {
  .notifications-empty {
    background-color: #fff;
    border-radius: 4px;
    padding: 70px 0 110px;
    text-align: center;

    @media screen and (max-width: $screen-md - 1px) {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      padding: 0;
    }

    > .icon {
      line-height: 0;

      > svg {
        height: 32px;
        width: 32px;

        > g > g {
          fill: #6a6a72;
        }
      }
    }

    > .additional-content {
      line-height: normal;
    }

    > .message {
      @include roboto;
      color: $tc-gray-70;
      font-size: 20px;
      line-height: 30px;
      margin-top: 14px;
    }

    > .notification-settings {
      margin-top: 30px;
    }

    .notifications-empty-note {
      @include roboto;
      color: $tc-gray-50;
      font-size: 13px;
      line-height: 20px;
      margin: 10 * $base-unit auto 6 * $base-unit;
      max-width: 440px;

      > a {
        color: #55a5ff;

        &:hover {
          color: $tc-dark-blue;
        }
      }
    }
  }
}
