@import '~tc-ui/src/styles/tc-includes';

.container {
  align-items: center;
  display: flex;
  padding-right: 14px;

  :global(.notifications-empty-note) {
    max-width: 270px;
  }
}

.header {
  align-items: center;
  background-color: $tc-black;
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 0 ($base-unit * 3 - 8); /* -8px to align buttons */
}

.logo {
  display: block;
  height: 20px;
  overflow: hidden;

  svg {
    margin-left: -4px;
    margin-top: -1px;
    width: 60px;

    path {
      fill: $tc-gray-10;

      &:last-child {
        display: none;
      }
    }
  }
}

.title {
  @include roboto;
  color: $tc-gray-10;
  font-size: 15px;
  text-transform: uppercase;
}

.btn {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 32px;
  width: 32px;
}

.settings-icon {
  fill: $tc-white;
}

.body {
  background-color: #fff;
  height: calc(100vh - 50px); /* window height - header height */
}

.read-all {
  @include roboto;
  background-color: $tc-gray-neutral-light;
  border-top: 1px solid $tc-gray-10;
  color: $tc-gray-50;
  display: block;
  font-size: 12px;
  line-height: 40px;
  letter-spacing: 0;
  text-align: center;
}
