@import '~tc-ui/src/styles/tc-includes';

.read-all {
  @include roboto;
  background-color: $tc-gray-neutral-light;
  border: 0;
  border-top: 1px solid $tc-gray-10;
  color: $tc-gray-50;
  cursor: pointer;
  display: block;
  font-size: 12px;
  line-height: 40px;
  letter-spacing: 0;
  text-align: center;
  width: 100%;

  @media screen and (max-width: $screen-md - 1px) {
    font-size: 13px;
  }
}
