@import "tc-includes";
.project-status-section {
  display: flex;
  border-top: 1px solid $tc-gray-10;
  align-items: baseline;
  margin: 15px 0;
  padding-top: 10px;
  position: relative;

  .status-dropdown {
    border-radius: $base-unit;
    box-shadow: 0 0 15px rgba($tc-black, .25);
    padding: 10px 0;
    position: absolute;
    background: $tc-white;
    top: 27px;
    right: -9px;
    z-index: 2;
    a {
      display: block;
      @include roboto-medium;
      font-size: $tc-label-md;
      color: $tc-gray-80;
      text-align: left;
      line-height: 30px;
      padding: 0 16px 0 10px;
      &:hover {
        background: $tc-dark-blue-10;
      }
      &.active {
        background: $tc-dark-blue-10;
      }
      span {
        display: inline-block;
        position: relative;
        top: 5px;
        margin-right: 10px;
        border-radius: 100%;
        width: 20px;
        height: 20px;
        &.gray {
          background: url('../../assets/images/dot.png') no-repeat 6px 50%;
          background-size: 8px;
          background-color: $tc-gray-40;
        }
        &.green {
          background: url('../../assets/images/dot.png') no-repeat 6px 50%;
          background-size: 8px;
          background-color: $tc-green;
        }
        &.red {
          background-color: $tc-red;
          
          .status-icon {
            position: absolute;
            left: 4px;
            top: 4px;
            display: block;
            height: 12px;
            width: 12px;
            background-size: 12px 12px;
          }
        }

        &.black {
          background-color: $tc-gray-70;
          .status-icon {
            position: absolute;
            left: 4px;
            top: 4px;
            display: block;
            height: 12px;
            width: 12px;
            background-size: 12px 12px;
          }
        }
      }
    }
  }

  .status-label {
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    position: relative;
    margin-left: auto;
    border-radius: $base-unit*4;
    @include roboto-medium;
    font-size: $tc-label-sm;
    color: $tc-white;
    line-height: $base-unit*4;
    height: $base-unit*4;
    padding: 0 $base-unit*5 0 $base-unit*5;
    &.gray {
      background: url('../../assets/images/dot.png') no-repeat 6px 50%;
      background-size: 8px;
      background-color: $tc-gray-40;
    }
    &.green {
      background: url('../../assets/images/dot.png') no-repeat 6px 50%;
      background-size: 8px;
      background-color: $tc-green;
    }
    &.red {
      background-color: $tc-red;
      
      .status-icon {
        position: absolute;
        left: 5px;
        top: 4px;
        display: block;
        height: 12px;
        width: 12px;
        background-size: 12px 12px;
      }

    }
    &.black {
      background-color: $tc-gray-70;
      .status-icon {
        position: absolute;
        left: 5px;
        top: 4px;
        display: block;
        height: 12px;
        width: 12px;
        background-size: 12px 12px;
      }
    }
    &.editable {
      cursor: pointer;
      &::after {
        content: '';
        display: inline-block;
        width: 9px;
        height: 5px;
        position: absolute;
        right: 10px;
        top: 8px;
        background-size: 9px 4px;
      }
    }
  }
}

.project-direct-links {
  @include roboto-medium;
  font-size: $tc-label-md;
  color: $tc-gray-40;
  line-height: $base-unit*6;
  ul {
    padding: 0;
    li {
      padding-left: $base-unit*6;
    }
  }
}