// this is to include tc styles in the output library
@import '~tc-ui/src/styles/tc-includes';

:global {
  .focused-form {
    background: $tc-dark-blue-10;
  }

  .submitted-form {
    background: $tc-yellow-30;
  }

  .change-email-form {
    padding-top: 10px;
    margin-top: 10px;
    padding-right: 20px;

    @media screen and (max-width: $screen-md - 1px) {
      padding-top: 0px;
    }

    > .email-container {
      display: flex;
      flex-wrap: wrap;

      @media screen and (max-width: $screen-md - 1px) {
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 0px 0px 10px;
      }

      > .label {
        @include roboto-medium;
        flex: 1 0 120px;
        min-width: 180px;
        max-width: 200px;
        text-align: right;
        padding-right: 15px;
        color: $tc-gray-80;
        font-size: 15px;
        line-height: 18px;
        padding-top: 15px;

        @media screen and (max-width: $screen-md - 1px) {
          flex: none;
          margin-bottom: 10px;
          margin-left: 10px;
          text-align: left;
        }
      }

      > .field {
        flex-grow: 1;
        max-width: 450px;
        min-width: 350px;
        position: relative;

        @media screen and (max-width: $screen-md - 1px) {
          max-width: none;
          min-width: 0;
          width: 100%;
        }

        .error-message {
          background: none;
          border: none;
          text-align: right;
          padding: 0;
        }

        > .field-status {
          @include roboto;
          bottom: 4px;
          height: 32px;
          width: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          font-size: 13px;
          line-height: 20px;
          color: $tc-gray-80;

          > .loading-indicator {
            margin-left: 10px;
          }

          > svg {
            margin: 8px 0 0 8px;

            > polygon {
              fill: $tc-green-70
            }
          }
        }

        .success-status {
          color: $tc-green-110;
        }

        .red-status {
          color: $tc-red-110;
          font-style: italic;
        }
      }
    }

    > .controls {
      padding: 10px 0px;
      text-align: center;

      > button {
        &:not(:first-child) {
          margin-left: 10px;
        }
      }

      > button[disabled] {
        filter: none;
      }
    }
  }
}
