// this is to include tc styles in the output library
@import '~tc-ui/src/styles/tc-includes';

:global {
  .settings-panel {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $screen-md - 1px) {
      margin: 0;
      padding: 0;
      flex-direction: column;
    }

    > .inner {
      background-color: $tc-white;
      border-radius: 6px;
      max-width: 760px;
      padding: 35px 0px 20px 0px;
      flex-grow: 1;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;

      @media screen and (max-width: $screen-md - 1px) {
        padding: 0;
        margin: 0;
        max-width: none;
      }

      > .title {
        @include roboto-light;
        color: #151516;
        font-size: 28px;
        line-height: 35px;
        text-align: center;

        @media screen and (max-width: $screen-md - 1px) {
          display: none;
        }
      }

      > .text {
        @include roboto;
        color: $tc-gray-90;
        font-size: 15px;
        line-height: 25px;
        margin-top: 20px;

        @media screen and (max-width: $screen-md - 1px) {
          margin-top: 0;
        }
      }

      > .content {
        margin-top: 25px;
        @media screen and (max-width: $screen-md - 1px) {
          margin-top: 0;
        }
      }
    }

    &.wide {
      > .inner {
        max-width: 960px;

        > .content {
          border-top: 0;
        }
      }
    }

    a {
      @include roboto;
    }
    // Link colors
    a:link,
    a:visited {
      color: $tc-dark-blue;
    }

    a:hover,
    a:active {
      color: $tc-dark-blue-70;
    }
  }
}
