@import "tc-includes";

.panel-links{
  li{
    @include roboto-medium;
    font-size: $tc-label-md;
    color: $tc-gray-70;
    line-height: $base-unit*6;
    padding-left: $base-unit*4;
    display: flex;
    .buttons{
      display: none;
      margin-right: 20px;
      margin-left: auto;
    }
  }
  li:not(.delete-confirmation-modal):hover{
    background: #FAFAFB;
    color: $tc-dark-blue;
    .buttons{
      display: block;
    }
  }
  .delete-confirmation-modal {
    .button-area {
      button:not(:last-child) {
        margin-right: 2 * $base-unit;
      }
    }
  }
  .links-footer{
    @include roboto;
    font-size: $tc-label-xs;
    color: $tc-dark-blue-70;
    line-height: $base-unit*6;
    padding-left: $base-unit*4;
  }
}