@import '~tc-ui/src/styles/tc-includes';

:global {
  .panel-links{
    li{
      @include roboto-medium;
      font-size: $tc-label-md;
      color: $tc-dark-blue;
      line-height: 1;
      padding: $base-unit 0 $base-unit $base-unit*4;
      display: flex;
      .button-group {
        margin-left: auto;
        width: 110px;
      }
      .buttons{
        display: none;
        margin-right: 20px;
      }
      a{
        line-height: $base-unit*4;
        max-width: 220px;
        text-overflow: ellipsis;
        overflow-x: hidden;
      }
    }
    li:not(.delete-confirmation-modal):hover{
      background: $tc-gray-neutral-light;
      color: $tc-dark-blue;
      .buttons{
        display: block;
      }
      .link-buttons{
        display: inline-block;
      }
    }
    .links-footer{
      @include roboto;
      font-size: $tc-label-xs;
      color: $tc-gray-70;
      line-height: $base-unit*6;
      padding-left: $base-unit*4;
    }
  
    .delete-link-modal {
      margin-left: -4*$base-unit;
      width: 100%;
    }
  
    li:before {
     content: '\b7\a0';
     font-size: 200%;
     color: $tc-dark-blue;
     line-height: $base-unit*4;
    }
  }
}
  