@import '~tc-ui/src/styles/tc-includes';

:global {
  .panel-links-container {
    @media screen and (max-width: $screen-md - 1px) {
      > .panel-title,
      > .btn-action {
        display: none;
      }
    }
  }

  .panel-links{
    li{
      @include roboto-medium;
      font-size: $tc-label-md;
      color: $tc-dark-blue;
      line-height: 1;
      padding: $base-unit 0 $base-unit $base-unit*4;
      display: flex;
      .button-group {
        margin-left: auto;
        padding-left:20px;
        width: 110px;
      }
      .buttons{
        display: none;
        margin-right: 5px;
        margin-left: auto;
        button {
          padding: 0;
          background: rgba(0, 0, 0, 0);
        }
      }
      a{
        line-height: $base-unit*4;
        max-width: 220px;
        text-overflow: ellipsis;
        overflow-x: hidden;
      }
    }
    @media screen and (min-width: $screen-md) {
      li:not(.delete-confirmation-modal):hover{
        background: $tc-gray-neutral-light;
        color: $tc-dark-blue;

        .buttons{
          display: block;
        }
        .link-buttons{
          display: inline-block;
        }
      }
    }
    .links-footer{
      @include roboto;
      font-size: $tc-label-xs;
      color: $tc-gray-70;
      line-height: $base-unit*6;
      padding-left: $base-unit*4;

      @media screen and (max-width: $screen-md - 1px) {
        padding-right: $base-unit*4;
      }

      &.buttons a {
        margin-left: 0;
        width: auto;

        @media screen and (max-width: $screen-md - 1px) {
          display: inline-block;
          height: 40px;
          line-height: 40px;
          font-size: 13px;
        }
      }
    }

    .delete-link-modal {
      margin-left: -4*$base-unit;
      width: 100%;
    }

    li:before {
     content: '\b7\a0';
     font-size: 200%;
     color: $tc-dark-blue;
     line-height: $base-unit*4;
    }
  }

  .add-link-mobile {
    padding: $base-unit * 2 $base-unit * 5;

    @media screen and (min-width: $screen-md) {
      display: none;
    }

    > button.tc-btn {
      justify-content: center;
      width: 100%;
    }
  }
}
