@import "tc-includes";

.spec-question-list {
}

.spec-question-list-item {
  padding: 0;
  margin-bottom: 30px;

  .icon-col {
    padding-top: 3px;
    padding-right: 10px;
    display: none;
  }

  .content-col {
    width: 100%;

    > h5 {
      @include roboto;
      font-size: 15px;
      line-height: 25px;
      color: $tc-gray-70;
      margin-bottom: 0;

      span {
        color: $tc-orange;
        padding-left: $base-unit;
      }
    }

    > p,
    .description {
      @include roboto-light;
      font-size: 12px;
      color: $tc-gray-50;
      font-weight: 400;
      font-style: italic;
      line-height: 20px;

      &.bigger {
        font-size: 15px;
      }
    }

    .description {
      margin-bottom: $base-unit * 4;
    }

    .child-component {
      .colorSelector {
        margin-bottom: $base-unit * 4;
      }

      .checkbox-group-item.checkbox-item-checked {
        background: $tc-dark-blue-10;
        border-radius: 4px;
      }

      .dropdown-wrap.default {
        background: $tc-gray-neutral-light;
        border-color: $tc-gray-20;
        max-width: 300px;
        margin-left: 0px;

        &:after {
          border-bottom-color: $tc-gray-70;
          border-right-color: $tc-gray-70;
        }
      }

      textarea {
        min-height: 45px;
        max-width: 100%;
        text-align: left;
        text-indent: 0;
        margin-bottom: 0;
        line-height: 25px;
      }

      .radio-group-input,
      .checkbox-group-item {
        width: 100%;
        padding: 15px 0;
        margin-bottom: 20px;
        margin-right: 0;
      }

      .checkbox-group-item {
        border-radius: 4px;
        background: $tc-gray-neutral-light;
        padding-left: 10px;

        label {
          font-weight: 400;
          color: $tc-black;
          font-size: 12px;
        }
      }

      .checkbox-group-options .checkbox-group-item {
        width: auto;
        background: none;
        padding: 0;
        margin: 15px 30px 15px 0;
      }

      .SliderRadioGroup {
        margin: 40px auto 15px auto;
        width: 80%;
      }
    }
  }
}
