@import '../../../../styles/includes';
@import '~tc-ui/src/styles/tc-includes';

.container {
  border-top: 1px solid $tc-gray-10;
  padding-top: 30px;
  position: relative;
}

.columns {
  display: flex;
}

.left-column {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 150px;
}

.right-column {
  width: calc(100% - 150px)
}

.form-container {
  position: relative;
  width: 100%;
}

.title-input {
  margin-bottom: 20px;

  label {
    @include roboto-bold;

    color: $tc-black;
    font-size: 14px;
    text-transform: capitalize;
  }
}

.submission-id-input {
  margin-bottom: 20px;

  label {
    @include roboto-bold;

    color: $tc-black;
    font-size: 14px;
    text-transform: capitalize;
  }
}

.preview-link-input {
  margin-bottom: 20px;

  label {
    @include roboto-bold;

    color: $tc-black;
    font-size: 14px;
    text-transform: capitalize;
  }
}

.links-wrapper {
  margin-bottom: 30px;
}

.links-title {
  @include roboto-bold;

  color: $tc-black;
  font-size: 14px;
  text-transform: capitalize;
}

.image-container {
  width: 100%;
  padding-right: 40px;
}

.preview-img {
  max-width: 100%;
  min-width: 100%;
  min-height: 110px;
  border-radius: 15px;
  background-color: $tc-gray-10;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.edit-btn {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  width: 16px;
  height: 16px;
  opacity: 0.5;
  color: $tc-black;
  z-index: 1;

  &:hover {
    opacity: 1;
  }
}

.loading-overlay {
  background-color: rgba($tc-white, 0.8);
  bottom: 0;
  left: 0;
  top: 0;
  position: absolute;
  right: 0;
  z-index: 10;
}