@import '../../../../styles/includes';
@import '~tc-ui/src/styles/tc-includes';

.container {
  display: flex;
  flex-direction: column;
  background: $tc-white;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 7px 20px 0 rgba(42, 42, 42, 0.1);
  padding: 30px 40px;
  align-items: flex-start;
  position: relative;

  :global {
    .SelectDropdown {
      margin: 0;
      margin-top: 8px;
    }
  }
}

.wrapper-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.is-updating {
  opacity: 0;
  pointer-events: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 100%;
}

.work-name {
  @include roboto-condensed-bold;

  color: $tc-gray-90;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.right-control {
  display: flex;
  align-items: center;
}

.icon-close {
  margin-left: 31px;
}

.icon-edit {
  cursor: pointer;
}

.nav {
  display: flex;
  justify-items: center;
  width: 100%;
  border-bottom: 1px solid $tc-gray-10;
  padding-bottom: 10px;
  margin-top: 33px;
}

.nav-item {
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 0 15px;
  margin-right: 5px;
  cursor: pointer;
}

.nav-item.is-selected {
  background-color: $tc-gray-05;

  .nav-name {
    @include roboto-bold;

    color: $tc-gray-90;
  }

  .nav-count {
    background: $tc-gray-90;
  }
}

.nav-name {
  color: $tc-gray-50;
  font-size: 16px;
  line-height: 30px;
}

.nav-count {
  @include roboto-bold;

  color: $tc-white;
  background-color: $tc-gray-40;
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  border-radius: 9px;
  margin-left: 3px;
  padding: 1px 5px;
  margin-left: 10px;
}

.content {
  margin-top: 30px;
  width: 100%;
}

.loading-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
