@import 'tc-includes';

.two-col-content.content .tc-file-field__inputs, 
.two-col-content.content .tc-textarea,
.child-component textarea,
.project-refcode input,
.TextInput[type="text"] {
  @include roboto;
  border: none;
  border-bottom: 1px dashed $tc-gray-20;
  border-radius: 0;
  box-shadow: none;
  font-size: 20px;
  &.empty {
    @include roboto;
    background: $tc-gray-neutral-light;
    border-bottom: 1px solid $tc-gray-40;
    color: $tc-gray-30;
    font-size: 15px;
  }
  &::-webkit-input-placeholder {
    @include roboto-light;
    color: $tc-gray-30;
    font-size: 15px;
    text-transform: none;
    font-style: italic;

  }
  &:focus {
    @include roboto;
    background: $tc-dark-blue-10 !important;
    border: none;
    border-bottom: 1px solid $tc-dark-blue-70;
    box-shadow: none;
    color: $tc-gray-80;
    font-size: 15px;
  }
  &:hover {
    border: none;
    border-bottom: 1px solid $tc-dark-blue-70;
    box-shadow: none;
    color: $tc-dark-blue-70;
    &::-webkit-input-placeholder {
      color: $tc-dark-blue-70;
    }
  }
}
