.container {
  margin: 0 auto;
  max-width: 946px;
}

.milestones-container {
  margin-top: 50px;
}

.tabs-header {
  height: 0;
  float: left;

  nav {
    justify-content: flex-start;
    background-color: transparent;
  }

  ul {
    > li:first-child {
      margin-left: 0;
    }

    > li:last-child {
      margin-right: 0;
    }
  }
}
