@import '~tc-ui/src/styles/tc-includes';

.badge {
  display: inline-flex;
  background: $tc-red-70;
  color: white;
  @include roboto-bold;
  border-radius: 100%;
  line-height: 17px;
  justify-content: center;
  align-items: center;
  min-width: 17px;
  min-height: 17px;
  padding: 0 2px;
  font-size: 11px;
}
