// this is to include tc styles in the output library
@import '~tc-ui/src/styles/tc-includes';

:global {
  .notifications-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1150px;
    min-width: 960px;
    padding: 30px 20px 0;

    > .content {
      flex: 1;
      margin-right: 30px;
      max-width: 720px;

      > .end-of-list {
        @include roboto-medium;
        color: $tc-gray-50;
        font-size: 13px;
        line-height: 20px;
        text-align: center;
        padding: 20px 0;
      }
    }

    > .filters {
      flex: 1;
      max-width: 360px;
    }
  }
}
