@import '~tc-ui/src/styles/tc-includes';

.container {
  .fieldName {
    margin-bottom: 10px;
  }
  .manageBillingAccountLink {
    display: block;
    color: $tc-dark-blue-110;
    margin-top: 10px;
    &:hover {
      color: inherit;
    }
  }
}