@import '~tc-ui/src/styles/tc-includes';

.container {
  @include roboto;
  align-items: center;
  background-color: $tc-gray-80;
  border-radius: 0 0 6px 6px;
  color: $tc-white;
  display: flex;
  font-size: 15px;
  height: 50px;
  justify-content: space-between;
  margin-top: $base-unit;
  padding-right: 50px;

  @media screen and (max-width: $screen-md - 1px) {
    padding-left: 4 * $base-unit;
    padding-right: 4 * $base-unit;
  }
}

.add-button-contaner {
  text-align: center;
  margin-top: 10px;
}

.main {
  display: flex;
  flex: 1 500px;
}

.total {
  color: $tc-gray-30;
  padding-left: 4 * $base-unit;
  width: 80px;

  @media screen and (max-width: $screen-md - 1px) {
    display: none;
  }
}

.price {
  flex: 0 140px;
  padding-right: 5 * $base-unit;
  text-align: right;
}

.status {
  flex: 0 55px;
  min-width: 55px;

  @media screen and (max-width: $screen-md - 1px) {
    display: none;
  }
}

.meta-list {
  .meta {
    &::after {
      content: " • ";
      display: inline-block;
      margin: 0 $base-unit;
    }

    &:last-child::after {
      display: none;
    }

    &.meta-dark {
      color: $tc-gray-30;
    }
  }
}
