@import '~tc-ui/src/styles/tc-includes';

:global {
  .no-results {
    max-width: 960px;
    margin: 70px auto 20px;
    text-align: center;
    color: $tc-gray-80;
  
    p {
      margin-bottom: 50px;
      @include tc-heading-large;
      font-weight: 300;
    }
  
    span:last-child {
      font-weight: 500;
      word-break: break-word;
    }
  }
  
  // ReactCSSTransitionGroup transitions
  .no-results-appear {
    opacity: 0.01;
  
    &.no-results-appear-active {
      opacity: 1;
      transition: opacity .25s ease-in;
    }
  }
  
}
  