@import "tc-includes";

.panel-specifications {
  .specifications-title {
    text-align: center;

    @include roboto-light;

    font-size: $tc-heading-lg;
    color: $tc-gray-50;
    line-height: $base-unit*6;
  }

  .specifications-list {
    width: 300px;
    margin: 0 auto 40px;

    @include roboto;

    font-size: $tc-label-md;
    line-height: $base-unit*6;
    color: $tc-black;

    .titles {
      text-align: center;

      @include roboto-bold;
    }
  }
}
