@import "~tc-ui/src/styles/tc-includes";

.action-btn {
  cursor: pointer;
  margin: 0 2px;
  background-color: $tc-gray-neutral-dark;
  height: 23px;
  width: 23px;
  text-align: center;
  line-height: 25px;
  border-radius: 12px;

  svg {
    fill: $tc-gray-50;
    height: 10px;
  }
}

.action-btn-remove {
  margin-left: 8px;
}

.d-flex {
  display: flex;
}

.row {
  border: 1px solid $tc-gray-neutral-dark;
  border-top-width: 0;
  display: flex;
  white-space: nowrap;
  padding: 0 4px;
  line-height: 20px;
  font-size: 13px;
  vertical-align: top;
}

.col {
  padding: 13px 7.5px;
  flex-grow: 0;
  flex-shrink: 0;

  &.col-duration {
    width: 120px;
  }

  &.col-people {
    width: 78px;
  }

  &.col-skill-selection {
    flex-grow: 1;
    flex-shrink: 1;

    // Prevents the column from expanding beyond parent due to flex-grow:1
    min-width: 0;
  }

  &.col-role {
    width: 168px;
  }

  &.col-actions {
    width: 76px;
  }

  // Resets standard margins applied by tc-file-field__inputs elements
  .noMargin {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .label {
    display: none;
  }
}

.col-role-container {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.col-actions-container {
  margin-top: 6px;
}

.col-role {
  svg {
    width: 22.5px;
    margin-right: 11px;
    flex-grow: 0;
    flex-shrink: 0;
  }
}

.role-text {
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 959px) {
  .row {
    flex-wrap: wrap;
    padding: 4px;

    &:first-child {
      border-top-width: 1px;
    }
  }

  .col {
    padding: 8px 7.5px;

    &.col-role {
      flex-grow: 1;

      // Prevents the column from expanding beyond parent due to flex-grow:1
      min-width: 0;
    }

    &.col-duration {
      width: 78px;
    }

    .label {
      display: block;
    }
  }

  .inner-row {
    display: flex;
    width: 100%;
  }

  .col-actions-container {
    justify-content: flex-end;
  }
}
