@import '../../../../../../styles/includes';
@import '~tc-ui/src/styles/tc-includes';

.milestone-post {
  @include roboto;
  font-size: 15px;

  .btns-container {
    padding-top: 8px;
    > *:not(:first-child) {
      margin-left: 8px;
    }
  }

  .btns-container-vertical {
    padding-top: 8px;

    > *:not(:first-child) {
      margin-top: 8px;
    }
  }

  .fullwidth {
    width: 100%;
  }

  .report-textarea {
    height: unset;
    padding-top: 8px;
  }

  .view-report-text {
    padding-top: 8px;
    white-space: pre-wrap;
  }

  .review-complete-btn-container {
    margin-top: 16px;
  }

}
