@import "tc-includes";

.project-progress{
  margin: 10px 0;
  .progress-bar{
    margin: 10px 0;
    position: relative;
    background-color: $tc-gray-neutral-dark;
    height: 4px;

    .progress{
      height: 4px;
      &.working{
        background-color: $tc-green;
      }
      &.error{
        background-color: $tc-red-70;
      }
      &.completed{
        background-color: $tc-gray-70;
      }
    }
  }
  .progress-remaining{
    @include roboto-medium;
    font-size: $tc-label-sm;
    color: $tc-gray-50;
  }
}