@import '~tc-ui/src/styles/tc-includes';

.container {
  font-size: 15px;
  text-align: left;
  margin-top: 5px;
}

.header-row {
  @include roboto;

  white-space: nowrap;
  padding: 0 4px;
  color: $tc-silver-110;
  font-size: 13px;
  line-height: 15px;
  background-color: $tc-gray-neutral-light;
  border: 1px solid $tc-gray-neutral-dark;
  display: flex;

  .body {
    @include roboto;

    color: $tc-gray-100;
  }
}


.col-title {
  padding: 15px 7.5px;
  flex-grow: 0;
  flex-shrink: 0;

  &.col-duration,
  &.col-people {
    width: 50%;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
  }

  &.col-role {
    width: 168px;
  }

  &.col-actions {
    width: 76px;
  }
}

.hide {
  display: none;
}


@media screen and (max-width: 959px) {
  .header-row {
    display: none;
  }
}
