@import "tc-includes";

.action-card {
  padding: $base-unit*4 0;
  box-shadow: 0px 1px 3px 0px #c3c3c8;

  // FIXME: Hide the top border on the new post composer to be better looking
  .new-post-title + .tc-textarea .textarea-footer {
    border-top: none;
  }

  .panel-row,
  .modal-row {
    padding: $base-unit*2 $base-unit*6;
  }

    .edit-toggle-container {
      display: inline;
      float: right;

      .edit-toggle {
        background-size: 15px;
        user-select: none;
        position: relative;
        margin-left: auto;
        border-radius: 20px;
        font-family: 'Roboto', Helvetica, Arial, sans-serif;
        font-weight: 500;
        font-size: 12px;
        color: #FFFFFF;
        line-height: 20px;
        height: 20px;
        padding: 0 25px 0 25px;
        cursor: pointer;
      }
      .dropdown-menu-list a{
        text-decoration:none;
        font-weight:400;
        padding:0px;
        &:hover{
        background:transparent;
        }
      }
      .dropdown-menu-list li{
        padding:0px 20px 0 20px;
        &:hover{
          background:$tc-gray-10;
        }
      }

      

      .pointer-shadow .dropdown-menu-list{
        transform:translate(-50%,0%);
      }
      .pointer-shadow .dropdown-menu-list::before {
          content: '';
          display: block;
          position: absolute;
          top: -4px;
          right:18px;
          margin-left:-24px;
          width: 12px;
          height: 12px;
          background: #FFFFFF;
          transform: rotate(-135deg);
          z-index: 999;
      }

      .pointer-shadow.hide{
        display:none;
      }

    }

  .card-header {
    display: flex;
    align-items: center;
    justify-content: center;

    .buttons {
      margin-bottom: $base-unit*2;
    }
  }

  .card-title {
    @include roboto-medium;
    flex-grow: 1;
    word-break: break-word;
    align-items: center;
    line-height: $base-unit*6;
    font-size: $base-unit*4;
    margin-bottom: 10px;
    position: relative;

    div {
      display: inline
    }

    .edit-toggle-container{
      .edit-dropdown {
        top: 5px !important
      }
    }
  }

  .card-profile {
    @include roboto-medium;
    font-size: $tc-label-md;
    line-height: $base-unit*4;
    margin-bottom: 10px;
    position: relative;

    .card-author {
      white-space: nowrap;
      display: inline-block;
    }

    .card-time {
      white-space: nowrap;
      display: inline-block;
      color: $tc-gray-40;

      &::before {
        content: " · ";
      }
      
      a {
        color: $tc-gray-70;
      }
    }

    .card-status {
      display: inline-block;
      margin-left: 20px;
    }
  }

  .topicBody{
    width: calc(100% - 40px);
  }

  .card-body {
    @include roboto;
    font-size: $tc-label-lg;
    color: $tc-gray-70;
    line-height: $base-unit*5;
    padding: 10px 0;
    word-break: break-word;
    overflow-x:auto;

    &.comment-section {
      margin-bottom: -50px;

      .comment-count {
        @include roboto;
        font-size: $tc-label-md;
        color: $tc-gray-40;
        line-height: $base-unit*4;
      }

      hr {
        margin: $base-unit 0 $base-unit*2 0;
        background-color: $tc-gray-10;
        height: 1px;
        border: 0;
      }

      .comment-collapse {
        text-align: center;
        height: 20px;
        position: relative;
        margin-bottom: 35px;

        .comment-collapse-button {
          background: $tc-gray-10;
          border-radius: 176px;
          border: none;
          z-index: 5;
          position: relative;
          padding: 0 15px;
          display: inline-block;
          color: $tc-gray-50;
          line-height: $base-unit*4;
          font-size: 12px;
        }

        &::after {
          content: "";
          position: absolute;
          top: 12px;
          left: 0;
          right: 0;
          width: 100%;
          border-top: solid 1px $tc-gray-10;
          z-index: 1;
        }

        &.loading-comments {
          .comment-collapse-button {
            cursor: default;
          }
        }
      }
    }
    p{
      line-height: 1.5em;
    }
    sup{
      font-size: 0.5em;
      vertical-align: text-top;
    }
    sub{
      font-size: 0.5em;
      vertical-align: text-bottom;
    }
  }

  // Embedded content overrides -- start
  .onebox-body h3 {
    font-size: 15px;
    font-weight: bold;
  }

  .comment-body .elided {
    display: none;
  }
  // Embedded content overrides -- end

  .comment {
    box-shadow: 0px 0px 3px 0px rgba(89, 167, 255, 0.00);
    border-radius: 4px;
    padding: $base-unit*2;
    margin-bottom: -10px;
    width: calc(100% - 40px);


    &.self {
      background: $tc-dark-blue-10;

      &:before {
        border-right: 14px solid $tc-dark-blue-10;
      }

      &:before {
        width: 0; 
        height: 0; 
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent; 
        
        border-right:12px solid #F4F9FF; 
        content: '';
        display: block;
        position: absolute;
        top: 10px;
        left: -6px;
        
        transform: rotate(-90deg);
        z-index: 18;
      }
      position:relative;
    }

    .comment-body {
      @include roboto;
      font-size: 13px;
      color: #47474f;
      line-height: $base-unit*4;
      width: 100%;
      overflow-x: auto;
    }

    .comment-read-more {
      @include roboto;
      font-size: 11px;
      color: #59a7ff;
      line-height: $base-unit*6;
    }
  }

  .commentEdit{
    padding-left:0px;
    padding-right:0px;
  }

  .comment-form {
    textarea,
    input {
      @include roboto;
      font-size: $tc-label-md;

      @include placeholder {
        font-size: $tc-label-md;
        color: $tc-gray-40;
        text-transform: none;
      }
    }

    .tc-textarea {
      margin-top: 0;

      textarea {
        @include roboto;
        font-size: 13px;
        color: #47474f;
        line-height: 20px;
        min-height: 80px;
      }
    }
  }

  .panel-buttons,
  .modal-buttons {
    padding: 0 0 10px 0;
    text-align: center;
  }

  .tc-textarea {
    .public-DraftEditor-content,
    textarea {
      @include roboto;
      min-height: 145px;
      color: $tc-gray-70;
      line-height: $base-unit*5;
      font-size: $tc-label-lg;
    }

    &.has-footer {
      textarea {
        margin-bottom: 0;
        border-bottom: none;
      }
    }

    .textarea-footer {
      padding: 12px 15px;
      background: $tc-gray-neutral-light;
      border: 1px solid $tc-gray-20;
      border-top: 1px solid $tc-dark-blue-90;
      display: flex;

      .textarea-buttons {
        display: flex;
        align-items: center;

        button,
        .separator {
          margin-right: 1px;
          display: inline-block;
          border: none;
          background-color: transparent;
          padding:0px;
        }

        .button {
          cursor: pointer;
        }

        .separator {
          width: 1px;
          height: 20px;
          background-color: $tc-gray-30;
          margin-left:8px;
          margin-right:8px;
        }

        button {
          &:hover,
          &:disabled {
            opacity: 0.5;
          }

          &.active {
            opacity: 1;
          }
        }
      }

      .tc-btn {
        margin-left: auto;
      }
      .tc-btns {
        margin-left: auto;
        .tc-btn {
          margin-left: 10px;
        }
      }
    }
  }

  input {
    @include roboto-medium;
    font-size: $base-unit*4;

    @include placeholder {
      font-size: $base-unit*4;
      color: $tc-gray-40;
    }
  }

  input,
  textarea {
    border: 1px solid $tc-gray-20;
    border-radius: $corner-radius;
  }


  // Link colors
  a:link,
  a:visited {
    color: $tc-dark-blue;
    text-decoration: none;
  }

  a:hover,
  a:active {
    color: $tc-dark-blue-70;
    text-decoration: underline;
  }

  input {
    @include placeholder {
      text-transform: none;
    }
  }
}

.panel,
.modal {
  .object {
    flex-grow: 1;
    margin-left: $base-unit*2;
  }

  .panel-body {
    display: flex;
  }

  .panel-row,
  .modal-row {
    padding: $base-unit*2 $base-unit*4;
    @include roboto;
    font-size: $tc-label-lg;
    display: flex;

    .profile {
      flex-grow: 1;
      margin-left: $base-unit*2;

      .name {
        font-weight: bold;
      }

      .self {
        color: $tc-gray-30;
        font-weight: bold;
      }

      .handle {
        font-size: $tc-label-md;
        color: $tc-gray-50;
        display: block;
        margin-top: 6px;
      }
    }

    .title {
      margin-left: $base-unit*2;
      color: $tc-gray-50;
      font-size: $tc-label-sm;

      &.highlight {
        color: $tc-orange;
      }
    }

    .new-post-title {
      max-width: 640px;
      margin-left: 0px;
    }

    &.add-team-member {
      cursor: pointer;
      display: flex;
      align-items: center;
    }

    &:hover,
    &.active {
      background-color: white;
    }
  }

  .portrait {
    height: 40px;
    width: 40px;
    min-width: 40px;

    img {
      width: 40px;
      height: 40px;
      border-radius: 33px;
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    button,
    a {
      border: none;
      cursor: pointer;
      opacity: 0.4;
      height: 16px;
      width: 16px;
      background-size: 16px;
      display: inline-block;
      margin-left: $base-unit*3;

      &:hover {
        opacity: 1.0;
      }
    }

    .btn-user-remove {
      background: url('../../assets/images/user-remove.svg') no-repeat;
    }

    .btn-promote {
      background: url('../../assets/images/promote.svg') no-repeat;
    }

    .btn-leave {
      background: url('../../assets/images/exit.svg') no-repeat;
    }

    .btn-edit {
      background: url('../../assets/images/ui-16px-1_pencil.svg') no-repeat;
    }

    .btn-remove {
      background: url('../../assets/images/ui-16px-1_trash-simple.svg') no-repeat;
    }
  }
}

.timeline {
  & > .panel,
  & > .modal {
    margin-bottom: $base-unit*4;
  }
}

.comment-form-collapsed {
  .comment-form {
    .tc-textarea {
      textarea {
        min-height: 0;
        height: 40px !important;
        resize: none;
        overflow: hidden;
        margin-bottom: 0;
      }
    }
  }
}

.panel-body.comment-count-container {
  padding-bottom: 0;

  .card-body {
    padding-bottom: 0;

    &.comment-section {
      hr.no-margin {
        margin-bottom: 0;
      }
    }
  }
}
.comment-panel-body, .topic-panel-body {
  position: relative;
}
.editing-layer {
  z-index: 21;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: whitesmoke;
  opacity: 0.7;
  div {
    text-align: center;
    color: green;
    font-weight: bold;
  }
}

.deleting-layer {
  z-index: 21;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background: #F4F9FF;
  border-radius: 3px;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  div {
    @include roboto-bold;
    font-size: 15px;
    color: #59A7FF;
    letter-spacing: 0;
  }
  &:before {
    width: 0; 
    height: 0; 
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent; 
    
    border-right:12px solid #F4F9FF; 
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    left: -6px;
    
    transform: rotate(-90deg);
    z-index: 18;
  }
}

.delete-post-dialog{

  padding: 50px 40px 50px 40px;
  top                   : 50%;
  left                  : 50%;
  right                 : auto;
  bottom                : auto;
  transform             : translate(-50%, -50%);
  position:absolute;
  background: white;

  box-shadow: 0 2px 9px 0 rgba(38,38,40,0.15);
  border-radius: 6px;
}

.delete-post-dialog-overlay{
  background   : rgba(38, 38, 40, 0.6);
  z-index:20;
  position          : fixed;
  top               : 0;
  left              : 0;
  right             : 0;
  bottom            : 0;
}

.modal-title{
  font-family: Roboto-Medium;
  font-size: 20px;
  color: #47474F;
  line-height: 30px;
}

.modal-body{
  margin-top:20px;
  font-family: Roboto-Regular;
  font-size: 15px;
  color: #747480;
  line-height: 25px;
}

.action-btn {
  margin-left:10px;
}

.action-area{
  margin-top:45px;
}

.dropdownContainer{
  display:inline;
  .down-layer{
    top:22px;
  }
}