@import '~tc-ui/src/styles/tc-includes';

.container {
  display: flex;
  padding: $base-unit 4 * $base-unit;

  &.self:not(.is-deleting):hover {
    background-color: $tc-gray-neutral-light;

    @media screen and (max-width: $screen-md - 1px) {
      background-color: transparent;
    }
  }

  :global(.drop-down) :global(.down-layer) {
    left: auto;
    right: - 2 * $base-unit;
    top: 2 * $base-unit;
  }

  @media screen and (max-width: $screen-md - 1px) {
    padding-left: 3 * $base-unit;
    padding-right: 3 * $base-unit;
  }
}

.avatar {
  width: 40px;
}

.body {
  flex: 1;
  margin-left: 2 * $base-unit;
  position: relative;
  min-width: 0;
}

.text {
  a,
  a:hover {
    color:$tc-dark-blue-110;
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

.info {
  font-size: 13px;
  line-height: 20px;
}

.author {
  @include roboto-bold;
  color: $tc-black;
}

.time,
.edited {
  @include roboto;
  color: $tc-gray-50;

  &::before {
    content: " \B7 ";
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
    margin: 0 $base-unit;
    vertical-align: middle;
  }
}

.controls {
  display: none;
  position: absolute;
  right: 0;
  top: 0;

  .container.self:not(.is-deleting):hover & {
    display: block;

    @media screen and (max-width: $screen-md - 1px) {
      display: none;
    }
  }
}

.text {
  @include roboto;
  color: $tc-black;
  font-size: 13px;
  line-height: 20px;
  overflow-x: auto;
}

.comment-editor {
  background-color: $tc-gray-neutral-light;
  padding-left: 8 * $base-unit;
}

.deleting-layer {
  align-items: center; /* align vertical */
  background-color: $tc-gray-neutral-light;
  bottom: 0;
  display: flex;
  justify-content: center; /* align horizontal */
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;

  > div {
    @include roboto;
    color: $tc-gray-50;
    font-size: 11px;
    height: 20px;
    line-height: 20px;
  }
}

.download-attachment-files {
  margin-top: 10px;
  width: 50%;
  li{
    @include roboto;
    font-size: $tc-label-md;
    color: $tc-dark-blue-110;
    line-height: 1;
    padding: $base-unit 0 $base-unit 0;
    display: flex;

    &.clickable {
      cursor: pointer;
    }

    &.is-active {
      background-color: $tc-gray-neutral-dark;

      &:not(.delete-confirmation-modal):hover {
        background-color: $tc-gray-neutral-dark;
      }
    }

    .button-group {
      margin-left: auto;
      padding-left:20px;
      width: 110px;
    }

    .buttons{
      visibility: hidden;
      margin-right: 5px;
      margin-left: auto;
      button {
        padding: 0;
        background: transparent;
        border: none;
        cursor: pointer;
        opacity: 0.4;
        height: 16px;
        width: 16px;
        background-size: 16px;
        display: inline-block;
        margin-left: 15px;
      }
    }
    a {
      color: $tc-dark-blue-110;
      line-height: $base-unit*4;
      max-width: 220px;
      text-overflow: ellipsis;
      overflow-x: hidden;

      &:visited {
        color: $tc-dark-blue-110;
      }
    }
  }
  @media screen and (min-width: $screen-md) {
    li:hover{
      background: $tc-gray-neutral-light;
      color: $tc-dark-blue;

      .buttons{
        display: block;
      }
      .link-buttons{
        visibility: visible;
      }
    }
  }

  li:before {
    content: '\b7\a0';
    font-size: 200%;
    color: $tc-dark-blue-110;
    line-height: $base-unit*3;
  }
}
