@import '~tc-ui/src/styles/tc-includes';

.comment {
  background-color: $tc-gray-neutral-light;
  border-radius: 4px;
  margin-top: 3 * $base-unit;
  padding: 2 * $base-unit 2 * $base-unit 3 * $base-unit 2 * $base-unit;

  &.is-bundled {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
  }


  &:not(.is-bundled) + .comment.is-bundled {
    margin-top: -15px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

.date {
  @include roboto;
  color: $tc-gray-50;
  font-size: 13px;
  line-height: 40px;
}

.text {
  @include roboto;
  color: $tc-gray-70;
  font-size: 15px;
  line-height: 25px;
  margin-top: 1 * $base-unit;

  > p + p {
    margin-top: 25px;
  }
}