@import 'tc-styles';

.ProjectListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: calc(4 * #{$base_unit});
  // max-width: 960px;
  margin: 0px auto;
  border-bottom: 1px solid rgba(163, 163, 174, 0.3);
  @media (max-width: 700px) {
    display: block;
    padding: calc(2 * #{$base_unit});
  }

  .projectName {
    width: 40%;
  }

  .projectCurrentPhase {
    width: 20%;
    text-align: center;
  }

  .projectStartsOn {
    text-align: center;
    width: 20%;
  }

  .projectEndsOn {
    text-align: center;
    width: 20%;
  }
}

.header {
  background-color: $tc-gray-neutral-light;
}

// ReactCSSTransitionGroup transitions
.project-appear {
  opacity: 0.01;

  &.project-appear-active {
    opacity: 1;
    transition: opacity .25s ease-in;
  }
}
