@import '../../../styles/includes';
@import '~tc-ui/src/styles/tc-includes';
// phase-card style
.phase-card {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 1px 0 #D5D5D5;
  overflow: hidden;
  position: relative;
  
  @include viewSm {
    border-radius: 0;
  }
  &.card-delivered {
    background-color: #FAFAFB;
  }
  &.card-inprogress {
    background-color: #fff;
    &:after {
      content: '';
      z-index: 5;
      border-radius: 50%;
      background-color: #FF5B52;
      width: 8px;
      height: 8px;
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
  &.card-planned {
    background-color: #fff;
  }
  .static-view {
    min-height: 80px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    padding-right: 50px;
    border-radius: inherit;
    @include viewSm {
      min-height: 100px;
      padding-right: 40px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .col {
    &:nth-child(1) {
      flex: 0 500px;
      @include viewSm {
        flex: 1;
        padding-right: 20px;
      }
    }
    &:nth-child(2) {
      flex: 0 140px;
    }
    &:nth-child(3) {
      flex: 0 80px;
    }
    &.show-md {
      display: none;
      @include viewSm {
        display: block;
      }
    }
    &.hide-md {
      display: block;
      @include viewSm {
        display: none;
      }
    }
  }
  .project-details {
    padding-left: 80px;
    position: relative;
    @include viewSm {
      padding-left: 0;
      display: flex;
      flex-wrap: wrap;
      height: 80px;
    }
    .project-ico {
      position: absolute;
      left: 25px;
      top: 0;
      width: 42px;
      height: 42px;
      &.design {
        background: url('assets/icons/product-design-app-visual.svg') 0 50% no-repeat;
        background-size: 30px;
      }
      @include viewSm {
        display: none;
      }
    }
    .project-title {
      color: #151516;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      @include viewSm {
        line-height: 25px;
      }
    }
  }
  h5 {
    color: #404041;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
  }
  .price-details {
    text-align: right;
    padding-right: 18px;
    .meta-list {
      margin-top: 5px;
    }
    @include viewSm {
      height: 70px;
      display: flex;
      flex-wrap: wrap;
    }
  }
  .meta-list {
    color: #808080;
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
    .meta {
      line-height: 20px;
      position: relative;
      &:after {
        content: " • ";
        display: inline-block;
        margin: 0 4px;
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }
  .status-details {
    display: block;
    .status {
      text-align: center;
      color: #808080;
      font-size: 11px;
      font-weight: 400;
      line-height: 20px;
      padding-top: 25px;
      &.delivered {
        background-repeat: no-repeat;
        background: url('assets/icons/ui-rocket.svg') 50% 4px no-repeat;
        background-size: 16px;
      }
      &.planned {
        background-repeat: no-repeat;
        background: url('assets/icons/ui-calendar.svg') 50% 4px no-repeat;
        background-size: 16px;
      }
      &.inprogress {
        padding-top: 0;
        display: block;
      }
    }
  }
  .toggle-arrow {
    position: absolute;
    right: 7px;
    width: 40px;
    height: 80px;
    background: url('assets/icons/arrow-minimal-right.svg') 50% 50% no-repeat;
    background-size: 15px;
    cursor: pointer;
    transition: 0.25s;
    &:hover {
      opacity: 0.7;
    }
    @include viewSm {
      right: 0;
    }
  }
  /*  expandable-view */
  .expandable-view {
    display: none;
  }
  &.expanded {
    .expandable-view {
      display: block;
    }
    .toggle-arrow {
      transform: rotate(90deg);
    }
  }
  :global {
    .project-progress {
      margin: 0;
      width: 40px;
      height: 40px;
      position: relative;
      margin: 0 auto;
      .CircularProgressbar {
        width: 40px;
        height: 40px;
      }
      .progress-remaining {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: 1;
        height: 40px;
        line-height: 38px;
        .progress-text {
          color: #0681FF;
          font-size: 10px;
          font-weight: 400;
          line-height: 12px;
          text-align: center;
          .unit {
            display: none;
          }
        }
      }
    }
  } // progressbar
  .progressbar {
    display: none;
    @include viewSm {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 5px;
      background-color: #E0E0E0;
      .fill {
        position: absolute;
        left: 0;
        top: 0;
        height: 5px;
        background-color: #0681FF;
      }
    }
  }
}