@import '../../../../../styles/includes';
@import '~tc-ui/src/styles/tc-includes';
// project-progress specific styles
.milestone-post {
  position: relative;
  border-radius: 4px;
  color: $tc-black;
  height: auto;
  min-height: $base-unit*10;
  line-height: $base-unit*10;
  @include roboto;
  font-weight: 400;
  font-size: 15px;

  &.warning {
    background-color: $tc-red-10;
  }

  &.primary {
    background-color: $tc-dark-blue-30;
  }

  .hide-sm {
    display: inline-block;
  }
  .dot {
    position: absolute;
    background-color: $tc-white;
    border: 2px solid $tc-gray-30;
    border-radius: 100%;
    width: 8px;
    height: 8px;
    left: -22px;
    top: calc(50% - 4px);
    z-index: 2;
  }
  /* mobile view specific style */
  @include viewSm {
    height: auto;
    min-height: $base-unit*10;
    line-height: $base-unit*8;
    border-radius: 0;
    .hide-sm {
      display: none;
    }
  }

  .label-layer {
    height: inherit;
    position: relative;
    line-height: inherit;
    z-index: 1;
    padding: 2 * $base-unit 3 * $base-unit 3 * $base-unit 3 * $base-unit;
    .label-title {
      font-weight: 500;
      line-height: 20px;
      padding: 2 * $base-unit 0;
      text-align: center;
    }
    .group-content {
      line-height: 50px;
      justify-content: space-between;
      text-align: left;
      color: $tc-gray-80;
      font-size: 13px;
      font-weight: 400;
      line-height: 20px;
      @include viewSm {
        min-width: 100px;

        &.hide-sm{
          display: none;
        }
      }
    }

    .group-selection {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      font-weight: 400;
      margin-top: 15px;

      .label-group {
        align-items: center;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;

        @media screen and (max-width: 480px - 1px) {
          flex-wrap: wrap;
        }
      }

      .label {
        display: flex;
        input {
          width: 20px;
          margin: auto 5px auto 20px;
          box-shadow:none;
        }

        @media screen and (max-width: 480px - 1px) {
          width: 100%;
        }
      }
    }

    .group-button {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap-reverse;
      justify-content: center;
      align-items: center;
      margin-top: 2 * $base-unit;
      button {
        margin: $base-unit;
        font-size: 13px;
        font-weight: 500;
      }
    }
  }

  /* in-progress state */
  &.in-progress {
    .dot {
      background-color: $tc-white;
      border: 2px solid $tc-dark-blue-100;
    }
  }

  /* completed state */
  &.completed {
    .dot {
      background-color: $tc-dark-blue-100;
      border: 2px solid $tc-dark-blue-100;
    }
  }
}
