// this is to include tc styles in the output library
@import '~tc-ui/src/styles/tc-includes';

:global {
  .profile-settings-avatar {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    > .label {
      @include roboto;
      color: $tc-gray-70;
      font-size: 13px;
      line-height: 20px;
      text-align: center;
    }

    > .photo {
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
      background: #D5D5D5;
      border-radius: 50%;
      height: 80px;
      width: 80px;
    }

    > .controls {
      margin-left: 20px;

      > .file-btn {
        > button {
          @include roboto-medium;
          background-color: #0681FF;
          border-radius: 4px;
          height: 30px;
          border: none;
          color: $tc-white;
          font-size: 13px;
          line-height: 30px;
        }
      }
    }
  }
}
