// this is to include tc styles in the output library
@import '~tc-ui/src/styles/tc-includes';

:global {
  .profile-settings-form {
    padding: 0px 20px;

    @media screen and (max-width: $screen-md - 1px) {
      padding: 0px;
    }

    > .field {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      @media screen and (max-width: $screen-md - 1px) {
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 20px 0px 10px;
      }

      &:not(:first-child) {
        margin-top: 32px;

        @media screen and (max-width: $screen-md - 1px) {
          margin-top: 20px;
        }
      }

      .label {
        @include roboto-medium;
        flex: 1 0 120px;
        min-width: 180px;
        max-width: 200px;
        text-align: right;
        padding-right: 15px;
        color: $tc-gray-80;
        font-size: 15px;
        line-height: 18px;

        @media screen and (max-width: $screen-md - 1px) {
          flex: none;
          margin-bottom: 10px;
          margin-left: 10px;
          text-align: left;
        }
      }

      > .radio-group-input {
        display: flex;
        justify-content: center;

        > .radio-group-options {
          flex-wrap: wrap;
        }
      }

      .input-field {
        flex-grow: 1;
        max-width: 450px;

        @media screen and (max-width: $screen-md - 1px) {
          width: 100%;
          max-width: none;
        }

        > label {
          display: none;
        }

        > input {
          margin-bottom: 0px;

          &[disabled] {
            border: 1px solid $tc-gray-neutral-dark;
            border-radius: 4px;
            background-color: $tc-gray-neutral-light;
          }
        }

        :global(.dropdown-wrap) {
          margin-left: 0;
          margin-bottom: 0;
        }
         :global(.Dropdown) {
          overflow-y: scroll;
          height: 120px;
        }
      }

      .zip-container {
        display: flex;
        max-width: 450px;
        flex-grow: 1;

        @media screen and (max-width: $screen-md - 1px) {
          flex-direction: column;
          align-items: flex-start;
        }
      }

      .zip {
        max-width: 30px;
        min-width: 30px;
        margin-left: 40px;
        margin-right: 15px;
        text-align: center;
        line-height: 40px;

        @media screen and (max-width: $screen-md - 1px) {
          margin: 30px 0px 15px 5px;
          line-height: 0px;
        }
      }

      .zip-input {
        max-width: 80px;
      }

      .phone-input-container .tc-label {
        display: none;
      }

      .phone-input-container .dropdown-wrap {
        height: 38px;
      }

      .phone-input-container .check-success-icon {
        position: absolute;
        top: 14px;
        right: -20px;
        width: 10px;
        height: 10px;
      }

      .phone-input-container > .input-container > input {
        margin-bottom: 0;
      }
    }

    .section-heading {
      @include roboto-bold;
      background-color: $tc-gray-neutral-dark;
      border-radius: 4px 4px 0 0;
      height: 50px;
      color: $tc-black;
      font-size: 15px;
      text-align: left;
      line-height: 50px;
      padding-left: 20px;
      margin-bottom: 40px;

      &:not(:first-child) {
        margin-top: 60px;

        @media screen and (max-width: $screen-md - 1px) {
          margin-top: 20px;
        }
      }
    }

    > .controls {
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
    }
  }
}

.requiredMarker {
  color: $tc-red-100;
  vertical-align: super;
  font-size: 11px;
}

.fieldLabelText {
  vertical-align: top;
}

.warningText {
  margin: 5px auto;
  @include roboto;

  font-size: 13px;
  line-height:20px;
  font-style:italic;
  border: 1px solid $tc-orange-30;
  background: $tc-red-10;
  color: $tc-orange-70;
  padding:10px;
  border-radius: 2px;
}