@import 'tc-includes';

.feature-preview {
  text-align: center;
  // padding: (8 * $base-unit) (12 * $base-unit) ;
  // background: url('p') no-repeat;
  background-color: $tc-gray-neutral-light;
  background-position: 50% 22px;
  padding: 8 * $base-unit;
  border-left: 1px solid $tc-dark-blue-30;
  min-width: 260px;
  display: block;
  position: relative;

  .icon-feature-preview-img {
    /*padding: (8 * $base-unit) (12 * $base-unit) ;*/
    width: 100%;
    max-width: 273px;
  }
  
  img {

    /*max-height: 500px;*/
  }
}
.mask {
  margin: 100px;
}