@import 'tc-includes';

.feature-preview {
  text-align: center;
  /*padding: (8 * $base-unit) (12 * $base-unit) ;*/
  /*background: url('./images/Device-iPhone.svg') no-repeat;*/
  background-color: #FBFDFF;
  background-position: 50% 22px;
  padding: 8 * $base-unit;
  border-left: 1px solid $tc-dark-blue-30;
  .feature-preview-img {
    background: url('./images/Device-iPhone.svg') no-repeat;
    /*padding: (8 * $base-unit) (12 * $base-unit) ;*/
    padding: 9.18vh 1.57vw;
    height: 78.5vh;
    background-size: contain;
  }
  img {
    max-height: 100%;
  }
}