@import 'tc-includes';
$card-max-width: 180px;
// Used to calculate the available height for the left-side column
$header-height: 60px;
$footer-height: 0;

button {
  &.clean {
    background-color: transparent;
    border-radius: 0;
    border: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
    font: inherit;
    line-height: inherit;
    font-weight: inherit;
    text-transform: inherit;
  }

  &:active,
  &:focus {
    outline: none;
  }
}

.define-features {
  background-color: $tc-white;
  text-align: left;
  height: 100%;

  .close {
    background-color: initial;
  }

  > h2 {
    font-size: $tc-heading-md;
    background-color: $tc-gray-neutral-light;
    color: $tc-black;
    padding: 3 * $base_unit;
    height: $header-height;
    // border-bottom: 1px solid $tc-gray-10;

    .selected-feature-count {
      color: $tc-gray-30;
    }
  }

  h5 {
    color: $tc-black;
  }

  > main {
    width: 100%;
    border-top: 1px solid $tc-gray-20;
    height: 100%;

    .features {
      min-width: 320px;
      width: 320px;
      max-width: 320px;
      background-color: $tc-gray-10;
      border-right: 1px solid $tc-gray-20;
      position: relative;
      // Main container, scroll according to the content displayed inside.
      overflow-y: scroll;
      height: calc(100% - #{$header-height});

      .feature-categories-list {
        width: 100%;
        padding: 4 * $base-unit 0;

        .add-custom-feature {
          text-align: center;
          margin-top: 2 * $base-unit;
          border-top: 1px solid $tc-gray-30;
          padding-top: 2 * $base-unit;

          .custom-feature-btn-desc {
            @include roboto;
            @include tc-label-md;
            color: $tc-gray-50;
            padding: 2 * $base-unit 4 * $base-unit;
          }

          button {
            margin: 4 * $base-unit 0px;
          }
        }
      }

      .features-overlay {
        background-color: $tc-gray-neutral-dark;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.3;
        width: 100%;
        height: 100%;
      }
    }

    .features-content {
      max-width: 660px;
      width: 100%;
      position: relative;
    }

    .features-content {
      max-width: 660px;
      width: 100%;
      position: relative;
    }

    .feature-form-instructions {
      padding: 8 * $base-unit;

      h3 {
        @include tc-heading;
      }

      p {
        @include tc-label-md;
        color: $tc-gray-50;
      }
    }
  }
}