@import '../../../styles/includes';
@import '~tc-ui/src/styles/tc-includes';
// project-progress specific styles

:global {
  .modal-title {
    @include roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
  }
  .modal-body {
    @include roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
  }
}

.milestone-post-specification {
  @include roboto;
  padding-bottom: 10px;
  
  &.in-progress {
    &:before{
      content: '';
      width: 4px;
      background-color: #fff;
      position: absolute;
      left: 16px;
      top: -25px;
      bottom: 0;
    }
  }
  .invoice-wrap {
    margin-top: 10px;
  }

  .group-bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    
    button {
      margin: 0 5px 0 5px;
    }
  }
}