@import '~tc-ui/src/styles/tc-includes';

.btn-all-members {
  text-align: center;
  margin-top: 8px;
}

.loading-indicator-wrapper {
  display: flex;
  justify-content: center;
}

.btn-selected-members {
  margin-top: 10px;
}

.dialog-sub-title {
  @include  roboto;

  margin-top: 30px;
  margin-bottom: 10px;
}