@import '~tc-ui/src/styles/tc-includes';
@import '../../styles/includes';

.container{
  position: relative;
}
.label {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $tc-white;
  color: $tc-dark-blue-100;
  border: 1px solid $tc-dark-blue-100;
  border-radius: 10px;
  width: 125px;
  height: 20px;
  font-weight: 700;
  font-size: 10px;
  svg{
    margin-left: 5px;   
    margin-right: -5px;
  }
}

.btn{
  width: 84px; 
  border-radius: 20px !important;
  white-space: nowrap;
  margin: 5px;
  svg{
    width: 13px;
    height: 13px; 
    margin-left: -7px;
    margin-right: 4px;
  }
}
.reject-btn{
  padding-left: 15px; 
}
.popup{
  position: absolute;
  z-index: 15;
  top: 25px;
  right:1px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $tc-white;
  border-radius: 6px;
  box-shadow: 0 5px 35px 5px rgba(21, 21, 22, 0.1), 0 10px 14px 0 rgba(21, 21, 22, 0.3);
  width: 212px;
  height: 70px;
}
