@import '~tc-ui/src/styles/tc-includes';

:global {
  //TODO  Additional variables - need to find a home for these
  $sideBarWidth: 280px;
  $sideBarMaxWidth: 360px;

  @mixin flexBox {
    display: flex;
    flex-direction: row;
    width: auto;
  }

  @mixin flexWidth($number) {
    -webkit-box-flex: $number;
    -moz-box-flex: $number;
    -webkit-flex: $number;
    -ms-flex: $number;
    flex: $number;
  }

  .editProjectForm {
    .tc-file-field__inputs {
      height: 45px;
    }
    /* .tc-file-field__inputs */
    .tc-file-field__inputs,
    .tc-textarea {
      /*background: $tc-gray-neutral-light;
      border-color: $tc-gray-20;
      color: $tc-black;*/

      &::-webkit-input-placeholder {
        color: $tc-gray-50;
        text-transform: none;
      }

      &::-moz-placeholder {
        line-height: 45px;
        color: $tc-gray-50;
        opacity: 1;
        text-transform: none;
      }

      &:-ms-input-placeholder {
        color: $tc-gray-50;
        text-transform: none;
      }
    }
    /* .dashed-bottom-border */
    .app-screen-header {
      border-bottom: 1px solid $tc-gray-30;
      display: flex;
      justify-content: space-between;
      padding: 15px 0;
      position: relative;

      .screen-title,
      .project-name {
        @include roboto;
        color: black;
        font-weight: bold;
      }

      .screen-title {
        font-size: 18px;
      }

      .project-name {
        font-size: 20px;
      }

      button.tc-btn-xs {//TODO ideally we should fix it in react-components repo
        padding-top: 2px;
        padding-bottom: 2px;
      }
    }
    /* .bottom-border-titles */
    .bottom-border-titles {
      border-bottom: 1px solid $tc-gray-30;
      padding-bottom: $base-unit;
      margin: 30px 0 20px 0;
      position: relative;

      .title {
        @include roboto;
        font-size: 20px;
        line-height: 30px;
      }

      .section-actions {
        position: absolute;
        right: 0;
        top: 0;
        padding: 0 15px;

        &.hide {
          display: none;
        }
      }
    }

    .sub-title {
      margin: 30px 0 10px;

      .title {
        font-size: 15px;
        line-height: 25px;
        color: $tc-gray-80;

        span {
          color: $tc-orange;
          font-size: 15px;
          padding-left: 5px;
        }
      }
    }

    /* this selector is too common and it's applied to .spec-question-list thought it shouldn't
      if also has big priority so we have to fix it here */
    form > div:not(.spec-question-list) {
      box-shadow: 0px 1px 3px 0px rgba($tc-black, 0.2);
    }

    .title {
      color: $tc-gray-80;
      @include roboto-bold;
    }

    .right-area-item {
      padding: 0 0 70px 0;
      margin-bottom: 20px;
      border-radius: 4px;
      background-color: $tc-white;

      @media screen and (max-width: $screen-md - 1px) {
        margin-bottom: 0;
        padding-bottom: 4 * $base-unit;
      }

      .boxes {
        margin: 0 50px;

        @media screen and (max-width: $screen-md - 1px) {
          margin: 0 4 * $base-unit;
        }
      }

      .big-titles {
        @include roboto-light;
        font-size: 28px;
        color: $tc-gray-70;
        line-height: 30px;
        padding: 30px 0 30px 6%;
        margin: 0 -50px 20px;
        border-radius: 4px 4px 0 0;
        background: $tc-gray-neutral-light;
        border-bottom: 1px dashed $tc-gray-20;

        @media screen and (max-width: $screen-md - 1px) {
          margin: 0 -4 * $base-unit 20px;
          padding: 4 * $base-unit;
        }

        h2 {
          @media screen and (max-width: $screen-md - 1px) {
            line-height: 8 * $base-unit;
          }
        }

        .optional,
        .required {
          @include roboto;
          position: absolute;
          right: 0;
          font-size: 13px;
          float: right;
          padding: 0 20px;
          border-radius: 20px 0 0 20px;
        }

        .required {
          background: $tc-orange-70;
          color: $tc-white;
        }

        .optional {
          background: $tc-gray-10;
          color: $tc-gray-50;
        }
      }

      .gray-text {
        @include roboto;
        font-size: 15px;
        color: $tc-gray-50;
        line-height: 25px;

        strong {
          font-weight: bold;
        }
      }

      &.design-specification-two {
        padding-bottom: 1px;
      }

      &.option-groups {
        padding-bottom: 46px;
      }
    }

    .tab-nav {
      .center-area {
        margin: 0 0 0 111px;

        .btn-nav {
          padding: 0 15px;
          float: left;
          @include roboto;
          font-size: 13px;
          color: $tc-gray-80;
          line-height: 16px;
        }
      }
    }

    .section-additional-notes {
      .textarea-title {
        @include roboto;
        font-size: 13px;
        color: $tc-gray-70;
        line-height: 20px;
        padding-bottom: 10px;
      }

      textarea {
        height: 45px;
        max-width: 100%;
        text-align: left;
        text-indent: 0;
        resize: vertical;
      }
    }

    .right-area-footer {
      @include tc-label-sm;
      color: $tc-gray-50;
      margin-top: 4 * $base_unit;

      @media screen and (max-width: $screen-md - 1px) {
        display: none;
      }
    }

    .contents-list {
      .right-area {
        padding-left: 40px;

        .title {
          @include roboto-bold;
          font-size: 15px;
          letter-spacing: 0px;
          line-height: 25px;
        }

        .txt {
          @include roboto;
          font-size: 13px;
          color: $tc-gray-80;
          line-height: 25px;
        }
      }

      &.part-one {
        .icons {
          width: 16px;
          height: 16px;
          float: left;
          margin-top: 3px;
        }

        .icon-box {
          background-position: -28px -29px;
        }

        .icon-magic {
          background-position: -4px -52px;
        }
      }
    }

    form div:last-of-type .section-footer-spec {
      margin-bottom: 0;
    }

    .section-footer-spec {
      @media screen and (max-width: $screen-md - 1px) {
        border-top: 1px dashed $tc-gray-20;
        border-radius: 0;
      }
    }

    .tc-link {
      @include roboto;
    }

    .SelectDropdown {
      margin-bottom: 20px;
    }

    .edit-screen-footer {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 40px;
      position: relative;
    }

    .screen-number-reached-message {
      @include roboto;
      color: white;
    }

    .prompt {
      text-align: center;
      z-index: 999;
      left: 0;
      right: 0;
      margin: auto;
      position: absolute
    }

    .icon-refresh path {
      fill: $tc-white;
    }

    .SliderRadioGroup .rc-slider-mark {
      // position: relative;
    }

  }
}
