@import 'tc-includes';

.ProjectToolBar {
  height: 60px;
  background-color: $tc-white;
  padding: 10px 20px;
  width: 100%;

  @media screen and (max-width: $screen-md) {
    height: 40px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .project-name {
    color: $tc-black;
  }

  .MenuBar {
    margin-right: 30px;

    @media screen and (max-width: $screen-md) {
      order: 1;
      margin-right: 7px;
    }

    li {
      a {
        color: $tc-gray-50;
      }

      a:hover {
        color: $tc-black;
      }

      &.selected {
        border-bottom-color: $tc-orange-70;
        a {
          color: $tc-black;
        }
      }
    }

    &.horizontal li {
      position: relative;

      a {
        @media screen and (max-width: $screen-md) {
          padding-bottom: 0;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}
