@import '../../../../../../styles/includes';
@import '~tc-ui/src/styles/tc-includes';

.milestone-post {

  .top-space {
    padding-top: $base-unit;
  }

  /* milestone heading */
  .milestone-heading {
    background-color: $tc-dark-blue-30;
    border-radius: 4px 4px 0 0;
    padding: 0 15px;
    font-weight: 500;
    height: 50px;
    line-height: 50px;
    position: relative;

    &.no-line:before{
      content: '';
      width: 4px;
      background-color: #fff;
      position: absolute;
      left: -20px;
      top: -25px;
      bottom: 0;
    }

    &.sepeartion-md{
      margin-top: 5px;
    }

    &.selected-theme {
      background-color: $tc-gray-neutral-dark;
      color: $tc-black;
    }
    &.rejected-theme {
      background-color: $tc-gray-neutral-dark;
      color: $tc-gray-50;
    }
    &.open {
      cursor: pointer;

        &:after {
          content: '';
          background: url('../../../assets/icons/arrow-minimal-right.svg') 0 50% no-repeat;
          transform: rotate(90deg);
          width: 16px;
          height: 16px;
          position: absolute;
          top: 18px;
          right: 12px;
        }
    }
    &.close {
      cursor: pointer;
      border-radius: 4px;

      &:after{
        content: '';
        background: url('../../../assets/icons/arrow-minimal-right.svg') 0 50% no-repeat;
        width: 16px;
        height: 16px;
        position: absolute;
        top: 18px;
        right: 12px;
      }
    }
  }
  .add-specification-wrap {
    margin-top: 10px;
    &.separation-sm {
      margin-top: 5px;
    }
  }

  .hide-progress-bar {
    :before {
      content: '';
      width: 4px;
      background-color: #fff;
      position: absolute;
      left: -20px;
      top: -25px;
      bottom: 0;
    }
  }
  .message-bar {
    background-color: $tc-yellow-30;
    border-radius: 10px;
    text-align: center;
    font-size: 13px;
    font-style: italic;
    line-height: 15px;
    padding: $base-unit;
    position: relative;
  }
  .action-bar {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding-top: $base-unit;
    padding-bottom: $base-unit;
    position: relative;

    button {
      margin: $base-unit;
    }
  }
}
