@import '~tc-ui/src/styles/tc-includes';
@import '../../../../styles/variables';


:global {
  .walkthrough-column {
    position: relative;
    text-align: center;
    padding: 20px 56px;
    @media screen and (max-width: $screen-sm - 1px) {
      padding: 20px 26px;
    }

    .header-text-wrapper {
      margin-bottom: 6 * $base-unit;

      h3 {
        color: $tc-gray-70;
        @include roboto-medium;
        font-size: 28px;
        letter-spacing: 0px;
        line-height: 36px;

        @media screen and (max-width: $screen-sm - 1px) {
          font-size: 18px;
          line-height: 22px;
        }
      }
    }

    .project-card-new {
      margin: 0 auto 6 * $base-unit;
      height: 400px;
      min-width: 280px;
      max-width: 460px;

      @media screen and (max-width: $screen-md - 1px) {
        height: auto;
      }
    }

    .subtext {
      font-size: 14px;
      @include roboto;
      color: $tc-gray-70;

      a {
        color: $tc-dark-blue;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
