@import '../../../../../styles/includes';
@import '~tc-ui/src/styles/tc-includes';
// timeline-post specific css
.timeline-post {
  display: flex;
  position: relative;
  padding: 10px 0;
  background: #fff;

  :global(.loading-indicator) {
    height: auto;
  }

  @include roboto;
  a {
    color: #0681FF;
  }
  .background {
    height: 30px;
    top: 10px;
    position: absolute;
    left: 0px;
    right: 0;
    &.hover {
      background: #F4F9FF
    };
  }
  .status-ring {
    background-color: #FFFFFF;
    border: 3px solid #AAAAAB;
    border-radius: 100%;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 10px;
    top: 7px;
    z-index: 3;
  }
  .col-date {
    background-color: #fafafb;
    flex: 0 70px;
    padding: 10px 20px 10px 10px;
    margin: -10px 0;
    width: 70px;

    .month {
      color: #404041;
      font-size: 10px;
      font-weight: 400;
      letter-spacing: 0.4px;
      text-align: right;
      position: relative;
      text-transform: uppercase;
    }
    .day {
      color: #19191A;
      font-size: 15px;
      font-weight: 500;
      line-height: 20px;
      text-align: right;
      position: relative;
    }
  }
  .col-timeline-post-con {
    position: relative;
    padding-left: 36px;
    padding-right: 20px;
    flex: 1;

    &.completed {
      &:before {
        content: '';
        position: absolute;
        background-color: #cee6ff;
        width: 2px;
        width: 2px;
        left: 17px;
        top: 10px;
        bottom: -30px;
        z-index: 2;
      }
      .status-ring {
        background: #0681FF url('../../../../../assets/icons/ui-check-small.svg') 50% 50% no-repeat;
        background-size: 16px;
        border: 3px solid #0681FF;
      }
    }
    &.in-progress {
      &:before {
        content: '';
        position: absolute;
        background-color: #0681ff;
        width: 2px;
        width: 2px;
        left: 17px;
        top: 10px;
        bottom: 23px;
      }
      .status-ring {
        background: #ffffff;
        background-size: 16px;
        border: 3px solid #0681FF;
      }
    }

    .dot {
      bottom: 22px;
      position: absolute;
      background-color: #ffffff;
      border: 2px solid #0681FF;
      border-radius: 100%;
      width: 8px;
      height: 8px;
      left: 14px;
      z-index: 3;
    }

    &.completed .dot {
      background-color: #0681FF;
    }

    .file-wrap,
    .progress-wrap,
    .invoice-wrap,
    .add-specification-wrap {
      margin-top: 10px;

      &.seperation-sm{
        margin-top: 5px;
      }
    }
  }
  .post-title-container {
    padding: 0;
    margin: 0;
    display: flex;
    align-content: space-between;
    .post-title {
      color: #151516;
      font-size: 15px;
      font-weight: 500;
      line-height: 30px;
      text-align: left;
    }

  }
  .post-edit {
    padding-left: 20px;
    margin-left: auto;
    margin-right: 0;
    background: url('../../../../../assets/icons/ui-pencil.svg') 0 50% no-repeat;
    opacity: 0.5;
    &:hover {
      opacity: 1;
      .tooltiptext {
        visibility: visible;
      }
    }

    .tooltiptext {
      visibility: hidden;
      background-color: black;
      color: #fff;
      text-align: center;
      padding: 3px 10px;
      position: absolute;
      z-index: 100;
      bottom: 100%;
      right: 0%;
      margin-left: 60px;
      font-size: 13px;
      font-weight: 400;
      line-height: 25px;

      &:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: 50px;
        border-width: 5px;
        border-style: solid;
        border-color: black transparent transparent transparent;
      }
    }
  }
  .post-con {
    color: #6B6B6B;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    &.isHide {
      display: none;
    }
    strong{
      font-weight: bold;
    }
    i{
      font-style: italic;
    }
    a{
      &:hover{
        text-decoration: underline;
      }
    }
  }
  .isHide {
    display: none;
  }

  &:last-child {
    .col-timeline-post-con.completed::before {
      bottom: 23px;
    }
  }

}
