@import 'tc-includes';

.item-id {
  .spacing {
    padding-left: 20px;
    min-width: 50px;
  }
}
.item-projects {
  .project-metadata {
    display: flex;
    align-items: center;
    margin-top: $base-unit;

    span + span {
      margin-left: $base-unit;
    }

    .blue-block,
    .green-block,
    .purple-block {
      width: auto;
      height: inherit;
      padding: 0px 2 * $base-unit;
      line-height: 4 * $base-unit;
      color: $tc-white;
    }

    .item-ref-code {
      background: $tc-gray-10;
      font-size: $tc-label-md;
      color: $tc-gray-50;
      border-radius: 2px;
      line-height: 4 * $base-unit;
      padding: 0px 2 * $base-unit;
    }
  }
}
.item-status  .spacing {
  min-width: 85px;
}
.item-status-date  .spacing {
  min-width: 42px;
}
.item-customer  .spacing {
  min-width: 130px;
}
.item-copilot  .spacing {
  min-width: 105px;
}
.item-price  .spacing {
  min-width: 75px;
}


/* .txt-price */
.txt-price {
  @include roboto-medium;
  font-size: $tc-label-md;
  color: #202A36;
  text-align: center;
  height: 20px;
  line-height: $base-unit + 16;
  min-width: 54px;
  padding-right: 5px;
  padding-left: 5px;
  background: $tc-gray-neutral-dark;
  border-radius: 13px;
  display: inline-block;
  margin-top: 3px;
  &.yellow-light {
    background: $tc-gold-30;
  }
}
.txt-gray-sm {
  font-size: $tc-label-sm;
  color: $tc-gray-50;
  line-height: $base-unit * 4;
  display: block;
  // margin: 2px 0 0 6px;
}
.txt-gray-md {
  font-size: $tc-label-md;
  color: $tc-gray-50;
}

.project-creation-dialog-overlay {
  position : fixed;
  top : 0;
  left : 0;
  right : 0;
  bottom : 0;
  z-index: 21;/* +1 of the z-index of the topbar */
  background-color: $tc-gray-neutral-dark;
  overflow-y: scroll;

  section.content {
    padding: 1px 0;
  }
}

.project-creation-dialog {
  top: 0px;
  left: 0px;
  height: 100%;
}

.project-creation-dialog-close {
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  text-align: center;

  & .x-mark-icon {
    width: 100%;
    height: 100%;
  }
}
