@import 'tc-includes';

.stack-avatar-0 {
  position: relative;
  display: block;
  float: left;
  z-index: 3;
}

.stack-avatar-1 {
  position: relative;
  display: block;
  float: left;
  left: -10px;
  z-index: 2;
}

.stack-avatar-2 {
  position: relative;
  display: block;
  float: left;
  left: -20px;
  z-index: 1;
}

.plus-user {
  position: relative;
  @include roboto-bold;
  font-weight: 700;
  font-size: 12px;
  color: $tc-gray-80;
  top: 7px;
  left: -10px;
}