@import 'tc-includes';
  
  .project-card-header {
    flex: 1;
    .project-header {
      display: flex;
      flex-direction: row;
      min-height: 40px;
      max-height: 40px;
      overflow: hidden;

      .project-header-details {
        display: flex;
        flex-direction: column;
        margin-left: 2 * $base_unit;
        line-height: 3 * $base_unit;

        .project-name {
          color: $tc-black;
        }

        .project-date {
          @include tc-body-extra-small;
          text-transform: uppercase;
          line-height: 4 * $base_unit;
          color: $tc-gray-50;
        }
      }
    }
  }

 