@import '~tc-ui/src/styles/tc-includes';

:global {
  .list-nav-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 12px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;

    @media screen and (max-width: $screen-md - 1px) {
      margin-top: 4 * $base-unit;
    }

    @media screen and (max-width: $screen-sm - 1px) {
      margin: 0 0 4 * $base-unit 0;
    }

    .left-wrapper {
      flex: 1 1 auto;
      .primary-filter {
        position: absolute;
        top: 60px;
        right: 0;

        @media screen and (min-width: $screen-sm) {
          display: none;
        }
      }
    }

    .right-wrapper {
      flex: 0 0 250px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-end;

      @media screen and (max-width: $screen-md - 1px) {
        flex: 0 0 120px;
      }

      @media screen and (max-width: $screen-sm - 1px) {
        display: none;
      }

      .list-nav-item {
        flex: 1;
      }
    }

    .list-nav-item {
      position: relative;
      display: block;

      &.nav-icon {
        flex: 0 0 46px;

        @media screen and (max-width: $screen-md - 1px) {
          text-align: right;
        }
      }
    }

    .primary-filter {
      margin-right: 20px;

      .tc-switch .label {
        white-space: nowrap;
      }
    }

    .list-nav-btn {
      position: relative;
      display: inline-block;
      background-color: transparent;

      &:focus {
        outline: 0;
      }

      &.lg {
        padding: 0 15px;
        margin-right: 5px;
        font-size: 13px;
        line-height: 30px;
        @include roboto-medium;
        color: $tc-gray-50;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &.sm {
        width: 36px;
        height: 30px;
      }

      &.active,
      &:hover {
        color: $tc-black;
        @include roboto-medium;
        font-size: 13px;
        background-color: $tc-white;
        border-radius: 6px;
        box-shadow: 0px 1px 3px 0px $tc-gray-30;
      }

      &.right {
        justify-content: flex-end;
      }

      &.active {
        .grid-view-ico g,
        .card-view-ico path {
          fill: $tc-black;
        }
      }

      .grid-view-ico {
        position: relative;
        font-size: 0;
        line-height: 0;
        width: 16px;
        height: 16px;
        display: block;
        position: absolute;
        top: 8px;
        left: 10px;
      }

      .card-view-ico {
        position: relative;
        font-size: 0;
        line-height: 0;
        width: 16px;
        height: 16px;
        display: block;
        position: absolute;
        top: 7px;
        left: 10px;

        &:hover i,
        &.active i {
          font-size: 0;
          line-height: 0;
        }
      }
    }
  }
}
