@import 'tc-includes';

  .project-card-body {
    flex: 2;
    .project-description {
      overflow: hidden;
      max-height: 120px;
      min-height: 120px;
      color: $tc-gray-80;
    
        .read-more-link {
          white-space: nowrap;
          color: $tc-dark-blue-90;
        }
    }

    .project-status {
      border-top: 1px solid $tc-gray-10;
      border-bottom: 1px solid $tc-gray-10;
      padding: 10px 0px;
      display: flex;
      justify-content: center;

      .status-header {
        .status-label {
          text-transform: uppercase;
        }
      }

      .project-progress {
        display: flex;
        .progress-text {
          text-transform: uppercase;
          margin-left: 10px;
          line-height: 16px;
        } 
      }
    }
  }
