@import 'tc-includes';

.project-info {
  display: flex;
  flex-direction: column;
  background-color: $tc-white;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 4 * $base_unit;
  @include tc-label-md;

  .project-card-body {
    .project-description {
      max-height: 120px;
      min-height: 10px;
      margin-bottom: 4 * $base_unit;
    }
  }

  .project-info-header {
    display:flex;
    fill: $tc-gray-50;
  }

}

.panel {
  box-shadow:none !important;
}