@import '~tc-ui/src/styles/tc-includes';

:global {
  .project-info {
    display: flex;
    flex-direction: column;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding-bottom: 25px;
    @include tc-label-md;

    @media screen and (max-width: $screen-md - 1px) {
      border-radius: 0;
      margin-top: 4 * $base_unit;
      padding-bottom: 0;
    }

    .project-info-review {
      > p {
        @include roboto;
        color: $tc-gray-80;
        font-size: 13px;
        line-height: 20px;
        padding: 0 4 * $base-unit;

        > a,
        > a:hover,
        > a:visited,
        > a:active {
          color: $tc-dark-blue-110;
        }
      }
    }

    .delete-project-modal {
      margin-bottom: 2 * $base-unit;
    }

    .project-status {
      margin-bottom: 10px;
      padding-left: 4 * $base_unit;
      padding-right: 4 * $base_unit;
    }

    .project-status-header {
      @include roboto-bold;
      color: $tc-black;
      font-size: 11px;
      line-height: 20px;
      text-transform: uppercase;
    }

    .project-status-time {
      @include roboto;
      color: $tc-gray-70;
      font-size: 10px;
      letter-spacing: 0.8px;
      line-height: 20px;
      margin-top: $base_unit;
      text-transform: uppercase;
      white-space: nowrap;
      float: left;
    }

    .project-status-ref {
      @include roboto-medium;
      background-color: $tc-gray-10;
      border-radius: 4px;
      color: $tc-gray-50;
      font-size: 13px;
      height: 20px;
      line-height: 20px;
      padding: 0 2 * $base-unit;
      margin-top: $base-unit;
      white-space: nowrap;
      float: right;
    }

    .project-card-body {
      padding-left: 4 * $base_unit;
      padding-right: 4 * $base_unit;
      z-index: 1;

      @media screen and (max-width: $screen-md - 1px) {
        min-height: 0;
      }

      .project-description {
        max-height: 120px;
        min-height: 10px;
        word-wrap: break-word;

        @media screen and (max-width: $screen-md - 1px) {
          .read-more-link {
            display: none;
          }
        }
      }
    }
  }
}

.project-name {
  @include roboto-bold;

  font-size: 22px;
  line-height: 30px;
  color: $tc-gray-90;
  margin-top: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
}
