@import '~tc-ui/src/styles/tc-includes';

:global {
  .project-info {
    display: flex;
    flex-direction: column;
    background-color: $tc-white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding-bottom: 25px;
    @include tc-label-md;

    @media screen and (max-width: $screen-md - 1px) {
      border-radius: 0;
      margin-top: 4 * $base_unit;
      padding-bottom: 0;
    }

    .project-info-review {
      > p {
        @include roboto;
        color: $tc-gray-80;
        font-size: 13px;
        line-height: 20px;
        padding: 0 4 * $base-unit;

        > a,
        > a:hover,
        > a:visited,
        > a:active {
          color: $tc-dark-blue-110;
        }
      }
    }

    .delete-project-modal {
      margin-bottom: 2 * $base-unit;
    }

    .project-status {
      margin-bottom: 10px;
      padding-left: 4 * $base_unit;
      padding-right: 4 * $base_unit;
    }

    .project-status-header {
      @include roboto-bold;
      color: $tc-black;
      font-size: 11px;
      line-height: 20px;
      text-transform: uppercase;
    }

    .project-status-info {
      display: flex;
      justify-content: space-between;
    }

    .project-status-time {
      @include roboto;
      color: $tc-gray-50;
      font-size: 10px;
      letter-spacing: 0.4px;
      line-height: 15px;
      margin-top: $base_unit;
      text-transform: uppercase;
      white-space: nowrap;
    }

    .project-status-ref {
      @include roboto-medium;
      background-color: $tc-gray-05;
      border-radius: 4px;
      color: $tc-gray-50;
      font-size: 13px;
      height: 20px;
      line-height: 20px;
      padding: 0 2 * $base-unit;
      white-space: nowrap;
    }

    .project-status-progress {
      margin: 2 * $base-unit 0;
    }

    .project-card-body {
      padding-left: 4 * $base_unit;
      padding-right: 4 * $base_unit;
      z-index: 1;
      min-height: 135px;

      @media screen and (max-width: $screen-md - 1px) {
        min-height: 0;
      }

      .project-description {
        max-height: 120px;
        min-height: 10px;
        margin-bottom: 5 * $base_unit;
        word-wrap: break-word;

        @media screen and (max-width: $screen-md - 1px) {
          .read-more-link {
            display: none;
          }
        }
      }
    }

    .project-info-header {
      display: flex;
      fill: $tc-gray-50;
      justify-content: space-between;
      padding-left: 4 * $base_unit;
      padding-right: 4 * $base_unit;
      padding-top: 4 * $base_unit;

      .project-delete-icon {
        margin-top: 4px;
        margin-left: $base_unit;
      }
    }
  }
}

