@import '~tc-ui/src/styles/tc-includes';

:global {
  //TODO  Additional variables - need to find a home for these
  $sideBarWidth: 280px;
  $sideBarMaxWidth: 360px;

  .spec-section-edit-button {
    align-items: center;
    border: 0;
    display: flex;
    height: 20px;
    justify-content: center;
    margin-left: -25px;
    margin-top: 3px;
    opacity: 0.5;
    padding: 0;
    position: absolute;
    width: 20px;

    &:hover {
      opacity: 1;
    }
  }

  // here we repeat styles for disabled textarea and inputs from tc-ui
  .spec-section-readonly-text-value {
    color: $tc-gray-80;
    font-size: $tc-body-md;
    line-height: 24px;
    // margin-top: 3 * $base-unit;
    -webkit-text-fill-color: $tc-gray-50;
  }

  .spec-section-actions {
    display: flex;
    justify-content: center;
    padding-top: 2 * $base-unit;

    button + button {
      margin-left: 2 * $base-unit;
    }
  }

  .tc-file-field__inputs {
    height: 45px;
  }
  /* .tc-file-field__inputs */
  .tc-file-field__inputs,
  .tc-textarea {
    /*background: $tc-gray-neutral-light;
    border-color: $tc-gray-20;
    color: $tc-black;*/

    &::-webkit-input-placeholder {
      color: $tc-gray-50;
      text-transform: none;
    }

    &::-moz-placeholder {
      line-height: 45px;
      color: $tc-gray-50;
      opacity: 1;
      text-transform: none;
    }

    &:-ms-input-placeholder {
      color: $tc-gray-50;
      text-transform: none;
    }
  }
  /* .dashed-bottom-border */
  .app-screen-header {
    border-bottom: 1px solid $tc-gray-30;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    position: relative;

    .screen-title,
    .project-name {
      @include roboto;
      color: black;
      font-weight: bold;
    }

    .screen-title {
      font-size: 18px;
    }

    .project-name {
      font-size: 20px;
    }

    button.tc-btn-xs {//TODO ideally we should fix it in react-components repo
      padding-top: 2px;
      padding-bottom: 2px;
    }
  }
  /* .bottom-border-titles */
  .bottom-border-titles {
    border-bottom: 1px solid $tc-gray-30;
    padding-bottom: $base-unit;
    margin: 30px 0 20px 0;
    position: relative;

    .title {
      @include roboto;
      font-size: 20px;
      line-height: 30px;
    }

    .section-actions {
      position: absolute;
      right: 0;
      top: 0;
      padding: 0 15px;

      &.hide {
        display: none;
      }
    }
  }

  .sub-title {
    margin: 30px 0 10px;

    .title {
      font-size: 15px;
      line-height: 25px;
      color: $tc-gray-80;

      span {
        color: $tc-orange;
        font-size: 15px;
        padding-left: 5px;
      }
    }
  }

  /* .section-features-module */
  .section-features-module {
    margin-top: 20px;

    @media screen and (max-width: $screen-md - 1px) {
      margin-top: 8 * $base-unit;
    }

    &.open {
      .content-boxes {
        display: block;
      }

      .bg-contents,
      .btn-gray-border {
        display: none;
      }
    }

    .row {
      margin-bottom: 5px;
    }

    .bg-contents {
      @include roboto-medium;
      font-size: 15px;
      color: $tc-purple-70;
      background: $tc-purple-10;
      // letter-spacing: 10px;
      width: 100%;
      height: 40px;
      line-height: 40px;
      text-align: center;
    }

    .content-boxes {
      display: none;
    }

    .textarea-title {
      @include roboto;
      font-size: 13px;
      color: $tc-gray-70;
      line-height: 20px;
      padding-bottom: 10px;
    }

    textarea {
      min-height: 45px;
      max-width: 100%;
      text-align: left;
      text-indent: 0;
      resize: none;
      overflow: hidden;
    }
  }

  .section-header {
    display: flex;
    justify-content: space-between;

    .section-number {
      @include tc-label-lg;
      color: $tc-gray-30;
      padding-right: 6 * $base-unit;

      @media screen and (max-width: $screen-md - 1px) {
        padding-right: 0;
      }
    }
  }

  .section-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $tc-gray-neutral-light;
    height: 70px;
    margin-top: -70px;
    margin-bottom: 20px;
    border-radius: $corner-radius * 2;

    @media screen and (max-width: $screen-md - 1px) {
      border-radius: 0;
      height: 80px;
      margin-top: 0;
    }
  }

  .section-footer-spec {
    border-radius: 0 0 $corner-radius * 2 $corner-radius * 2;
    // margin-top: -10px;
    // margin-bottom: $base-unit * 4;

    // &:last-child {
    //   margin-bottom: 0;
    // }

    > button + button {
      margin-left: 2 * $base-unit;
    }
  }

  /* .section-file-interface */
  .section-file-interface {
    .tc-textarea {
      padding: 5px 10px;
      font-size: 13px;
      background: $tc-gray-neutral-light;
      min-height: 55px;
      max-width: 100%;
      line-height: 20px;
      resize: vertical;
    }

    .dashed-bottom-border {
      border-top: 1px dashed $tc-gray-20;
      border-bottom: none;
    }

    .textarea-boxes {
      display: none;
    }

    .row {
      &.hover-after {
        .edit-box {
          display: block;
          float: right;
        }
      }

      &.edit-status {
        .tc-file-field__inputs,
        .textarea-boxes,
        .edit-box {
          display: block;
        }

        .title,
        .txt,
        .right-txt {
          display: none;
        }

        .status {
          .icon-pen {
            background-position: -24px 0;
            margin-top: 4px;
          }

          .icon-delete {
            background-position: -24px -48px;
            margin-top: 4px;
          }
        }
      }
    }

    .edit-box {
      display: none;

      .icons {
        width: 24px;
        height: 24px;
        vertical-align: middle;
        margin-top: -2px;
        margin-left: 10px;
      }

      .icon-pen {
        background-position: -48px 0;
      }

      .icon-delete {
        background-position: -72px 0;
      }
    }

    .contents-list {
      .titles {
        @include roboto-medium;
        font-size: 15px;
        color: $tc-gray-50;
        line-height: 20px;
        margin-bottom: 2px;
      }
    }

    .icon-zip {
      background-position: -51px -27px;
      width: 42px;
      height: 42px;
      float: left;
      margin-top: 3px;
    }

    .icon-pen {
      background-position: 0 0;
    }

    .right-area {
      &.padding-left60 {
        padding-left: 60px;
      }

      .tc-file-field__inputs {
        width: 80%;
        margin-right: 100px;
        display: none;
        @include roboto-bold;

        &.height100 {
          height: 100px;
          line-height: 10px;
        }

        &.width {
          width: 100%;
        }
      }

      .zip-title-bar {
        position: relative;

        .status {
          float: right;

          .txt {
            @include roboto;
            font-size: 15px;
            color: $tc-gray-50;
            letter-spacing: 0px;
            line-height: 20px;
          }
        }

        &:after {
          clear: right;
        }
      }
    }
  }
  /* .dashed-boxes */
  .dashed-boxes {
    border: 1px dashed $tc-gray-30;
    text-align: center;
    margin-bottom: 20px;
    background: $tc-gray-neutral-light;
    border-radius: 2px;

    .title {
      @include roboto-medium;
      font-size: 15px;
      letter-spacing: 0px;
      line-height: 20px;
    }

    .gray-txt {
      @include roboto;
      font-size: 15px;
      color: $tc-gray-60;
      line-height: 20px;
    }

    .btn-boxes {
      margin-top: 10px;
    }

    .tc-btn-primary {
      position: relative;
      cursor: pointer;
      height: 30px;
      line-height: 30px;
      padding: 0 13px;
      display: inline-block;
    }

    .file-box {
      opacity: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      position: absolute;
      left: 0;
      top: 0;
      margin: 0;
      z-index: 555;
    }

    .icon-file {
      background-position: -4px -28px;
      width: 15px;
      height: 17px;
      vertical-align: middle;
    }

    &.drag-boxes {
      padding: 20px 0;
    }

    &.flie-list-boxes {
      .flie-list {
        border-bottom: 1px dashed $tc-gray-30;
        padding-bottom: 5px;
      }

      .row {
        text-align: left;
        padding: 10px 20px;

        .file-name {
          @include roboto-bold;
          font-size: 15px;
          color: $tc-gray-80;
          letter-spacing: 0px;
          line-height: 20px;
          padding-left: 7px;
        }

        .upload-status {
          @include roboto;
          font-size: 15px;
          color: $tc-gray-50;
          // letter-spacing: 0px;
          line-height: 20px;
          float: right;
        }

        .white-bar {
          width: 100%;
          height: 4px;
          margin-top: 5px;
          background: $tc-gray-20;
          border-radius: 12px;
          position: relative;

          .blue-bar {
            background: $tc-dark-blue-70;
            border-right: 2px solid $tc-gray-neutral-light;
            border-radius: 10px 0px 0px 10px;
            height: 4px;
            position: absolute;
            left: 0;
            top: 0;

            &.width23 {
              width: 23%;
            }

            &.width75 {
              width: 75%;
            }
          }
        }
      }

      .file-list-bottom {
        .txt {
          color: $tc-gray-80;
          @include roboto-bold;
        }
        padding: 20px 0;
      }
    }
  }
  /* .section-form-option */
  .section-form-option {
    .bottom-border-titles {
      margin-bottom: 20px;
    }

    .titles {
      text-align: left;
      @include roboto-bold;
      font-size: 15px;
      color: $tc-gray-80;
      line-height: 25px;
    }

    .gray-txt {
      @include roboto;
      font-size: 15px;
      color: $tc-gray-60;
      line-height: 20px;
    }

    .content-boxes {
      margin-top: -20px;
    }

    .checkbox-group {
      margin-top: 10px;
    }

    .group-item {
      display: inline-block;
      vertical-align: middle;
      margin-right: 42px;
    }

    .radios-group {
      margin-top: 10px;
    }

    .radio {
      float: left;
    }

    .ul-list {
      .hide {
        display: none;
      }

      li {
        position: relative;

        .text,
        .point {
          @include roboto-medium;
          font-size: 15px;
          color: $tc-black;
          line-height: 18px;
          padding: 10px 0;
          @include roboto-bold;
          color: $tc-gray-80;
        }
      }

      .btn-delete {
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -14px;

        &:hover .icon-delete {
          background-position: -96px 0;
          width: 24px;
          height: 24px;
        }
      }

      .point {
        display: inline-block;
        margin-right: 20px;
      }

      .icons.icon-delete {
        background-position: -24px -48px;
        width: 24px;
        height: 24px;
      }
    }

    .input-box {
      margin-top: 15px;
    }

    .btn-input-boxes {
      position: relative;
      margin-top: 15px;
      padding-right: 64px;

      .tc-file-field__inputs {
        width: 100%;
      }

      .btn-gray-border {
        width: 54px;
        position: absolute;
        right: 0;
      }
    }
  }

  .project-name-section {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;

    &.read-optimized {
      margin-bottom: 0px;

      .editable-project-name {
        flex: 0;
      }

      .refcode-read-optimized {
        @include roboto;
        color: $tc-gray-50;
        font-style: italic;
        margin-left: 10px;
      }
    }

    @media screen and (max-width: $screen-sm - 1px) {
      flex-direction: column;
      margin-bottom: 11 * $base-unit;
    }

    .editable-project-name {
      flex: 1;

      @media screen and (max-width: $screen-sm - 1px) {
        width: 100%;
      }
    }

    .dashed-bottom-border {
      flex: 1;
      min-height: 40px;
      border-bottom: 1px dashed $tc-gray-20;

      .project-name {
        word-break: break-all;
        font-size: 20px;
        /*margin-top: 10px;*/
      }
    }

    .read-only-refcode {
      height: 40px;
      align-self: flex-end;
      border-bottom: 1px solid $tc-gray-20;
      padding: 10px;
      position: relative;
      margin-left: 20px;

      .refcode-desc {
        @include roboto;
        font-size: 13px;
        color: $tc-gray-30;
        position: absolute;
        bottom: -20px;
        left: 0;
        width: 100%;
        text-align: center;
        font-style: italic;
        white-space: nowrap;
      }
    }

    .textinput-refcode {
      position: relative;
      width: 100px;
      height: 100%;
      margin-left: 10px;

      @media screen and (max-width: $screen-sm - 1px) {
        margin-left: 0;
        margin-top: 4 * $base-unit;
        width: 100%;
      }

      .refcode-desc {
        @include roboto;
        font-size: 12px;
        line-height: 20px;
        color: $tc-gray-50;
        position: absolute;
        bottom: -20px;
        font-style: italic;
      }

      .project-refcode {
        input {
          background-color: $tc-gray-neutral-light;
          border-bottom: 1px solid $tc-gray-40;
        }
      }
    }

    .textinput-codes {
      position: relative;
      width: 100px;
      height: 100%;
      margin-left: 10px;

      @media screen and (max-width: $screen-sm - 1px) {
        margin-left: 0;
        margin-top: 4 * $base-unit;
        width: 100%;
      }

      .codes-desc {
        @include roboto;
        font-size: 12px;
        line-height: 20px;
        color: $tc-gray-50;
        position: absolute;
        bottom: -20px;
        font-style: italic;
      }

      .project-codes {
        input {
          background-color: $tc-gray-neutral-light;
          border-bottom: 1px solid $tc-gray-40;
        }
      }
    }
  }

  .section-features-module {
    margin-top: 20px;

    @media screen and (max-width: $screen-md - 1px) {
      margin-top: 8 * $base-unit;
    }

    &.open {
      .content-boxes {
        display: block;
      }

      .bg-contents,
      .btn-gray-border {
        display: none;
      }
    }

    .row {
      margin-bottom: 5px;
    }

    .bg-contents {
      @include roboto-medium;
      font-size: 15px;
      color: $tc-purple-70;
      background: $tc-purple-10;
      // letter-spacing: 10px;
      width: 100%;
      height: 40px;
      line-height: 40px;
      text-align: center;
    }

    .content-boxes {
      display: none;
    }

    .textarea-title {
      @include roboto;
      font-size: 13px;
      color: $tc-gray-70;
      line-height: 20px;
      padding-bottom: 10px;
    }

    .message-title {
      @include roboto;
      font-size: 15px;
      color: $tc-orange-70;
      line-height: 20px;
      padding-bottom: 10px;
      text-align: center;
      font-style: italic;
    }

    textarea {
      min-height: 40px;
      max-width: 100%;
      text-align: left;
      text-indent: 0;
      resize: none;
      overflow: hidden;
      padding-top: 7px;
      padding-bottom: 7px;
      line-height: 24px;
    }
  }

  .section-header {
    display: flex;
    justify-content: space-between;

    .section-number {
      @include tc-label-lg;
      color: $tc-gray-30;
      padding-right: 6 * $base-unit;

      @media screen and (max-width: $screen-md - 1px) {
        padding-right: 0;
      }
    }
  }

  .section-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $tc-gray-neutral-light;
    height: 70px;
    margin-top: -70px;
    margin-bottom: 20px;
    border-radius: $corner-radius * 2;

    @media screen and (max-width: $screen-md - 1px) {
      border-radius: 0;
      height: 80px;
      margin-top: 0;
    }
  }

  .section-footer-spec {
    border-radius: 0 0 $corner-radius * 2 $corner-radius * 2;
    // margin-top: -10px;
    // margin-bottom: $base-unit * 4;

    // &:last-child {
    //   margin-bottom: 0;
    // }
  }

  /* .section-file-interface */
  .section-file-interface {
    .tc-textarea {
      padding: 5px 10px;
      font-size: 13px;
      background: $tc-gray-neutral-light;
      min-height: 55px;
      max-width: 100%;
      line-height: 20px;
      resize: vertical;
    }

    .dashed-bottom-border {
      border-top: 1px dashed $tc-gray-20;
      border-bottom: none;
    }

    .textarea-boxes {
      display: none;
    }

    .row {
      &.hover-after {
        .edit-box {
          display: block;
          float: right;
        }
      }

      &.edit-status {
        .tc-file-field__inputs,
        .textarea-boxes,
        .edit-box {
          display: block;
        }

        .title,
        .txt,
        .right-txt {
          display: none;
        }

        .status {
          .icon-pen {
            background-position: -24px 0;
            margin-top: 4px;
          }

          .icon-delete {
            background-position: -24px -48px;
            margin-top: 4px;
          }
        }
      }
    }

    .edit-box {
      display: none;

      .icons {
        width: 24px;
        height: 24px;
        vertical-align: middle;
        margin-top: -2px;
        margin-left: 10px;
      }

      .icon-pen {
        background-position: -48px 0;
      }

      .icon-delete {
        background-position: -72px 0;
      }
    }

    .contents-list {
      .titles {
        @include roboto-medium;
        font-size: 15px;
        color: $tc-gray-50;
        line-height: 20px;
        margin-bottom: 2px;
      }
    }

    .icon-zip {
      background-position: -51px -27px;
      width: 42px;
      height: 42px;
      float: left;
      margin-top: 3px;
    }

    .icon-pen {
      background-position: 0 0;
    }

    .right-area {
      &.padding-left60 {
        padding-left: 60px;
      }

      .tc-file-field__inputs {
        width: 80%;
        margin-right: 100px;
        display: none;
        @include roboto-bold;

        &.height100 {
          height: 100px;
          line-height: 10px;
        }

        &.width {
          width: 100%;
        }
      }

      .zip-title-bar {
        position: relative;

        .status {
          float: right;

          .txt {
            @include roboto;
            font-size: 15px;
            color: $tc-gray-50;
            letter-spacing: 0px;
            line-height: 20px;
          }
        }

        &:after {
          clear: right;
        }
      }
    }
  }
  /* .dashed-boxes */
  .dashed-boxes {
    border: 1px dashed $tc-gray-30;
    text-align: center;
    margin-bottom: 20px;
    background: $tc-gray-neutral-light;
    border-radius: 2px;

    .title {
      @include roboto-medium;
      font-size: 15px;
      letter-spacing: 0px;
      line-height: 20px;
    }

    .gray-txt {
      @include roboto;
      font-size: 15px;
      color: $tc-gray-60;
      line-height: 20px;
    }

    .btn-boxes {
      margin-top: 10px;
    }

    .tc-btn-primary {
      position: relative;
      cursor: pointer;
      height: 30px;
      line-height: 30px;
      padding: 0 13px;
      display: inline-block;
    }

    .file-box {
      opacity: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      position: absolute;
      left: 0;
      top: 0;
      margin: 0;
      z-index: 555;
    }

    .icon-file {
      background-position: -4px -28px;
      width: 15px;
      height: 17px;
      vertical-align: middle;
    }

    &.drag-boxes {
      padding: 20px 0;
    }

    &.flie-list-boxes {
      .flie-list {
        border-bottom: 1px dashed $tc-gray-30;
        padding-bottom: 5px;
      }

      .row {
        text-align: left;
        padding: 10px 20px;

        .file-name {
          @include roboto-bold;
          font-size: 15px;
          color: $tc-gray-80;
          letter-spacing: 0px;
          line-height: 20px;
          padding-left: 7px;
        }

        .upload-status {
          @include roboto;
          font-size: 15px;
          color: $tc-gray-50;
          // letter-spacing: 0px;
          line-height: 20px;
          float: right;
        }

        .white-bar {
          width: 100%;
          height: 4px;
          margin-top: 5px;
          background: $tc-gray-20;
          border-radius: 12px;
          position: relative;

          .blue-bar {
            background: $tc-dark-blue-70;
            border-right: 2px solid $tc-gray-neutral-light;
            border-radius: 10px 0px 0px 10px;
            height: 4px;
            position: absolute;
            left: 0;
            top: 0;

            &.width23 {
              width: 23%;
            }

            &.width75 {
              width: 75%;
            }
          }
        }
      }

      .file-list-bottom {
        .txt {
          color: $tc-gray-80;
          @include roboto-bold;
        }
        padding: 20px 0;
      }
    }
  }
  /* .section-form-option */
  .section-form-option {
    .bottom-border-titles {
      margin-bottom: 20px;
    }

    .titles {
      text-align: left;
      @include roboto-bold;
      font-size: 15px;
      color: $tc-gray-80;
      line-height: 25px;
    }

    .gray-txt {
      @include roboto;
      font-size: 15px;
      color: $tc-gray-60;
      line-height: 20px;
    }

    .content-boxes {
      margin-top: -20px;
    }

    .checkbox-group {
      margin-top: 10px;
    }

    .group-item {
      display: inline-block;
      vertical-align: middle;
      margin-right: 42px;
    }

    .radios-group {
      margin-top: 10px;
    }

    .radio {
      float: left;
    }

    .ul-list {
      .hide {
        display: none;
      }

      li {
        position: relative;

        .text,
        .point {
          @include roboto-medium;
          font-size: 15px;
          color: $tc-black;
          line-height: 18px;
          padding: 10px 0;
          @include roboto-bold;
          color: $tc-gray-80;
        }
      }

      .btn-delete {
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -14px;

        &:hover .icon-delete {
          background-position: -96px 0;
          width: 24px;
          height: 24px;
        }
      }

      .point {
        display: inline-block;
        margin-right: 20px;
      }

      .icons.icon-delete {
        background-position: -24px -48px;
        width: 24px;
        height: 24px;
      }
    }

    .input-box {
      margin-top: 15px;
    }

    .btn-input-boxes {
      position: relative;
      margin-top: 15px;
      padding-right: 64px;

      .tc-file-field__inputs {
        width: 100%;
      }

      .btn-gray-border {
        width: 54px;
        position: absolute;
        right: 0;
      }
    }
  }
}
