@import '~tc-ui/src/styles/tc-includes';

//TODO  Additional variables - need to find a home for these
$gray-color: $tc-gray-50;
$title-color: $tc-gray-80;
@mixin flexBox {
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    width: auto;
}
@mixin flexWidth($number) {
    -webkit-box-flex: $number;
    -moz-box-flex: $number;
    -webkit-flex: $number;
    -ms-flex: $number;
    flex: $number;
}

.feature-selection-dialog {
    top: 0px;
    left: 0px;
    height: 100%;
}
.feature-selection-dialog-close {
    position: absolute;
    top: 10px;
    right: 10px;
}

.two-col-content.content {
    .tc-file-field__inputs {
        height: 30px;
    }
    /* .tc-file-field__inputs */
    .tc-file-field__inputs,.tc-textarea {
        background: #FAFAFB;
        &::-webkit-input-placeholder {
            color: #888894;
            text-transform: none;
        }
        &:-moz-placeholder {
            color: #888894;
            opacity: 1;
            text-transform: none;
        }
        &:-ms-input-placeholder {
            color: #888894;
            text-transform: none;
        }
    }
    /* .dashed-bottom-border */
    .dashed-bottom-border {
        border-bottom: 1px dashed #C3C3C8;
        padding: 15px 0;
        position: relative;
    }
    /* .bottom-border-titles */
    .bottom-border-titles {
        border-bottom: 1px solid $gray-color;
        padding-bottom: 10px;
        margin: 30px 0 20px 0;
        position: relative;
        .title {
            @include roboto;
            font-size: 20px;
            line-height: 30px;
        }
        .btn-gray-border {
            position: absolute;
            right: 0;
            top: 0;
            padding: 0 15px;
            &.hide {
                display: none;
            }
        }
    }
    .container {
        @include flexBox;
        min-width: 1366px;
        background-color: transparent;
        /* .left-area */
        .left-area {
            @include flexWidth(1);
            .left-area-panel {
                margin-right: 20px;
                margin-bottom: 20px;
                background-color: #fff;
                padding: 20px 0;
                border-radius: 4px;
                min-width: 100px;
                .titles {
                    @include roboto-medium;
                    font-size: 15px;
                    color: $gray-color;
                    line-height: 18px;
                    padding: 6px 0;
                    margin: 0 20px;
                    &.normal-txt {
                        color: #262628;
                    }
                }
                .btn-boxes {
                    margin-top: 20px;
                    text-align: center;
                }
            }
        }
        .right-area {
            @include flexWidth(2);
            border-radius: 4px;
            .title {
                color: $title-color;
                @include roboto;
            }
            .right-area-item {
                padding: 50px 0 20px 0;
                margin-bottom: 5px;
                border-radius: 4px;
                background-color: #fff;
                .boxes {
                    margin: 0 173px;
                }
                .big-titles {
                    @include roboto-light;
                    font-size: 28px;
                    color: $gray-color;
                    line-height: 30px;
                    margin-bottom: 20px;
                }
                .gray-text {
                    @include roboto;
                    font-size: 15px;
                    color: $gray-color;
                    line-height: 25px;
                }
                &.design-specification-two {
                    padding-bottom: 1px;
                }
                &.option-groups {
                    padding-bottom: 46px;
                }

            }


            .tab-nav {
                .center-area {
                    margin: 0 0 0 111px;
                    .btn-nav {
                        padding: 0 15px;
                        float: left;
                        @include roboto;
                        font-size: 13px;
                        color: #47474F;
                        line-height: 16px;
                    }
                }
            }
            .section-additional-notes {
                .textarea-title {
                    @include roboto;
                    font-size: 13px;
                    color: #5D5D66;
                    line-height: 20px;
                    padding-bottom: 10px;
                }
                textarea {
                    height: 80px;
                    max-width: 100%;
                    color: $gray-color;
                    text-align: left;
                    text-indent: 0;
                    resize: none;
                }
            }

        }
        .contents-list {
            .right-area {
                padding-left: 40px;
                .title {
                    @include roboto-bold;
                    font-size: 15px;
                    letter-spacing: 0px;
                    line-height: 25px;
                }
                .txt {
                    @include roboto;
                    font-size: 13px;
                    color: $gray-color;
                    letter-spacing: 0px;
                    line-height: 25px;
                }
            }
            &.part-one {
                .icons {
                    width: 16px;
                    height: 16px;
                    float: left;
                    margin-top: 3px;
                }
                .icon-box {
                    background-position: -28px -29px;
                }
                .icon-magic {
                    background-position: -4px -52px;
                }
            }

        }
    }
    /* .section-features-module */
    .section-features-module {
        &.open {
            .content-boxes {
                display: block;
            }
            .bg-contents,
            .btn-gray-border {
                display: none;
            }
        }
        .bg-contents {
            @include roboto-medium;
            font-size: 15px;
            color: #B47DD6;
            background: #F8F2FB;
            letter-spacing: 10px;
            width: 100%;
            height: 40px;
            line-height: 40px;
            text-align: center;
        }
        .content-boxes {
            display: none;
        }
        .tabs {
            width: 296px;
            margin: 0 auto 10px auto;
            min-height: 50px;
            position: relative;
            ul {
                width: 100%;
            }
            li {
                background-color: #fff;
                padding: 7px 0;
                a {
                    @include roboto;
                    font-size: 13px;
                    color: #47474F;
                    line-height: 16px;
                }
                &:first-child {
                    width: 39%;
                    position: absolute;
                    left: 0;
                }
                &:last-child {
                    width: 61%;
                    position: absolute;
                    right: 0;
                }
                &.active {
                    background: #DCDCE0;
                    box-shadow: inset 0px 1px 3px 0px rgba(71,71,79,0.38);
                    border: none;
                    height: 36px;
                }
            }
        }
    }
    /* .section-file-interface */
    .section-file-interface {
        .tc-textarea {
            padding: 5px 10px;
            font-size: 13px;
            background: #FAFAFB;
            color: #888894;
            min-height: 55px;
            max-width: 100%;
            line-height: 20px;
            resize: none;
        }
        .dashed-bottom-border {
            border-top: 1px dashed #C3C3C8;
            border-bottom: none;
        }
        .textarea-boxes {
            display: none;
        }
        .row {
            &.hover-after {
                .edit-box {
                    display: block;
                    float: right;
                }
            }
            &.edit-status {
                .tc-file-field__inputs,
                .textarea-boxes,
                .edit-box {
                    display: block;
                }

                .title,.txt,.right-txt {
                    display: none;
                }
                .status {
                    .icon-pen {
                        background-position: -24px 0;
                        margin-top: 4px;
                    }
                    .icon-delete {
                        background-position: -24px -48px;
                        margin-top: 4px;
                    }
                }
            }
        }
        .edit-box {
            display: none;
            .icons {
                width: 24px;
                height: 24px;
                vertical-align: middle;
                margin-top: -2px;
                margin-left: 10px;
            }
            .icon-pen {
                background-position: -48px 0;
            }
            .icon-delete {
                background-position: -72px 0;
            }
        }
        .contents-list {
            .titles {
                @include roboto-medium;
                font-size: 15px;
                color: $gray-color;
                line-height: 20px;
                margin-bottom: 2px;
            }
        }
        .icon-zip {
            background-position: -51px -27px;
            width: 42px;
            height: 42px;
            float: left;
            margin-top: 3px;
        }
        .icon-pen {
            background-position: 0 0;
        }
        .right-area {
            &.padding-left60 {
                padding-left: 60px;
            }
            .tc-file-field__inputs {
                width: 80%;
                margin-right: 100px;
                display: none;
                @include roboto-bold;
                &.height100 {
                    height: 100px;
                    line-height: 10px;
                }
                &.width {
                    width: 100%;
                }
            }
            .zip-title-bar {
                position: relative;
                .status {
                    float: right;
                    .txt {
                        @include roboto;
                        font-size: 15px;
                        color: $gray-color;
                        letter-spacing: 0px;
                        line-height: 20px;
                    }
                }
                &:after {
                    clear: right;
                }
            }

        }
    }
    /* .dashed-boxes */
    .dashed-boxes {
        border: 1px dashed #C3C3C8;
        text-align: center;
        margin-bottom: 20px;
        background: #FAFAFB;
        border-radius: 2px;
        .title {
            @include roboto-medium;
            font-size: 15px;
            letter-spacing: 0px;
            line-height: 20px;
        }
        .gray-txt {
            @include roboto;
            font-size: 15px;
            color: #747480;
            line-height: 20px;
        }
        .btn-boxes {
            margin-top: 10px;
        }
            .tc-btn-primary {
                position: relative;
                cursor: pointer;
                height: 30px;
                line-height: 30px;
                padding: 0 13px;
                display: inline-block;
            }
        .file-box {
            opacity: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
            position: absolute;
            left: 0;
            top: 0;
            margin: 0;
            z-index: 555;
        }
        .icon-file {
            background-position: -4px -28px;
            width: 15px;
            height: 17px;
            vertical-align: middle;
        }
        &.drag-boxes {
            padding: 20px 0;
        }
        &.flie-list-boxes {
            .flie-list {
                border-bottom: 1px dashed #C3C3C8;
                padding-bottom: 5px;
            }
            .row {
                text-align: left;
                padding: 10px 20px;
                .file-name {
                    @include roboto-bold;
                    font-size: 15px;
                    color: $title-color;
                    letter-spacing: 0px;
                    line-height: 20px;
                    padding-left: 7px;
                }
                .upload-status {
                    @include roboto;
                    font-size: 15px;
                    color: $gray-color;
                    letter-spacing: 0px;
                    line-height: 20px;
                    float: right;
                }
                .white-bar {
                    width: 100%;
                    height: 4px;
                    margin-top: 5px;
                    background: #DCDCE0;
                    border-radius: 12px;
                    position: relative;
                    .blue-bar {
                        background: #59A7FF;
                        border-right: 2px solid #fafafb;
                        border-radius: 10px 0px 0px 10px;
                        height: 4px;
                        position: absolute;
                        left: 0;
                        top: 0;
                        &.width23 {
                            width: 23%;
                        }
                        &.width75 {
                            width: 75%;
                        }
                    }
                }
            }
            .file-list-bottom {
                .txt {
                  color: $title-color;
                  @include roboto-bold;
                }
                padding: 20px 0;
            }
        }
    }
    /* .section-form-option */
    .section-form-option {
        .bottom-border-titles {
            margin-bottom: 20px;
        }
        .titles {
            text-align: left;
            @include roboto-bold;
            font-size: 15px;
            color: $title-color;
            line-height: 25px;
        }
        .gray-txt {
            @include roboto;
            font-size: 15px;
            color: #747480;
            line-height: 20px;
        }
        .content-boxes {
            margin-top: -20px;
        }
        .checkbox-group {
            margin-top: 10px;
        }
            .group-item {
                display: inline-block;
                vertical-align: middle;
                margin-right: 42px;
            }
        .radios-group {
            margin-top: 10px;
        }
            .radio {
                float: left;
            }
        .ul-list {
            .hide {
                display: none;
            }
            li {
                position: relative;
                .text,.point {
                   @include roboto-medium;
                    font-size: 15px;
                    color: #262628;
                    line-height: 18px;
                    padding: 10px 0;
                    @include roboto-bold;
                    color: $title-color;
                }
            }
            .btn-delete {
                position: absolute;
                right: 0;
                top: 50%;
                margin-top: -14px;
                &:hover .icon-delete {
                    background-position: -96px 0;
                    width: 24px;
                    height: 24px;
                }
            }
            .point {
                display: inline-block;
                margin-right: 20px;
            }
            .icons.icon-delete {
                background-position: -24px -48px;
                width: 24px;
                height: 24px;
            }
        }
        .input-box {
            margin-top: 15px;
        }
        .btn-input-boxes {
            position: relative;
            margin-top: 15px;
            padding-right: 64px;
            .tc-file-field__inputs {
                width: 100%;
            }
            .btn-gray-border {
                width: 54px;
                position: absolute;
                right: 0;
            }
        }
    }

}
