@import '~tc-ui/src/styles/tc-includes';

:global {
  .visual-design-project-estimate-section {
    display: flex;
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
    flex-wrap: wrap;
    flex-direction: row;

    h4.titles {
      width: 100%;
      margin: 0;
      margin-bottom: $base-unit * 2;
      font-size: 12px;
      color: $tc-gray-50;
      text-transform: uppercase;

      @media screen and (max-width: $screen-md - 1px) {
        @include roboto-bold;
        font-size: 14px;
        margin-bottom: 0;
        margin-top: 5 * $base-unit;
        padding: 0;
      }
    }

    .label, .estimate {
      flex-basis: 50%;
      @include tc-label-md;
      @include roboto-bold;
      margin-bottom: $base-unit * 2;

      @media screen and (max-width: $screen-md - 1px) {
        font-size: 15px;
        margin-bottom: 0;
        margin-top: 3 * $base-unit;
      }
    }

    .label {
      color: $tc-gray-50;
    }

    .estimate {
      text-align: right;
      flex: auto;
    }

    .estimate:last-child {
      @media screen and (max-width: $screen-md - 1px) {
        font-size: 22px;
      }
    }
  }
}
