@import 'tc-includes';

.visual-design-project-estimate-section {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;

  h4.titles {
    width: 100%;
    margin-bottom: $base-unit * 2;
    font-size: 12px;
    color: $tc-gray-50;
    text-transform: uppercase;
  }

  .label, .estimate {
    flex-basis: 50%;
    @include tc-label-md;
    @include roboto-bold;
    margin-bottom: $base-unit * 2;
  }

  .label {
    color: $tc-gray-50;
  }

  .estimate {
    text-align: right;
    flex: auto;
  }
}
