@import '~tc-ui/src/styles/tc-includes';

.full-screen-json-editor,
.full-screen-json-editor > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: $tc-gray-neutral-light;
    width: 100%;
    height: 100%;
}