@import '~tc-ui/src/styles/tc-includes';

.container {

  @media screen and (min-width: $screen-md) {
    padding-top: 50px;
  }
}

.secondary-toolbar {
  box-shadow: 0 4px 3px -3px $tc-gray-20, 0 1px 0 0 $tc-gray-20, 0 -1px 0 0 $tc-gray-05;
  position: relative;
  z-index: 5;

  @media  screen and (min-width: $screen-md) {
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    width: 100%;
  }
}

