@import '~tc-ui/src/styles/tc-includes';

.container {
  display: flex;
  flex-direction: column;
}

.can-edit {
  .add-timeline {
    display: flex;
  }

  .bar-segment {
    cursor: pointer;
    pointer-events: all;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  height: 30px;
  align-items: center;
}

.title {
  @include roboto-bold;

  flex: 1;
  margin-right: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $tc-gray-90;
  font-size: 16px;
  line-height: 30px;
}

.add-timeline {
  @include roboto-bold;

  flex-shrink: 0;
  font-size: 12px !important;
  letter-spacing: 0.8px !important;
  font-weight: 700 !important;
  text-transform: uppercase;
  display: none;
}

.bar {
  display: flex;
  height: 20px;
  margin-top: 45px;
}

.bar-segment {
  height: 100%;
  position: relative;
  display: flex;
  background-color: $tc-gray-neutral-light;
  border: 1px solid $tc-gray-10;
  border-left: none;
  padding: 0 34px 0 10px;
  align-items: center;
  pointer-events: none;
  justify-content: space-between;

  &:hover {
    .icon-edit {
      display: flex;
    }
  }
}

.bar-segment-start {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-left: 1px solid $tc-gray-10;

  .past-days {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

}

.bar-segment-end {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.bar-title {
  position: absolute;
  color: $tc-gray-90;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  top: -25px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: calc(100% - 3px)
}

.bar-title-start {
  left: 3px;
}

.bar-title-end {
  right: 3px;
}

.bar-content {
  color:  $tc-gray-60;
  font-size: 10px;
  line-height: 20px;
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 10px;

  &.relative {
    position: relative;
  }
}

.flex-h-center {
  justify-content: center;
}

.past-milestone {
  background: $tc-black;
  border-left: none;
  border-top: none;
  border-bottom: none;

  .bar-content {
    @include roboto-bold;

    color:  $tc-white;
  }

  .icon-edit {
    svg {
      path {
        fill: white;
      }
    }
  }
}

.current-milestone {
  background-color: $tc-gray-10;

  .bar-title {
    @include roboto-bold;

    top: -27px;
  }

  .bar-content {
    @include roboto-bold;

    color:  $tc-pastel-green;
    top: -1px;
  }
}

.past-days {
  background:  $tc-pastel-green;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.past-days-title {
  @include roboto-bold;

  color:  $tc-white;
  position: absolute;
  top: -1px;
  left: 10px;
  font-size: 10px;
  line-height: 20px;
  white-space: nowrap;
}

.icon-edit {
  right: 12px;
  cursor: pointer;
  position: absolute;
  width: 12px;
  height: 12px;
  display: none;
  top: 2px;

  svg {
    width: 12px;
    height: 12px;
  }
}
